[2016-02-17 16:28] ikeyat commented on #1555
See https://github.com/terasolunaorg/guideline/pull/1563#issuecomment-185283897

[2016-02-17 17:40] kazuki43zoo opened #1633 "Spring 4.3より入力チェックエラーメッセージに埋め込み値をプロパティファイルから取得できるように改善される"
## Description
Spring 4.3より、入力チェックエラーメッセージの埋め込む値がString型の場合、埋め込み値に指定された値をキーに実際のメッセージに埋め込む値をメッセージプロパティから取得できるようになる。
この改善により、5.1.0から追加した`@Compare` の `left`や`right` 属性に指定したプロパティ名をキーに、実際のエラーメッセージに埋め込む論理的な項目名をプロパティファイルから取得することできる。

## Possible Solutions
入力チェックのガイドラインに、↑の内容を反映し、実装例を紹介する。

## Affects Version/s
* 5.0.0.RELEASE - 5.1.0.RELEASE
* 1.0.0.RELEASE - 1.0.4.RELEASE

## Fix Version/s
- [ ] 5.2.0

[2016-02-18 03:04] #1307 closed

[2016-02-18 03:08] ikeyat opened #1638 "Translate #1307(add dependency spring-web lib for RestClient )"
## Description
Please translate a modification https://github.com/terasolunaorg/guideline/issues/1307#issuecomment-185085952.
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1630/files

## Fix Version/s
- [x] 5.1.0_en

Updated on 11th March
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-18 03:18] ikeyat opened #1639 "Translate #1522 (WebLogic 12.2でのServlet3.0アップロード検証の結果を反映する)"
## Description
Please translate a modification #1522.
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1571/files

## Fix Version/s
- [x] 5.1.0_en
- [x] 5.0.2

Updated on 23rd March
 - [x] translation/5.1.0
 - [x] translation/5.0.2
 - [x] 5.0.x
 - [x] 5.1.x
 - [x] master

[2016-02-18 03:19] #1522 closed

[2016-02-18 03:20] #1340 closed

[2016-02-18 04:52] ikeyat commented on #1468
OK.
Waiting for other merges.

[2016-02-18 05:07] ikeyat opened #1641 "Translate #1562([Encryption] Class of jdk8 is used)"
## Description
Please translate a modification #1562
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1588/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 24th March
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-18 05:08] #1562 closed

[2016-02-18 05:41] #1598 closed

[2016-02-18 05:55] ikeyat commented on #1525
Please backport

[2016-02-18 06:10] ikeyat opened #1645 "Reflect Eng #1622 (remove 'auto-config' and correspond to spring security 4)"
## Description
Please reflect a modification #1622
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1623/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 6th April
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-18 06:13] #1525 closed

[2016-02-18 06:52] #1596 closed

[2016-02-18 06:57] ikeyat opened #1647 "Translate #1325 (Drastic reconsideration of Spring Security section)"
## Description
Please translate a modification #1325
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1640/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 24th March
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-18 06:58] #1325 closed

[2016-02-18 07:09] ikeyat opened #1648 "Translate #1490 (@JsonView(and ResponseBodyAdvice,RequestBodyAdvice) 対応。)"
## Description
Please translate a modification #1490
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1539/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 24th March
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-18 07:09] #1490 closed

[2016-02-19 01:26] ikeyat commented on #1622
@btsatoutkzy
Some changes at #1623 seem to cause errors. Please consider how to fix them.

[2016-02-19 10:35] #1604 closed

[2016-02-19 10:36] ikeyat opened #1656 "Translate #1604(Add Secure Login Example)"
## Description
Please translate a modification #1604
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1654/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 1st April
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-19 10:55] ikeyat opened #1657 "Translate #1599 (Add session tutorial)"
## Description
Please translate a modification #1599
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1655/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 1st April
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-19 10:56] #1599 closed

[2016-02-19 10:57] #1622 closed

[2016-02-19 11:49] ikeyat opened #1659 "Translate #193 (MultipartFilter使用に関する記載が正確ではない。 )"
## Description
Please translate a modification #193
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1595/files.

## Fix Version/s
- [x] 5.1.0_en
- [x] 5.0.2_en

Updated on 4th April
 - [x] translation/5.1.0
 - [x] translation/5.0.2
 - [x] 5.0.x
 - [x] 5.1.x
 - [x] master

[2016-02-19 11:50] #193 closed

[2016-02-19 14:08] #1557 closed

[2016-02-21 11:47] #1469 closed

[2016-02-22 07:54] btshimizukza commented on #1361
Add 'ERROR` at assertion script.

[2016-02-22 08:59] btyoshikawaa opened #1662 "Resolve rst error when build html (english)."
Resolve following rst error.

[code]

[2016-02-22 11:13] ikeyat commented on #1662
thanks!

[2016-02-22 11:13] #1662 closed

[2016-02-22 11:16] #1468 closed

[2016-02-22 11:46] ikeyat opened #1667 "Translate #1602 (クエリのパラメータでCSRFトークンを送信した場合のエラーハンドリング検証)"
## Description
Please translate a modification #1602
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1651/files.

## Fix Version/s
- [x] 5.1.0_en
- [x] 5.0.2_en

Updated on 4th April
 - [x] translation/5.1.0
 - [x] translation/5.0.2
 - [x] 5.0.x
 - [x] 5.1.x
 - [x] master

[2016-02-22 11:47] #1602 closed

[2016-02-22 12:57] #1467 closed

[2016-02-22 12:58] ikeyat opened #1668 "Translate #1467 (Add change logs for 5.1.0)"
## Description
Please translate a modification #1467
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1614/files.

## Fix Version/s
- [x] 5.1.0_en

Updated on 6th April
 - [x] translation/5.1.0
 - [x] 5.1.x
 - [x] master

[2016-02-22 13:00] ikeyat opened #1669 "Translate #1468 (Add change logs for 5.0.2)"
## Description
Please translate a modification #1468
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1629/files.

## Fix Version/s
- [x] 5.0.2_en

Updated on 6th April
 - [x] translation/5.0.2
 - [x] 5.0.x

[2016-02-22 13:00] ikeyat opened #1670 "Translate #1469 (Add change logs for 1.0.4 )"
## Description
Please translate a modification #1469
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1631/files.

## Fix Version/s
- [ ] 1.0.4_en

[2016-02-23 05:06] lndhu commented on #1548
To kazuki43zoo
素晴らしい解決案で、大変勉強になりました！

[2016-02-23 05:16] #1625 closed

[2016-02-23 05:33] ikeyat opened #1673 "Reflect Eng #1597 (Verify and update external URL Links)"
## Description
Please reflect a modification #1597

## Fix Version/s
- [x] 5.1.0_en
- [x] 5.0.2_en

Updated on 6th April
 - [x] translation/5.1.0
 - [x] translation/5.0.2
 - [x] 5.0.x
 - [x] 5.1.x
 - [x] master

[2016-02-23 05:33] #1597 closed

[2016-02-23 12:31] iwanagah opened #1676 "リリース前最終確認により上がった軽微な修正"
## Description
誤字など最終確認を修正する

## Possible Solutions

## Affects Version/s
* 5.1.0.RELEASE
* 5.0.2.RELEASE
* 1.0.4.RELEASE

## Fix Version/s

## Issue Links

[2016-02-23 12:32] iwanagah commented on #1676
changelog.rstの移行ガイドのリンクが英語版へのリンクになっているので日本語版へのリンクにする

[2016-02-23 12:32] ikeyat commented on #1676
changelogにOnjectMappperという誤字を発見しました

[2016-02-23 12:33] ikeyat commented on #1676
共通Repositoryインタフェースの実装クラスのインスタンスを生成するためのFactoryクラス

が全部インライン化されてる

[2016-02-23 13:18] #1676 closed

[2016-02-24 09:41] ikeyat opened #1679 "Update version to 5.2.0-SNAPSHOT in master"
## Description
 -

## Possible Solutions
 -

## Affects Version/s
 -

## Fix Version/s
- [ ] 5.2.0

## Issue Links
Nothing

[2016-02-24 10:13] btsatoukzn opened #1680 "5.1.0.RELEASEガイドラインPDF目次が表示されない。"
## Description
5.1.0.RELEASE版ガイドラインPDFファイルで、目次の内容が表示されていない。

## Possible Solutions
REST.rstの表において、カラム数設定誤りがあり、それを修正することで目次が表示されるようになる。

## Affects Version/s
- 5.1.0

## Fix Version/s
- [x] 5.2.0
- [x] 5.1.0

## Issue Links

[2016-02-25 01:15] ikeyat commented on #1680
Please backport to ``release/5.1.0.RELEASE``

[2016-02-25 02:24] ikeyat opened #1683 "Optimize the order of chapters and sections"
## Description
主にチュートリアル#54やAppendixなどが散在、肥大化しているので、章構成を体系立てる。

## Possible Solutions
TBD

## Affects Version/s
N/A

## Fix Version/s
- [x] 5.2.0_ja
- 5.2.0_en (via #1896)

## Issue Links
* #54

[2016-02-25 02:26] ikeyat commented on #54
#1683 の中で対応するのでクローズ。

[2016-02-25 02:26] #54 closed

[2016-02-25 02:37] #1680 closed

[2016-02-25 02:38] ikeyat opened #1684 "Reflect Eng #1680 (5.1.0.RELEASEガイドラインPDF目次が表示されない。)"
## Description
Please reflect a modification #1680
Modification refer to https://github.com/terasolunaorg/guideline/pull/1681/files

## Fix Version/s
- [ ] 5.2.0_en (master)
- [ ] 5.1.0_en (translation/5.1.0.RELEASE)

[2016-02-25 09:55] ikeyat opened #1685 "Update version to 5.1.1-SNAPSHOT in 5.1.x"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [ ] 5.1.1

## Issue Links
Nothing

[2016-02-25 10:29] ikeyat opened #1687 "Update version to 5.2.0-SNAPSHOT in master"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [ ] 5.2.0

## Issue Links
Nothing

[2016-02-25 10:36] ikeyat opened #1690 "Update version to 5.0.3-SNAPSHOT in 5.0.x"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [x] 5.0.3
- [x] 5.0.3(reopen)

## Issue Links
Nothing

[2016-02-25 10:42] ikeyat opened #1692 "Update version to 1.0.5-SNAPSHOT in 1.0.x"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [ ] 1.0.5

## Issue Links
Nothing

[2016-02-25 11:00] #1687 closed

[2016-02-25 11:01] #1685 closed

[2016-02-25 11:02] #1692 closed

[2016-02-26 05:43] btundes opened #1694 "Used Deprecated Method for adding warning message and improper handling of the same to be displayed on the view"
## Description
[Refer Code Snippet block explaining ExceptionHandler for Optimistic Locking Failure Exception](http://terasolunaorg.github.io/guideline/5.0.1.RELEASE/en/ArchitectureInDetail/ExclusionControl.html#error-handling-in-case-of-optimistic-locking-failure)

1. Deprecated method ```warn()``` of ```org.terasoluna.gfw.common.message.ResultMessages``` is used to construct the ```ResultMessage

[2016-02-26 05:56] btshimizukza commented on #1694
Hi @btundes , Thanks for reporting.

Should change return type from `String` to `ModelAndView` .
This code occur compile error...

[2016-02-26 06:12] btundes commented on #1694
@btshimizukza
I have modified the contents of the possible solutions.Please confirm if they are fine.

[2016-02-26 06:16] btshimizukza commented on #1694
@btundes :+1:

[2016-02-28 15:38] kazuki43zoo opened #1695 "MyBatis-Spring 1.3.0よりMyBatisの設定ファイルを使う必要がなくなる"
## Description
MyBatis-Spring 1.2.xでは、MyBatisの動作をカスタマイズする場合は設定ファイル(`mybatis-config.xml`) を使用する必要があったが、1.3.0 から直接 `Configuration` を指定することが可能になる。

* https://github.com/mybatis/spring/pull/108

## Possible Solutions

これまで通りMyBatisの設定ファイルを使うか、それともSpringのBean定義ファイルを使う方法をガイドするかを検討し、ガイドラインへ反映する。

## Affects Version/s
* 5.1.0.RELEASE
* 5.0.2.RELEASE
* 1.0.4.RELEASE

## Fix Version/s
- [ ] 5.2.0

## Issue

[2016-02-29 03:23] ikeyat commented on #1694
The existing error of ``String`` or ``ModelAndView`` has been corrected at #1312

[2016-02-29 07:43] ikeyat opened #1696 "Add issue and PR template"
## Description
See https://github.com/blog/2111-issue-and-pull-request-templates

## Possible Solutions
Add ``ISSUE_TEMPLATE.md`` and ``PULL_REQUEST_TEMPLATE.md `` in the root directory.
The templates are written on existing [CONTRIBUTE.md](https://github.com/terasolunaorg/guideline/blob/master/CONTRIBUTING.md).
## Affects Version/s
N/A

## Fix Version/s
- [x] master (5.2.0)
I think backport is no

[2016-02-29 11:20] ikeyat commented on #1568
I claimed by https://github.com/FasterXML/jackson-databind/issues/1145

[2016-03-01 04:14] ikeyat opened #1697 "Add Batch Email Subscription"
## Description
Add a description how to send batch email subscription in the existing email section.
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Email.html

This feature is supposed to be implemented as batch or scheduled task rather than real-time online.

## Possible Solutions
TBD

## Affects Version/s
N/A

## Fix Version/s
- [ ] 5.2.0_ja
- [ ] 5.2.0_en

## Iss

[2016-03-01 04:25] ikeyat opened #1698 "Add health check"
## Description
Add a description of health check that supports
 * replies ``200`` status code and simple ``OK`` response body if it is normal status.
 * replies ``50x`` status code if it is error status.
 * checks DB access with simple validating query.

A candidate for inserting location is here.
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Utilities/index.html

[2016-03-01 07:58] ikeyat opened #1699 "Add description to add a dependency of terasoluna-gfw-string"
## Description
``terasoluna-gfw-string`` など、一部の共通ライブラリはブランクプロジェクトに定義せず、必要に応じて ``<dependency>`` を追加するスタンスをとっているが、``terasoluna-gfw-string`` に対しその旨がガイドラインに明記されていない。

http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Utilities/StringProcessing.html#id9

なお、同様スタンスの ``terasoluna-gfw-validator`` や ``terasoluna-gfw-codepoints`` などはガイドラインにその旨が記載されている。
http://terasolunaorg.githu

[2016-03-01 08:10] ikeyat opened #1700 "Add description which terasoluna-gfw modules are built-in blank project"
## Description
``terasoluna-gfw-string``、 ``terasoluna-gfw-validator`` や ``terasoluna-gfw-codepoints`` などブランクプロジェクトには標準で ``<dependency>`` を含めておらず、必要に応じて ``<dependency>`` が必要なものと、元々``<dependency>`` が定義されているライブラリが区別できるような記述がない。利用者に優しくない。

なお、以下のIssue対応の影響を大きく受けるので注意すること。
https://github.com/terasolunaorg/terasoluna-gfw/issues/508

## Possible Solutions
以下を検討し、どれが良いかを吟味する。
* ブランクプロジェクトの解説の中に、異存関係が定義済み

[2016-03-01 08:13] ikeyat opened #1701 "Enhance Secure Login Example"
## Description
Add some examples for https://github.com/terasolunaorg/guideline/issues/1604
For more detail, TBD...

## Possible Solutions
TBD

## Affects Version/s
* 5.1.0

## Fix Version/s
- [x] 5.2.0_ja
- 5.2.0_en (at #2125)
- ~~5.1.1_ja (TBD)~~
- ~~5.1.1_en (TBD)~~

## Issue Links

[2016-03-01 10:16] ikeyat commented on #1679
Duplicated of https://github.com/terasolunaorg/guideline/issues/1687

[2016-03-01 10:16] #1679 closed

[2016-03-03 18:24] kazuki43zoo opened #1704 "[RESTful Web Service] Spring 4.3よりOPTIONSとHEADがデフォルトでサポートされる"
## Description

Spring 4.3より、Spring MVCのフレームワーク機能としてOPTIONSとHEADが暗黙的にサポートされるため、Controllerで個々で明示的に実装する必要がなくなる。
## Possible Solutions

暗黙的にOPTIONSとHEADがサポートされる旨を記載し、現在記載している実装例を削除する。
## Affects Version/s
- 5.1.0.RELEASE
- 5.0.0.RELEASE - 5.0.2.RELEASE
- 1.0.1.RELEASE - 1.0.4.RELEASE
## Fix Version/s
- [x] 5.3.0
## Issue Links
- https://jira.spring.io/browse/SPR-13130

## ChangeLog

- [x] Yes

[2016-03-03 18:32] kazuki43zoo opened #1705 "[REST Client] Spring 4.3よりAsyncRestTemplateでCleint Interceptorの仕組みが追加される"
## Description

Spring 4.3よりRestTemplateでサポートされているClient Interceptorと同等の仕組みがサポートされる。
## Possible Solutions

ガイドラインにAsyncRestTemplateにはInterceptorの仕組みがない旨を記載しているため、同等の仕組みがある旨を記載する。
使い方の説明やサンプルコードを記載するかは、要検討。
## Affects Version/s
- 5.1.0.RELEASE
## Fix Version/s
\-

## Issue Links
- https://jira.spring.io/browse/SPR-12538
- #2369

[2016-03-08 01:54] btshimizukza commented on #7
5.1.0で全面的に記載内容を見直したので、本Issueはクローズします。

[2016-03-08 01:54] #7 closed

[2016-03-08 01:55] btshimizukza commented on #9
5.1.0で全面的にセキュリティ編の記載内容を見直したので、本Issueはクローズします。

[2016-03-08 01:55] #9 closed

[2016-03-08 01:56] btshimizukza commented on #13
5.1.0で全面的にセキュリティ編の記載内容を見直したので、本Issueはクローズします。

[2016-03-08 01:56] #13 closed

[2016-03-09 06:15] ikeyat opened #1737 "Typo (セッションの利用時のメリットでデメリット)"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/SessionManagement.html#id10

## Possible Solutions
~~セッションの利用時のメリットとデメリット~~

セッション利用時のメリットとデメリット

Fixed at 2016/5/9

## Affects Version/s
* 5.1.0.RELEASE
* 5.0.2.RELEASE

## Fix Version/s
- [x] 5.2.0.RELEASE_ja
- [x] 5.1.1.RELEASE_ja

## Issue Links

[2016-03-09 06:36] #1494 closed

[2016-03-09 07:07] #1510 closed

[2016-03-09 07:21] #1517 closed

[2016-03-09 07:35] #1529 closed

[2016-03-09 07:37] #1533 closed

[2016-03-09 07:39] #1540 closed

[2016-03-09 07:41] #1551 closed

[2016-03-09 07:43] #1559 closed

[2016-03-09 07:54] #1560 closed

[2016-03-09 07:55] #1570 closed

[2016-03-10 04:13] #1523 closed

[2016-03-10 06:27] btarakists opened #1747 "Typo ExceptionHandling sample code"
Description
-----
例外ハンドリングのサンプルのメソッド名がTypoしている。

http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/ExceptionHandling.html#exception-handling-how-to-use-codingpoint-controller-usecase-label

[code]

Possible Solutions
-----

handdleBusinessException　→ handleBusinessException　

Affects Version/s
----
* 5.1.0.RELEASE
* 5.0.2.RELEASE
* 1.0.4.RELEASE

Fix Version/s
---
- [x

[2016-03-10 07:41] attarudes opened #1748 "Typo mistake in JodaTime"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Utilities/JodaTime.html#overview

## Possible Solutions
java.util.Calender -> java.util.Calendar

## Affects Version/s
* 5.1.0.RELEASE
* 5.0.2.RELEASE

## Fix Version/s
- [x] 5.2.0.RELEASE_ja
- [x] 5.2.0.RELEASE_en
- [x] 5.1.1.RELEASE_ja
- [x] 5.1.1.RELEASE_en

## Issue Links

[2016-03-10 16:07] kazuki43zoo commented on #1300
[SPR-13426](https://jira.spring.io/browse/SPR-13426) は「Works as Designed」でクローズされました。PRで修正した場所が `<bind>` タグでも使われていて、そちらの動きを変えずに対応するには少し大変そうで、頑張っても大きな効果がなさそうなのでPR取り下げました。

[2016-03-11 05:14] #1573 closed

[2016-03-11 05:15] #1589 closed

[2016-03-11 05:20] #1594 closed

[2016-03-11 05:20] #1576 closed

[2016-03-11 05:21] #1609 closed

[2016-03-11 06:26] attarudes commented on #1632
@neetapimpalnerkar
Since other issues have been merged, you can proceed further this issue.

[2016-03-11 06:38] #1616 closed

[2016-03-11 09:21] #1638 closed

[2016-03-12 06:23] kazuki43zoo opened #1775 "MyBatis 3.4よりJDBC4.0実装のBLOB/CLOB用のTypeHandlerが追加される"
## Description

MyBatis 3.4より、ガイドラインで紹介していた実装例が標準でサポートされます。
そのため、JDBC 4.0をフルサポートしているJDBCドライバであれば特に追加でTypeHandlerを実装する必要はなくなります。
## Possible Solutions

現在ガイドラインで紹介している実装例は削除し、JDBC 4.0対応のJDBCドライバであれば標準機能でサポートされている旨を補足する。
JDBC 4.0未対応のフォローは要検討。
## Affects Version/s
- 5.1.0.RELEASE
- 5.0.2.RELEASE
- 1.0.4.RELEASE
## Fix Version/s
- [x] 5.3.0
- [ ] 5.3.0 en
## Issue Links
- http://terasolunaorg.github.i

[2016-03-14 02:22] btshimizukza opened #1776 "@Transactionalのtimeoutの扱いに関する説明の追加"
## Description
現在のガイドラインでは、`@Transactinal` の `timeout` 属性 に指定した値がどのように扱われるか説明がない。
Springのリファレンスページでもほとんど説明されていないが、ここで指定した値は、使用するトランザクションマネージャへのヒントであり、トランザクション境界内の処理が指定した時間を超えた時にタイムアウトを保障するものではない。（https://jira.spring.io/browse/SPR-14038 でSpring FrameworkのリーダーであるJuergenのコメントより）
たとえば、JDBCの`DataSource`用のトランザクションマネージャである`DataSourceTransactionManager`を使う場合は、JDBCの`Statement#setQueryTimeout` に残り時間を設定することで

[2016-03-14 02:23] making commented on #1776
see also
http://qiita.com/yoshidan/items/7ce240ead835d48ce2a1

@NaozumiTaromaru 先生はよく知っている件な気がしますが。

[2016-03-14 02:56] btshimizukza commented on #1776
@making

まさに↑の件です。
ちなみに・・MyBatis側に反映されない件は、MyBatis 3.4 + MyBatis 1.3から対応されます。

[2016-03-14 03:22] btshimizukza commented on #1776
MyBatis側での対応は、
https://github.com/mybatis/spring/issues/115

[2016-03-14 04:13] btshimizukza opened #1777 "MyBatis 3.3使用時の@Transactinal(timeout=xxx)は意味がない"
## Description
MyBatis 3.3 + MyBatis-Spring 1.2 だと、`@Transactinal` の `timeout` 属性に指定した値は使用されないため、指定しても意味がない。

## Possible Solutions
MyBatis 3.4 + MyBatis 1.3 (現時点ではリリース時期は未定)では、Springの`JdbcTemplate` 使用時と同様の動きになるように改善されるため、MyBatis + MyBatis-Spring のバージョンをアップするだけでよい。
5.1.1でMyBatisのバージョンアップを行わない場合は、ガイドライン上に補足説明を追加するか検討する。

## Affects Version/s
* 5.1.0.RELEASE
* 5.0.2.RELEASE
* 1.0.4.RELEASE

## Fix V

[2016-03-14 04:20] making commented on #1776
iBatis時代からあった気がするけど、対応されるのか・・・
GJ!

[2016-03-14 16:39] making commented on #1698
Spring Boot ActuatorをBoot以外で使おうとせず、
Spring Bootを素で使うべきかと。

[2016-03-24 05:04] #1632 closed

[2016-03-24 05:07] #1639 closed

[2016-03-28 11:25] #1641 closed

[2016-04-04 01:24] ikeyat opened #1805 "Incorrect attribute names in Authentication"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Security/Authentication.html#springsecurityauthenticationloginform
In the description of the example code.

* ``loginPage`` -> ``login-page``
* ``loginProcessingUrl`` -> ``login-processing-url``

## Possible Solutions
Modify them as above.

## Affects Version/s
* 5.1.0.RELEASE
(5.0.2 has no incorrection for this)

## Fix Vers

[2016-04-05 10:14] #1647 closed

[2016-04-05 11:50] ikeyat opened #1817 "Investigation of test coding guideline"
## Description
We need to consider to add test coding guideline. For example,
- Unit test coding with JUnit4+ and mock libraries
- Integration test coding with JUnit4+ and spring-test
- E2E test coding with JUnit4+ and Selenium

## Possible Solutions
Begin the investigation as internal task.

## Final Solutions
At 5.4.0 Support Unit test coding with JUnit4+ and mock libraries.

## Affects Version/

[2016-04-06 02:27] #1648 closed

[2016-04-06 02:28] #1656 closed

[2016-04-06 02:30] #1659 closed

[2016-04-06 02:31] #1657 closed

[2016-04-06 07:10] #1667 closed

[2016-04-06 07:13] ikeyat commented on #1684
@attarudes
Please confirm PDF can be complied correctly with the latest english ver.

[2016-04-06 08:04] attarudes commented on #1670
Since 1.0.4 version does not contain english version, this issue will be invalid

[2016-04-06 08:04] #1670 closed

[2016-04-06 08:48] ikeyat commented on #1697
This feature is not suitable for online application. We won't do anything as web application framework.

[2016-04-06 08:48] #1697 closed

[2016-04-06 09:11] btooshitahr opened #1829 "not enough quot REST.rst"
## Description
not enough quot in REST.rst

## Possible Solutions
    Especially when the user does not have any experience of RESTful Web Service development, it is recommended to follow a process in the order namely,  "Tutorial practice" --> "Detailed explanation of architecture, design and development (described in subsequent sections) --> "Tutorial revision (Re-practice)".

    "Detailed expla

[2016-04-06 10:37] btooshitahr opened #1830 "problem ImplementationAtEachLayer ApplicationLayer.rst"
## Description
* not enough quot
    * \`\`"sample/hello\`\`
    * \<c:out value=${helloBean.message}" /\>

## Fix Version/s
- [x] 5.2.0_ja
- [x] 5.2.0_en
- [x] 5.1.1_ja
- [x] 5.1.1_en

[2016-04-07 02:25] #1669 closed

[2016-04-07 02:26] #1668 closed

[2016-04-07 09:15] itouyun opened #1836 "Improvements in "Reading this documents" and "Tutorial""
## Description
 * 1.5. このドキュメントの読み方
 * 3. チュートリアル(Todoアプリケーション)

における各種手順の不備が存在する。

### 1. 手順の前後
 * 3.5.1. データベースのセットアップ

の作業は、

 * 3.5.2. MyBatis3を使用したインフラストラクチャ層の作成
 * 3.5.3. Spring Data JPAを使用したインフラストラクチャ層の作成

における「＊＊＊用のブランクプロジェクトの作成でプロジェクト作成し直し」た後でなければ実施できない。
　※blankのtodoではtodo-infra.propertiesが存在しないため

### 2. 手順の説明不足
 * 3.5.2. MyBatis3を使用したインフラストラクチャ層の作成
 * 3.5.3. Spring Data JPAを使用したインフラストラク

[2016-04-07 09:31] ikeyat opened #1838 "Build path for PDF should be variabled"
## Description
https://github.com/terasolunaorg/guideline/blob/master/Makefile#L126
https://github.com/terasolunaorg/guideline/blob/master/Makefile#L139

``cd build/latex; \``
should be
``cd ${BUILDDIR}/latex; \``

## Possible Solutions
See above.

## Affects Version/s
* 5.1.0.RELEASE

## Fix Version/s
- [x] 5.1.0.RELEASE_en

Updated on 8th April
- [x] translation/5.1.0
- [x] master
- [x] 5.1.x

#

[2016-04-08 01:15] #1645 closed

[2016-04-08 03:08] #1829 closed

[2016-04-08 03:57] ikeyat commented on #1684
We confirmed PDF compilation succeeded at 95ad52536f28208ab50903d8ff967f0ae7b567d0

[2016-04-08 03:57] #1684 closed

[2016-04-08 03:58] ikeyat commented on #1684
Actually the original problem exists in Japanese context only. We do nothing about this for English context.

[2016-04-08 04:58] attarudes commented on #1838
@ikeyat

I think backport to ``translation/5.0.2`` and ``5.0.x`` cannot be done since it is already used ``build`` variable instead of constant value.
Also implementation is bit different than latest one.

``$(MAKE) -C $(BUILDDIR)/latex all-pdf-ja``

https://github.com/terasolunaorg/guideline/blob/translation/5.0.2/Makefile#L123
https://github.com/terasolunaorg/guideline/blob/translation/5.0.2/Mak

[2016-04-08 05:52] ikeyat commented on #1838
@attarudes
OK. I removed 5.0.x branches from the target.

[2016-04-08 05:52] #1838 closed

[2016-04-08 06:47] #1673 closed

[2016-04-08 11:04] btooshitahr opened #1850 "Japanese exist in English Guideline"
## Description
Japanese is exists in English Guideline

## Possible Solutions

* guideline/source_en*/ArchitectureInDetail/index.rst
    * TERASOLUNA Server Framework for Java (5.x)の機能詳細
    * 本ガイドラインで想定しているアーキテクチャについて説明する。

* guideline/source_en/ArchitectureInDetail/Internationalization.rst
    *  - | 項番
    *  - | 説明

## Affects Version/s
* 5.1.0.RELEASE

## Fix Version/s
- [x] 5.1.0_en

Updated

[2016-04-08 11:49] #1850 closed

[2016-04-11 04:17] ikeyat commented on #1696
See https://github.com/terasolunaorg/terasoluna-gfw/issues/509 as an example.

[2016-04-13 02:15] btooshitahr opened #1856 "Change the HTTP Proxy Server Setting in RestClient from System Property to ClientHttpRequestFactory"
## Description
If you are using a system property to the proxy settings, it could affect the process other than RestClient.

## Possible Solutions
Change the HTTP Proxy Server Setting in RestClient from System Property to ClientHttpRequestFactory.

Please look at the comments for more information.

## Affects Version/s
* 5.1.0.RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- ~~[ ] 5.2.0_en~~ will be don

[2016-04-13 06:25] itouyun commented on #1836
ドキュメント不備を1点追加（4. 項目列挙のミス）しました。

[2016-04-15 05:05] btundes opened #1858 "Typo in Mybatis3 at description of Mapping Settings of NULL"
## Description
Refer [5.2.2.3.4. Mapping settings of NULL value and JDBC type](http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/ArchitectureInDetail/DataAccessMyBatis3.html#mapping-settings-of-null-value-and-jdbc-type)

The word ```however``` is used twice in the sentence-
However, however an error may occur in JDBC driver due to OTHER.

## Possible Solutions
The sentence can be corrected

[2016-04-15 13:19] btooshitahr commented on #1856
## Possible Solutions

* if Java
[code]

* if Beans
[code]

[2016-04-15 17:42] ikeyat commented on #1856
@btooshitahr
Why don't you use ``BasicCredentialsProvider`` provided by Apache Http Client?
``DefaultCredentialsProvider`` looks to be provided by 3rdparty (htmlunit) and it may be supposed to be used for testing. I think we should use ``BasicCredentialsProvider`` for this case.

[2016-04-18 02:09] btooshitahr commented on #1856
@ikeyat
Thank you for review.
I wronged pasting example for xml.
And I didn't know that  ``DefaultCredentialsProvider `` is  provided by 3rdparty.

I modified Possible Solutions.
Please revew again.

[2016-04-18 03:03] ikeyat commented on #1856
@btooshitahr
OK.
Please go to modify the guideline as following in the possible solution.

[2016-04-18 03:14] kazuki43zoo commented on #1776
公式アナウンスはまだないけど、MyBatis 3.4 + MyBatis-Spring 1.3がMaven Centralにリリースされました。
クエリを実行する際に、トランザクションの生存時間チェック＋生存時間を `Statement#setQueryTimeout` する処理が実行され、Springの`JdbcTemplate`使用時と同じ動作になります。

[2016-04-18 03:18] kazuki43zoo commented on #1775
公式アナウンスはまだないけど、MyBatis 3.4 + MyBatis-Spring 1.3がMaven Centralにリリースされました。
JDBC 4.0サポートのJDBCドライバーであれば、BLOB⇔InputStream、CLOB⇔Reader変換用のタイプハンドラーがデフォルトで有効になります。

[2016-04-18 03:21] kazuki43zoo commented on #1695
公式アナウンスはまだないけど、MyBatis 3.4 + MyBatis-Spring 1.3がMaven Centralにリリースされました。
`SqlSessionFactoryBean`を介して`org.apache.ibatis.session.Configuration` を直接指定できるようになったため、MyBatis設定ファイル(`mybatis-config.xml`)を使わなくてもMyBatisの動作を変更できるようになります。

[2016-04-18 09:25] #1858 closed

[2016-04-19 01:25] ikeyat opened #1863 "@DateTimeFormat causes NPE when StringTrimmerEditor is applied"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Validation.html#null
``StringTrimmerEditor`` を適用したControllerのフォームで ``@DateTimeFormat`` を使用すると ``NullPointerException`` が発生する模様。

正しいソリューションがあればそれを、なければ ``StringTrimmerEditor`` の制約事項としてガイドラインへ追記すべき。（Springへ要望上げる？）

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you

[2016-04-20 02:58] ikeyat commented on #1805
assinged to ``btkadotahr``

[2016-04-20 03:39] ikeyat commented on #1863
assigned to ``btakahoshin``

[2016-04-20 03:41] ikeyat commented on #1863
assigned to ``btmaedahrs``

[2016-04-20 07:53] btmaedahrs commented on #1830
横並びで２箇所を追加で修正しました。
詳細は添付ファイル参照
[横並び修正箇所.xlsx](https://github.com/terasolunaorg/guideline/files/227425/default.xlsx)

[2016-04-20 08:44] kazuki43zoo commented on #1863
要望じゃなくてバグとしてSpring JIRAにあげればいんじゃない？NPEはないな～と思うし。

[2016-04-20 09:40] #1830 closed

[2016-04-21 04:31] btmaedahrs commented on #1863
``@DateTimeFormat``の対象フィールドのSetterにおいて、
独自実装している処理が原因で ``NullPointerException`` が発生していました。

そのため、``StringTrimmerEditor``が原因ではありませんでした。
（``@InitBinder``なしでも``NullPointerException`` が発生しました）

[2016-04-21 04:47] btshimizukza commented on #1863
単に実装ミスだったということでクローズします。

[2016-04-21 04:47] #1863 closed

[2016-04-22 03:14] btyoshikawaa opened #1868 "It should not be written to the authentication condition"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Security/Authorization.html#id57
I'm concerned about the complexity of authentication conditions and security risks by coding errors due to the fact that each developer to describe the authentication conditions.

## Possible Solutions
For example, it may make an annotations describing the authentication conditions to wrap the

[2016-04-22 07:54] ikeyat commented on #1868
You are talking about not authentication but authorization condition right?
Meta annotation may be suitable for the solution.

[2016-04-22 08:34] ikeyat commented on #1699
See https://github.com/terasolunaorg/guideline/pull/1855#discussion_r59487152

[2016-04-22 14:17] #1805 closed

[2016-04-24 14:14] kazuki43zoo opened #1869 "Change a badge extension of Travis CI (png -> svg)"
## Description
`svg` is clear image than `png`.

## Possible Solutions
Change to `svg`.

## Affects Version/s
* 5.1.0
* 5.0.1
* 1.0.4

## Fix Version/s
- [x] 5.3.0
- [x] 5.2.1
- [x] 5.1.2
- [x] 5.0.3
- [x] 1.0.6

## Issue Links
N/A

[2016-04-25 12:38] ikeyat commented on #1737
Assigned to ``sasakitsy``

[2016-04-25 14:37] ikeyat commented on #1777
TODO：MyBatis3.4向けは別Issue化

[2016-04-26 03:01] btsatoukzn opened #1871 "[SOAP] To add a description about the Bean definition of SOAP client"
## Description
現在ガイドラインに記載されているSOAPクライアントBean定義は接続先Webサービスが起動している前提のものである。接続先が起動していない場合、SOAPクライアント側はアプリケーションを起動できない可能性がある。

## Possible Solutions
ガイドラインに、接続先サーバの起動状態を考慮しない設定方法をオプションとして記載する。

[code]

　↓　（lazy-init要素と、lookupServiceOnStartupプロパティを追加）

[code]

## Affects Version/s
* 5.1.0.RELEASE

## Fix Version/s
- [x] 5.2.0.RELEASE
- [x] 5.1.1.RELEASE

## Issue Links
* #XXX

[2016-04-26 21:56] ikeyat commented on #1871
wsdlが見つからないことが原因なだけかもしれない。その場しのぎに過ぎないlazy-initは推奨される解決策ではないと思われるが、いずれにしても注意書きと対応策は追記したほうが望ましい。、

[2016-04-27 02:05] btyoshikawaa commented on #1871
@btsatoukzn @ikeyat

私もそう考えています。（検証は必要ですが。）
以下のような形でガイドラインに記載すると良いと思います。

* WebServiceが未公開（未起動など）でもクライアントアプリ起動可としたいなら、クライアントアプリ側でWSDLを保持するのが妥当である
* WebServiceのWSDLを参照しなければならない場合かつWebServiceが未公開（未起動など）でもクライアントアプリ起動可としたい場合のみ、例外的に`lazy-init`+`lookupServiceOnStartup`を使用すると良い

[2016-05-02 07:42] KunimitsuMasuda opened #1872 "説明内容の誤り"
## Description
<箇所>
3. チュートリアル(Todoアプリケーション)
3.4.2.1. Controllerの作成
<URL>
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/TutorialTodo/index.html#controller
<内容>
「作成したインタフェースは～」とあるが、正しくは「作成したクラスは～」である。

## Affects Version/s
* All versions

## Fix Version/s

- [x] 5.2.0
- [x] 5.1.1

[2016-05-02 07:59] kazuki43zoo commented on #1872
Hi @KunimitsuMasuda , thanks for your reporting :+1:

[2016-05-09 03:11] ikeyat opened #1873 "Add a description for @DateTimeFormat on Validation"
## Description
フォームの日付フィールドのパターン検証、型変換を実施してくれるSpringの ``@DateTimeFormat`` について、「アプリケーション層の実装」では紹介されているが、入力値検証相当の内容であるので、「入力チェック」章からも簡単な紹介と、既説明へのリンクを追加したほうが良い。

http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ImplementationAtEachLayer/ApplicationLayer.html#applicationlayer-datetimeformat

## Possible Solutions
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/

[2016-05-09 05:42] btyoshikawaa opened #1874 "Enable to validate string size in consideration of the surrogate pair"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Utilities/StringProcessing.html#id23
文字列処理の章でサロゲートペアを考慮した文字列長のガイドを提示しているが、入力チェックの章ではサロゲートペアを考慮した文字列長チェックのガイドが示されていない。

なお、`@Size`アノテーションのHibernate Validator実装では`String#length()`メソッドで文字列長を取得しており、サロゲートペアは考慮されていないように見える。

## Possible Solutions
* `@Size`アノテーションの説明にサロゲートペアについての注意を載せる
* ~~サロゲートペアを考慮したチェックを行う`@S

[2016-05-10 02:04] thanhth90 opened #1877 "Expansion of authentication process"
## Description
Following the gudeline: http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/Security/Authentication.html#expansion-of-authentication-process (6.3.3.8)
I implement authentication by username,password and companyId
I have issue in findOne function for get user from DB
In SampleUserDetailsService:
@Override
public UserDetails loadUserByUsername(String username) throws UsernameNot

[2016-05-10 08:29] btokadanob commented on #1683
### 目次案( 章名は思案中)

1. はじめに
  1. 利用規約
  1. このドキュメントが示すこと
  1. このドキュメントの対象読者
  1. このドキュメントの構成
  1. このドキュメントの読み方
  1. このドキュメントの動作検証環境
  1. ガイドラインの観点別マッピング
  1. 更新履歴
1. TERASOLUNA Server Framework for Java (5.x)のアーキテクチャ概要
  1. TERASOLUNA Server Framework for Java (5.x)のスタック
  1. Spring MVCアーキテクチャ概要
  1. はじめてのSpring MVCアプリケーション
  1. アプリケーションのレイヤ化
1. TERASOLUNA Server Framework for Java (5.x)によるアプリケーション開

[2016-05-10 09:06] kazuki43zoo commented on #1683
ぱっと見で気になった点をコメントしておきます。

* 「ii.ロギング」は、Web関係ない・・

* 「iv.JMS Web Service（サーバ/クライアント）」は、JMSはそもそもWeb Serviceではない。どちらかというと外部連携かな！？

* このあたりは、「（アプリの形態に依存しない）汎用的な機能」というくくりでまとめた方がよい気がした・・ ※ロギングとBeanマッピングも

[2016-05-10 12:01] btokadanob commented on #1683
* Rest, SOAP, JMSはjavaee 系カテゴリとしてまとめると違和感なさそうな気もしますね。※章名としては悩みますが
　ただそれだとJPAは入らないの？という話にもなり若干悩ましい。。
　JMSはできしだい再考しましょうか
* ロギングは利用者の目につきやすいWebアプリ系の機能の一員として置くのがよいのかなという話でここに配置、Dozerもスタックとして内包されているので同様に、という考えです
* 汎用的な機能でまとると、今後その場所が雑多なものになりかねないので、カテゴリ分けをする、という考えです

[2016-05-10 12:06] kazuki43zoo commented on #1683
追加で、

* 「v.セッション管理」と「vi.二重送信防止」は画面系の方な気がします。

* 「iii.国際化」も画面系でいい気が。

[2016-05-10 15:16] ikeyat commented on #1877
Thanks for the report.
In my understanding, the primary key should be ``username`` on the section because it is the universal rule for ``DaoAuthenticationProvider``.
That means the ``companyId`` is something like a credential.

If you need to regard ``companyId`` as a part of the primary key, you need to combine it into ``principal`` or leave ``DaoAuthenticationProvider`` for custom ``Authenticati

[2016-05-11 01:22] btokadanob commented on #1683
@kazuki43zoo san
ありがとうございます目次を更新しました。

[2016-05-11 01:27] thanhth90 commented on #1877
Thanks for your reply!
Therefor, in this case, login form include of username, password and companyId. How to get user info from both username and companyId. Because this guideline not mention how to pass companyId.
Could you help me, please!
Regards

[2016-05-11 02:18] btakahoshin opened #1879 "WARNING on Sphinx build"
## Description
Sphinxにてbuildを行った際に以下のWARNINGが出る。
* SpringComprehensionCheck.rst:74 : WARNING: Could not lex literal_block as "xml". Highlighting skipped.
* SpringComprehensionCheck.rst:100 : WARNING: Could not lex literal_block as "java". Highlighting skipped.
* SpringComprehensionCheck.rst:130 : WARNING: Could not lex literal_block as "xml". Highlighting skipped.
* Email.rst:870 : WARNING: Could

[2016-05-12 05:14] #1737 closed

[2016-05-12 05:39] btakahoshin commented on #1683
ですが、まとめて「TERASOLUNA Server Framework for Java (5.X)による外部連携」としてはいかがでしょうか。

また、

も今後中身がそんなに増えるような気がしないので、「TERASOLUNA Server Framework for Java (5.X)による文字列・日付操作」としてまとめるというのはいかがでしょうか。

[2016-05-12 08:13] btyoshikawaa commented on #1868
Sorry, authorization is right. I corrected title and description.
Thanks.

[2016-05-12 08:48] btyoshikawaa opened #1881 "Description of SOAP Web Service exception handling is not kind for developers."
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/SOAP.html#id8
「SOAPサーバで発生する例外」

This section confuse the reader, JAX-WS requirements and application requirements are mixed.

And there is no consistency in how to determine the exception type. (in first half, using exception type enums. but in latter half, using sub custom faults. In addition, there is n

[2016-05-12 14:26] ikeyat commented on #1877
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/Security/Authentication.html#creating-authentication-filter
Here you can find how to get ``companyId`` from the request and pass to ``AuthenticationToken``.

[2016-05-13 01:56] btokadanob commented on #1683
Thranks for your comment!

* 汎用機能 ->日付、文字列、Dozer
* Web Browser - > ページネーションを移動
* 外部連携はそのままに、今後JMSがここに入る想定

please check (comment) [https://github.com/terasolunaorg/guideline/issues/1683#issuecomment-218091806]

※ 4,5章は纏めていいかも・・

[2016-05-13 02:04] thanhth90 commented on #1877
Dear ikeyat
In my understanding, creating-authentication-filter used to get companyId from login Form and pass it to AuthenticationToken, my issue is how to pass it to service to get user info from database:
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/Security/Authentication.html#creating-userdetailsservice
PS: I tested, and I got companyId from login form as you mentioned above, but

[2016-05-13 02:15] btkomodan commented on #1683
「TERASOLUNA Server Framework for Java (5.X)による」が何度もでてくるので、最初だけ書いてしまって後は省いてしまってもよい気がします（グルーピング関連の話じゃなくてすみません）。
※階層が1つ深くなってしまうので厳しいですか？

* TERASOLUNA Server Framework for Java (5.X)の機能説明
  * Webアプリケーションの開発に必要な機能
    * 入力チェック etc...
  * 画面の開発に必要な機能
    * ページネーション etc...
  * 他システム連携に必要な機能
  * セキュリティ対策に必要な機能
etc...

[2016-05-13 03:49] kuramotoki commented on #1683
なんとなく目についたので少しだけ…かつ、抽象的ですみません。

機能をカテゴライズしようとすると、どちらに入れようか迷ったり、切り離せなかったりするのと、違和感がぬぐえない部分がどうしてもでてきてしまうのだと思います。
さっと見ただけで「うーん…この…」と思ってしましました。たとえば…
* WebアプリとWebServiceでロギングは両社共通だけど、別れて見える
* webブラウザの話の中で二重送信と国際化は系統が異なるけどすぐ近くにいる
* 外部プロパティファイル機能ってなんだ？

機能をカテゴライズするより、目的をカテゴライズして機能をはめ込むような考え方だとどうでしょうか？
* 様々なプロトコル/入出力に対応したい
* ソースのメンテナンス性を高めたい
* 複数の環境に対応したい
* etc...

共通的な部分はまるっとまとめてしまうしかないと思いますが…
参考になれば幸いです。

[2016-05-13 05:51] ikeyat commented on #1877
As I wrote, you can use only ``username`` as the primary key to pick up the user record from database in `` DaoAuthenticationProvider ``.
So you need to get the ``companyId`` from the record in database if you need to access it at Controller or Service classes as the credential is done.
After that, you can access it at a Controller as following.

[code]

[2016-05-13 05:54] ikeyat commented on #1877
Those are the spec and limitation of `` DaoAuthenticationProvider``.
If the guideline make you comfusing, we would like to fix or add explanations for it.

[2016-05-13 06:26] ikeyat commented on #1683
コメント受けたUpdate版目次が見たいですね。

* 「TERASOLUNA Server Framework for Java (5.X)の」なのは自明なので、この際全部取ってしまってよいと思います。
* 「Web Browser関連機能 」はjavascriptとかと誤解招きそう＋画面系以外でも使用できるものが含まれている（セッションとかコードリストとか）＋「Webアプリケーション関連機能 」との境界が今一わからない。合体してしまってもよいのでは。
* 「ブランクプロジェクトから新規プロジェクトの作成」はシングルPJの作成方法の手順で、現在非推奨化されているので、この章は削除で良いと思います。ただし、冒頭の「ブランクプロジェクトの種類」などの一部は、「i.Webアプリケーション向け開発プロジェクトの作成」にマージしたほうが良いかも。

[2016-05-13 07:21] btokadanob commented on #1683
Updateしました。
皆様コメントありがとうございます。
１頁で全項目見えるようにしたいので、階層は2階層までとしています。

[2016-05-13 09:49] kazuki43zoo commented on #1683
この見出し必要かな？

* メッセージ管理は、「Webアプリ開発機能」 ※ログメッセージの追加とかあるけど、「Webアプリ開発機能」 かな。
* プロパティ管理は、「アプリケーション形態に依存しない汎用機能」

だと思う。

[2016-05-13 09:51] kazuki43zoo commented on #1683
節の順番は見直した方がよさそうなところはありそうだけど、いったん無視ｗ。

[2016-05-15 06:50] btokadanob commented on #1683
I updated.
当初の想定より細かいカテゴリ分けには限界を感じmath

[2016-05-16 02:21] btkadotahr commented on #1872
同様の修正が必要と思われる個所を見つけたので記載します。
<修正個所>
 - 3.4.1.4. Serviceの作成　(IMPLクラス作成のところ)
 - 3.4.2.2. Show all TODOの実装
   + 3.4.2.2.1. Formの作成
-

[2016-05-16 03:13] btakahoshin commented on #1683
一旦カテゴリ分けに関してはこのあたりでFIXとして、気になる箇所があれば別途対応するということにしたいと思います。

[2016-05-16 04:43] btundes opened #1886 "Typos in Mybatis Guideline"
## Description
It is identified that at several places as mentioned below, a whitespace is missing between to words.

1. [Typo1](http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/ArchitectureInDetail/DataAccessMyBatis3.html#implementation-of-resulthandler)
 At the warning section 'Precautions while using ResultHandler'
 Wrong word-->  ```ResultHandler```is

2. [Typo2](http://terasolunaorg.

[2016-05-16 04:49] #1872 closed

[2016-05-16 04:52] kazuki43zoo commented on #1886
@btundes, thanks for reporting ! Good catch up !!
Can you fix these ?

[2016-05-16 05:23] iwanagah commented on #1747
Please backport 5.1.x

[2016-05-16 08:39] btundes commented on #1886
@kazuki43zoo
I have completed the changes & created the pull request. Please confirm.

[2016-05-16 10:43] #1886 closed

[2016-05-17 02:14] #1747 closed

[2016-05-19 05:38] btakahoshin opened #1891 "Typo mistake in Tutorial (Todo Application REST)"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/TutorialREST/index.html#id10

## Possible Solutions
Sr.No (1) (2) (3) (3) -> Sr.No (1) (2) (3) (4)

## Affects Version/s
* 5.2.0.RELEASE
* 5.1.1.RELEASE

## Fix Version/s
- [x] 5.2.0.RELEASE_ja
- [x] 5.1.1.RELEASE_ja

[2016-05-20 06:53] iwanagah commented on #1871
@btyoshikawaa
そうですね。@btyoshikawaa さんが言っている通り追加したほうが良いと思います。

私も検証は一切できていないので検証次第ですが、`lookupServiceOnStartup`の設定だけではダメなんですかね？JavaDocに以下のように書いてあるので、`lazy-init`つけないで`lookupServiceOnStartup`だけ設定すればObjectは作成するけど、初期設定は最初のアクセス時に設定されるので、それで要件は満たせるような気がします。

Default is "true". Turn this flag off to allow for late start of the target server. In this case, the JAX-WS service will be lazily fetched on first a

[2016-05-23 04:25] thanhth90 commented on #1877
Dear ikeyat,

Thanks for your support, I got it, and to resolve my issue, I get all record by username from DB, then I filter them by companyId.
But I encounter small problem, could you help me, please!
I create 1 service to get companyId from Token as follow:
[code]
I don't know how to get companyId from input?
As your mention, @AuthenticationPrincipal AccountUserDetails userDetails, but I think

[2016-05-23 07:49] ikeyat commented on #1683
I additionally commented here.
https://github.com/terasolunaorg/guideline/pull/1892#issuecomment-220909825

[2016-05-23 08:32] ikeyat commented on #1877
You mean you wolud like to access ``copmanyId`` of the user who operates, right?
In the case, I think the best way is to give ``companyId`` or ``Account`` object as a parameter from Controller to Service.
Here is an easiest example.

[code]

[2016-05-23 08:56] ikeyat commented on #1868
@btyoshikawaa
It looks to be supported since Spring Security 4.1.0.

http://docs.spring.io/spring-security/site/docs/4.1.0.RELEASE/reference/htmlsingle/#authorization-improvements

So this issue will be done when Spring Security 4.1.0+ is accepted.

[2016-05-23 09:20] thanhth90 commented on #1877
Dear ikeyat

I did it, it really useful for me.
Thank you very much!

[2016-05-23 09:51] ikeyat commented on #1683
@sasakitsy
Please create a new issue for English translation as seen in other past issues.
After create the issue, close this issue.

[2016-05-24 01:37] btyoshikawaa commented on #1868
@ikeyat
This is good.
We should be presenting how to use Method Security Meta Annotations in our guideline.

[2016-05-24 04:14] itouyun opened #1893 "Fix and update mapping based on security measures"
## Description
Now
1.7.1. Mapping based on security measures
A10 Authentication(Mention about Open Redirect Vulnerability measures)

But Not mention about Open Redirect Vulnerability measures for Authentication Page.

## Possible Solutions
Fix mapping.
- Command Injection #1957
- Directory Traversal #2010
- 暗号化
- ブラウザのセキュリティ対策機能との連携
- 代表的なセキュリティ要件の実装例
- etc...

## Affects Version/s
* 5.1.0.RELEASE

[2016-05-24 08:51] ikeyat commented on #1877
I'm closing this issue. If you have another questions, please reopen or create another issue.

[2016-05-24 08:51] #1877 closed

[2016-05-24 10:07] ikeyat commented on #1856
@sasakitsy
Please create a new issue for English translation as seen in other past issues.
After create the issue, close this issue.

[2016-05-24 11:36] btkadotahr opened #1895 "The bad order of the Sr.No. in the description of the "3.3.3. Project Configuration""
## Description
「3.3.3. プロジェクトの構成」の説明において、
[MyBatis3用のブランクプロジェクトを作成した場合の構成]と
[O/R Mapperに依存しないブランクプロジェクト、JPA用のブランクプロジェクト用を作成した場合の構成]の
項番の順番が逆である。

先に説明される[MyBatis3用]で項番(8),(9)が使われ、
後に説明される[JPA用]で項番(1)～(7)が使われている。
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/TutorialTodo/index.html#id14

## Possible Solutions
[MyBatis3用のブランクプロジェクトを作成した場合の構成]と
[O/R Mapperに依存しないブランクプロジェクト、JPA用のブランクプロジェクト用

[2016-05-24 12:46] ikeyat commented on #994
Bean Validation(Hibernate Validator)に同等の仕組みがあるかを調査した上、
なければPossible Solutionの内容で追記して欲しいです。

[2016-05-24 13:30] ikeyat commented on #407
本件、比較的ニーズが多いことから、2016 Summerに設定。

[2016-05-24 13:37] ikeyat commented on #1409
This section was removed at #1683 since 5.2.0

[2016-05-24 13:39] ikeyat commented on #1409
@btakahoshin
Sorry, this task needs to be continued to merge something to be remained in the removed section.
So I reopened.

[2016-05-25 00:50] btakahoshin commented on #1409
This task is already finish to marge in #1683 .
So please close this issue.

[2016-05-25 06:48] sasakitsy opened #1896 "Translate #1683 (Optimize the order of chapters and sections)"
## Description
Please translate a modification #1683
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1892/files.

## Fix Version/s
- [x] 5.2.0_en

[2016-05-25 07:35] cyoco opened #1898 "TERASOLUNA Server Framework for Java (5.x) Development Guidelineの5.12に誤記"
## Description
TERASOLUNA Server Framework for Java (5.x) Development Guidelineの記載誤りがあり。

「5.12. 二重送信防止」-「5.12.2.2. PRG(Post-Redirect-Get)パターンの適用」
に記載の下記JSPに記載誤りがあり。
createForm.jsp
createConfirm.jsp
createComplete.jsp

## Possible Solutions

action="${pageContext.request.contextPath}/**rpgExample**/create"
↓
action="${pageContext.request.contextPath}/**prgExample**/create"

## Fix Versions
- [x] 5

[2016-05-25 07:39] sasakitsy opened #1899 "Translate #1856 (Change the HTTP Proxy Server Setting in RestClient from System Property to ClientHttpRequestFactory)"
## Description
Please translate a modification #1856
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1862/files.

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [ ] 5.2.x
- 5.1.1_en
    - [ ] translation/5.1.1
    - [ ] 5.1.x_en
- 5.3.0_en
    - [ ] master

[2016-05-25 11:19] ikeyat commented on #1898
@cyoco
Thanks for your conrtibution. We'll fix them.

[2016-05-25 13:05] ikeyat commented on #1696
Please add the following template at the end and a link in CONTRIBUTE.md on master branch.

[code]

[2016-05-25 15:29] ikeyat opened #1900 "Wrong version of Spring IO Platform"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ImplementationAtEachLayer/CreateWebApplicationProject.html#createwebapplicationprojectappendixprojecthierarchicalstructure
4.1.5.1. プロジェクトの階層構造

The version of Spring IO Platform "1.1.3" is wrong for 5.1.0.RELEASE and 5.0.2.RELEASE.
It should be 2.0.1 and 1.1.5. But it is shown on the another section. It is duplicated informa

[2016-05-25 15:30] ikeyat commented on #1409
OK, I confirmed migrated info.

[2016-05-25 15:30] #1409 closed

[2016-05-26 13:57] ikeyat commented on #1871
@iwanagah
Springの問題ですかね？JIRAに上げてみますか。。。

[2016-05-27 02:00] btyoshikawaa commented on #1871
@ikeyat @iwanagah
JIRAに関連しそうな（昔の）Issueがありましたが、再現せずで`resolved`になっていますね。
https://jira.spring.io/browse/SPR-5701

2つの要素を混同しているような気がしてきました。
`lookupServiceOnStartup`のJavadocからは、エンドポイントが公開されているかチェックしているように受け取れます。

* WSDLはWeb Serviceのインターフェイス情報で、プロキシ生成時にプロキシコードの妥当性を確認するために使用
  - クライアントで保持するWSDLを使用してプロキシを生成するか、`lazy-init="true"`を設定してプロキシ使用時（アクセス時）にWSDLを取得して生成するよう変更可能
* エンドポイントはWeb Serviceの実体で、これがなくてもプロキシは

[2016-05-27 08:10] btyoshikawaa opened #1901 "SOAPクライアントのBean定義をenvプロジェクトに記述すべきか"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/SOAP.html#id10
「(5) envプロジェクト」の説明
`プロキシクラスの定義は環境依存することが多いため、envプロジェクトで定義している。`

プロキシクラスのBean定義をenvプロジェクトに記述すべしと読み取れるが、複数環境向けにBean定義の重複部分が多くなり、管理が煩雑になる懸念がある。

## Possible Solutions
Bean定義から環境依存する値をプロパティファイルに集約し、プロパティファイルのみenvプロジェクトに配置するよう、記述を見直すと良い。

## Affects Version/s
* 5.1.0.RELEASE

## Fix Version/s
-

[2016-05-30 02:21] kazuki43zoo commented on #1705
使い方は[こちら](http://qiita.com/kazuki43zoo/items/53d2ca25c174ff618331#asyncresttemplate%E3%81%AB%E3%82%A4%E3%83%B3%E3%82%BF%E3%82%BB%E3%83%97%E3%82%BF%E3%83%BC%E3%82%92%E7%B5%84%E3%81%BF%E8%BE%BC%E3%82%81%E3%82%8B-1)を参照。

[2016-05-30 02:23] kazuki43zoo commented on #1704
もう少し詳細な情報は[こちら](http://qiita.com/kazuki43zoo/items/53d2ca25c174ff618331#head%E3%81%A8options%E3%81%AB%E5%AF%BE%E3%81%99%E3%82%8B%E3%83%AA%E3%82%AF%E3%82%A8%E3%82%B9%E3%83%88%E3%83%8F%E3%83%B3%E3%83%89%E3%83%A9%E3%83%BC%E3%81%8C%E6%9A%97%E9%BB%99%E7%9A%84%E3%81%AB%E7%94%A8%E6%84%8F%E3%81%95%E3%82%8C%E3%82%8B-1)を参照。

[2016-05-30 06:06] #1700 closed

[2016-05-31 05:43] sasakitsy opened #1911 "Translate #1699 (Add description to add a dependency of terasoluna-gfw-string)"
## Description
Please translate a modification #1699
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1906/files

## Fix Version/s
- [x] 5.2.0_en
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en (done through 5.2.0_en)

[2016-05-31 05:46] sasakitsy commented on #1699
Leave a comment

[2016-05-31 05:46] #1699 closed

[2016-05-31 08:04] thanhth90 opened #1913 "Add attribute checked to checkbox form with if condition true"
## Description
So I got this checkbox:
`<form:checkbox id="someCheckbox" path="someCheckbox"/>`
Now I would like to add an attribute - specifically checked="checked" if a condition is true. Is this possible without wrapping the entire element in an if statement?
Basically what I want (results in an error):
`<form:checkbox id="someCheckbox" path="someCheckbox" ${(condtion1&&condition2)? 'checked=ch

[2016-05-31 11:57] ikeyat commented on #1913
``<form:checkbox>`` generate ``checked`` attribute automatically from the model by Spring MVC.
Why do you need ``checked`` attribute manually?

If you don't like to tend to the Spring MVC automatic binding, you had not better use ``<form:checkbox>`` but use normal ``<checkbox>`` html tag.

[2016-06-01 06:53] attarudes commented on #1683
本Issue対応前の状況：
　（CreateWebApplicationProject.rst内に設定されているタイトル下記通りです。）

 .. _CreateWebApplicationProjectBuild:
 開発プロジェクトのビルド

 .. _CreateWebApplicationProjectCustomize:
 開発プロジェクトのカスタマイズ

本Issue対応後（現在）：
　（「開発プロジェクトのビルド」が新しいCreateProject.rstへ移動され、CreateWebApplicationProject.rst内容下記通り)

 .. _CreateWebApplicationProjectBuild:
 開発プロジェクトのカスタマイズ
　
実際に下記通りで修正する必要
　（CreateWebApplicationProject.rst内容)
 .. _Cr

[2016-06-01 07:15] ikeyat opened #1914 "Add a description for the customization of JISX 0208 Codepoints"
## Description
https://github.com/terasolunaorg/terasoluna-gfw/blob/5.1.0.RELEASE/terasoluna-gfw-codepoints/catalog/terasoluna-gfw-codepoints-jisx0208/src/main/java/org/terasoluna/gfw/common/codepoints/catalog/JIS_X_0208_SpecialChars.java

``JIS_X_0208_SpecialChars`` has codepoints of JISX 208 characters.
In general,  ``JIS X 0208 01-29`` should be treated as ``U+2014(EM DASH)``
But Unicode consor

[2016-06-01 11:09] ikeyat commented on #1683
@attarudes
Thanks for the report. Please fix and create PR separately from the translation PR.

[2016-06-02 02:16] kashimakz opened #1916 "Typo mistake in DataAccessMyBatis3.rst"
## Description
DataAccessMyBatis3.rst 　1246行目　「Repositoryインタエース」→「Repositoryインタフェース」

## Possible Solutions
同上

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s

- [x] 5.2.0
- [ ] 5.1.1

## Issue Links

## ChangeLog

[2016-06-02 02:41] #1748 closed

[2016-06-02 10:58] ikeyat commented on #1874
は対応しましょう。

[2016-06-02 11:00] ikeyat commented on #1874
@sasakitsy

についてはなるべくHibernate ValidatorなどOSS側での対応としたい。
次回リリース以降に検討したいので別Issueを作成し、本Issueにリンクさせておいてください。

[2016-06-02 11:02] ikeyat commented on #1361
Need to improvement for #1879

[2016-06-03 06:18] cyoco opened #1917 "TutorialのWelcomeページのControllerについて"
## Description

度々、すみません。

ガイドラインでチュートリアルを実施していると、
"/"ルートリクエストを受け付けるControllerが、
あるチュートリアルでは、HomeControllerであったり、
ほかのチュートリアルではHelloControllerであったりと、統一されていない気がしました。

統一されているほうがわかりやすいと思います。
もし、意図的に使い分けていたら、当issueをcloseしてください。
## Possible Solutions

[2016-06-03 06:59] sasakitsy opened #1918 "Consideration of the surrogate pair in @Size"
## Description
@size アノテーションのHibernate Validator実装ではString#length()メソッドで文字列長を取得しており、サロゲートペアは考慮されていないように見える。
Hibernate Validator等OSS側で対応できるか検討する。

## Possible Solutions

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
TBD

## Issue Links
* #1874

[2016-06-03 09:59] sasakitsy commented on #1900
@btyamadasun
Please backport.

[2016-06-07 02:36] kazuki43zoo commented on #1917
@cyoco レポートありがとうございます！！おそらく意図はないと思うので、対応を検討させていただきます。

[2016-06-07 02:42] kazuki43zoo commented on #1913
@thanhth90 Please repro project!

[2016-06-07 03:01] btyoshikawaa commented on #1895
@btyamadasun
Please backport to 5.1.x.

[2016-06-07 03:06] thanhth90 commented on #1913
Sorry ikeyat, I'm forgot feedback!
You're right, I don't need to use `<form:checkbox>` and I resolved this issue with normal `<checkbox>` html tag.
So, I think automatic binding of checkbox form should be have option for programming choose, enable or disable, it's only my idea :)
Thanks for your support!

[2016-06-07 05:51] btyoshikawaa commented on #1313
@btyamadasun
Please backport to 5.1.x.

[2016-06-07 06:45] btyamadasun commented on #1895
@btyoshikawaa
I have completed the backport and created the pull request. Please confirm.

[2016-06-07 06:57] btyamadasun commented on #1313
@btyoshikawaa
 I have completed the backport and created the pull request. Please confirm.

[2016-06-07 07:16] #1313 closed

[2016-06-07 12:18] ikeyat commented on #1913
@thanhth90
In my opinion, you had better use automatic binding instead of avoid programmatic form data binding as you mention if you adopt Spring MVC. If you encountered something that prevents automatic binding of Spring MVC, you can request improvements to Spring JIRA.

[2016-06-08 01:41] btyoshikawaa commented on #1891
@btyamadasun
Please backport to 5.1.x .

[2016-06-08 01:44] btyoshikawaa commented on #1898
@btyamadasun
Please backport to 5.1.x .

[2016-06-08 04:43] iwanagah opened #1927 "Translate #1873(Add a description for @DateTimeFormat on Validation)"
## Description
Please translate a modification #1873
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1921/files

## Fix Version/s
- [x] 5.2.0.RELEASE_en
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en (done through 5.2.0_en)

[2016-06-08 04:44] attarudes commented on #1899
This cannot done before merging PR #1925.
The directory structure has been changed under PR #1925

[2016-06-08 04:45] iwanagah commented on #1873
I will close this issue , Because I've create issue for translate #1927

[2016-06-08 04:45] attarudes commented on #1911
This issue can be taken after merging PR #1925.
The directory structure has been changed under PR #1925

[2016-06-08 04:46] #1873 closed

[2016-06-08 05:41] attarudes commented on #1927
This issue can be taken after merging PR #1925.
 The directory structure has been changed under PR #1925

[2016-06-08 05:44] btkobayashirun opened #1928 "Add logging with message id"
## Description
7.1. ロギングにHow to extendでログID付きログメッセージの出力方法を記載する

## Possible Solutions

## Affects Version/s
N/A

## Fix Version/s
- [x] 5.2.0_ja
- [ ] https://github.com/terasolunaorg/guideline/issues/1928#issuecomment-228398371
- [ ] 5.2.0_en move to https://github.com/terasolunaorg/guideline/issues/1940

## Issue Links
N/A

## ChangeLog
- [x] if this issue need to update ChangeLog, please commit

[2016-06-08 06:26] thanhth90 commented on #1913
OK, I got it, thank you!

[2016-06-08 11:42] btundes opened #1930 "MyBatis : QueryEscapeUtils : Invalid method used for query escape parameter formation"
## Description
1. A wrong method of ``QueryEscapeUtils`` is used to form the query escape parameter
The method ```toContainingCondition``` is used without passing any parameter to it.
This results in exception at runtime.
2. There is also typo for title column.

Guideline Location-
[Definition of SQL in Mapping file]
(http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/ArchitectureInDetail/D

[2016-06-08 12:39] #1913 closed

[2016-06-09 01:45] sasakitsy commented on #1775
MyBatisのバージョンを上げるかどうかで判断します
バージョンを上げる場合、対応します。

[2016-06-09 01:49] sasakitsy commented on #1695
MyBatisのバージョンを上げる場合、対応します。

[2016-06-09 09:59] btyamadasun commented on #1891
@btyoshikawaa
I have completed the backport and created the pull request. Please confirm.

[2016-06-09 10:09] btyamadasun commented on #1898
@btyoshikawaa
 I have completed the backport and created the pull request. Please confirm.

[2016-06-10 06:08] btyoshikawaa commented on #1881
Let's go in the following policy about handling exception detail.
* 5.1.x
  - In service, also shows the way to use `ExceptionType` enum and way to use sub custom `@WebFault`. (Leave now)
  - In client, add example of the using sub custom `@WebFault`.
* 5.2.0
  - Consider either is good, and recommend good know how.
  - Verify the way to use exception class type instead of `ExceptionType` enum. (B

[2016-06-13 08:12] #1898 closed

[2016-06-13 08:14] #1891 closed

[2016-06-15 01:40] btyoshikawaa commented on #1694
@btijnb
Please backport to 5.1.x .

[2016-06-15 07:16] thanhth90 opened #1938 "LDAP Authentication"
## Description
Dear all

I need user authentication with LDAP, I have read the document on http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/en/ but no specific guidance.
Please could you help me overview and an example how to use LDAP authentication in spring security Tera 5.x.
Thank you very much!

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you h

[2016-06-16 11:30] ikeyat commented on #1938
Actually we have no plan to add guide for LDAP now.
See http://docs.spring.io/spring-security/site/docs/4.0.3.RELEASE/reference/htmlsingle/#ldap
to learn LDAP Authentication with Spring Security.

[2016-06-17 05:59] iwanagah opened #1940 "Translate #1928(Add logging with message id)"
## Description
Please translate a modification #1928
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1929/files

## Fix Version/s
- 5.2.0.RELEASE_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [ ] master

[2016-06-17 06:01] iwanagah commented on #1928
I will close this issue , Because I've create issue for translate #1940

[2016-06-17 06:51] #1896 closed

[2016-06-20 06:27] iwanagah commented on #1879
@btyamadasun Please modify English version.

[2016-06-20 10:18] btyamadasun commented on #1879
@iwanagah
I modifyed  the English sources when I did the Japanese sources.
Do you have any problems with the English version?

[2016-06-20 10:21] iwanagah commented on #1879
@btyamadasun Sorry, It was my mistake. I will close this issue

[2016-06-20 10:21] #1879 closed

[2016-06-21 04:27] ikeyat commented on #1683
- [x] fix https://github.com/terasolunaorg/guideline/issues/1683#issuecomment-222908445

[2016-06-21 04:28] #1683 closed

[2016-06-22 05:37] bthiguchitkm opened #1948 "Wrong description in description for ValidationMessages.properties"
## Description
"5.5.2.4.1. ValidationMessages.propertiesに定義するメッセージ" Section

In this section, it is described as "(2)不正となった入力値は、{value}で埋め込むことができる。 ", but "{value}" means an attribute name of an annotation argument.

For example,
- **Java Src:**
    @Min(0)
    private Integer age;

- **ValidationMessages.properties:**
    javax.validation.constraints.Min.message=can not be less than {value}.

- *

[2016-06-23 04:10] btyoshikawaa commented on #1901
@btijnb
5.1.x へバックポートお願いします。

[2016-06-23 04:38] kazuki43zoo opened #1950 "Download multiple files"
## Description
TERASOLUNAのガイドラインを利用してWeb APIを開発している案件にて、BLOBで保持している複数のバイナリデータ（今回の案件は画像データ）を一括でダウンロードしたいという要件があり、できればこの要件に対するガイドラインがほしい。
今回の案件ではクライアントはブラウザではなく、別のサーバーサイドのWebアプリケーションですが、クライアントの種類に関係なく複数ファイルのダウンロード要件はあるのでは？と思いIssue化しました。

## Possible Solutions

今回の案件ではクローズドなネットワーク上でのダウンロードなので暗号化の要件がないため、JDK標準のZIP APIを利用してHTTPレスポンスにダイレクトにZIPエントリーを書き込む方法で実現しようと考えています。今回は必要ありませんが、暗号化要件がある場合の実装方法のガイドもあると

[2016-06-23 07:35] btyoshikawaa commented on #1901
@sasakitsy
Please make and assign the issue to translate this issue content.

[2016-06-24 08:31] kumagaikzk opened #1954 "[typo]デバック->デバッグ"
## Description
It's a kind of typo.
There are some wrong words such as デバック in Logging.html
デバック should be デバッグ.

## Possible Solutions
Correct typo.

## Affects Version/s
* 5.0.2.RELEASE
* 5.1.0RELEASE

## Fix Version/s
- [ ] 5.2.0_ja
- [ ] 5.1.1_ja

## Issue Links
* #XXX

## ChangeLog
(To be written later by project member)

[2016-06-24 08:34] btyoshikawaa commented on #1874
@btkukinom
Please backport to 5.1.x.

[2016-06-24 15:02] kazuki43zoo commented on #1856
@sasakitsy @ikeyat @btyoshikawaa

I've added some comments:

* https://github.com/terasolunaorg/guideline/pull/1862/files#r68407693
* https://github.com/terasolunaorg/guideline/pull/1862/files#r68409504
* https://github.com/terasolunaorg/guideline/pull/1862/files#r68409946

Please check.

[2016-06-24 15:28] kazuki43zoo commented on #1901
@btyoshikawaa @sasakitsy @ikeyat

I've added a comment.

https://github.com/terasolunaorg/guideline/pull/1945/files#r68415136

Please check.

[2016-06-24 16:48] kazuki43zoo commented on #1928
@iwanagah @sasakitsy @ikeyat

I've added some (many ....) comment. （後出しジャンケンで申し訳ないのですが・・・）

* https://github.com/terasolunaorg/guideline/pull/1929/files#r68416374
* https://github.com/terasolunaorg/guideline/pull/1929/files#r68419446
* https://github.com/terasolunaorg/guideline/pull/1929/files#r68419059
* https://github.com/terasolunaorg/guideline/pull/1929/files#r68419059
* https://github.com/ter

[2016-06-24 18:15] kazuki43zoo commented on #1948
@sasakitsy

Please assign to someone.

[2016-06-24 18:27] kazuki43zoo commented on #1948
I agree with possible solutions.
An invalid value (rejected value) can bind into a message using `${validatedValue}` variable. However. i think that not need to introduce about this variable.

[2016-06-24 20:12] kazuki43zoo commented on #1928
@iwanagah

すべてをちゃんと見たわけじゃない（斜め読みしている箇所もある）ので、もう一度ピュアな目でちゃんとガイドになっているか？我々の意図が正しく伝わる構成・内容（ミスリードしない内容）になっているか？不自然な文書はないか（これは優先度は低）？などを見てほしいです。

[2016-06-24 20:34] kazuki43zoo commented on #1940
@attarudes

In progress ?
I will recommend to skip this translation if translation team has other tasks.
Because i added many comments for [original issue](https://github.com/terasolunaorg/guideline/issues/1928#issuecomment-228398371).

[2016-06-27 00:53] attarudes commented on #1940
@kazuki43zoo
Non of the task has been assigned to translation team yet.
The current status is Not yet started. Yes, I will skip the issue. Please close the issue.

[2016-06-27 06:34] kazuki43zoo commented on #1940
@attarudes

Thanks for answer !!
Please watch a status of [original issue](https://github.com/terasolunaorg/guideline/issues/1928#issuecomment-228398371).
I will remove label of `in translate`.

[2016-06-28 01:40] bttakahashieib opened #1957 "Add description of os command injection"
## Description
OSコマンドインジェクションの説明と、その対処方法をガイドラインに記載する

## Possible Solutions
N/A

## Affects Version/s
N/A

## Fix Version/s
- [x] 5.2.0_ja
- ~~[ ] 5.2.0_en~~ (at #2001)
- [x] 5.2.0_ja improvement
- ~~[ ] 5.2.0_en improvement~~ (at #2001)

## Issue Links
N/A

## ChangeLog
- [x] if this issue need to update ChangeLog, please commit with it

[2016-06-28 07:39] ikeyat commented on #1948
For details of ``${rejectedValue}``, see http://docs.jboss.org/hibernate/validator/5.2/reference/en-US/html/ch04.html

[2016-06-28 11:21] sasakitsy commented on #1777
5.2.0と5.1.1ともにバージョンを上げないため、補足説明を追加する。

[2016-06-28 11:31] sasakitsy commented on #1292
リリース対象のMyBatisのバージョンを確認する。

[2016-06-29 01:39] #1930 closed

[2016-06-29 06:14] ikeyat commented on #1914
@sasakitsy
Please create an issue for translation.
After that close this issue.

[2016-06-29 08:07] btyoshikawaa commented on #994
@btyamadasun
Please backport to 5.1.x_ja .

[2016-06-30 01:20] btyamadasun commented on #994
@btyoshikawaa
I have completed the backport and created the pull request. Please confirm.

[2016-07-01 02:01] ikeyat opened #1961 "Recover removed note regarding SessionAuthenticationStrategy"
## Description

http://terasolunaorg.github.io/guideline/5.0.2.RELEASE/ja/Security/Authentication.html#sec-concurrency-control

のくだりが5.1.0ではなくなっているように見えます。
意図的に消したのではなく、認証認可に関する刷新タスク #1325 の中で、記述が消えてしまった可能性が高い。
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Security/SessionManagement.html#springsecuritysessionmanagementconcurrency

Sprign Security 4.xの公式リファレンスにも同様の説明は存在する為、Spring Securi

[2016-07-01 05:21] ikeyat opened #1963 "Remove note for a Spring Security 4.0.3 problem"
## Description

http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Security/Authentication.html#id11

Spring Security 4.0.3にて、認証エラー時の遷移先URL末尾にデフォルトで ``?error`` が出ない事象(Java Config設定時とデフォルトの挙動が異なる)について、修正がSpring Security4.0.4に対して行われた（詳細はIssue Link参照）。
そのため、Spring Security4.0.4+を採用するver 5.2.0では、上記についてガイドで注意喚起していたNote（上記URL先）を削除する。

また、上記に関連して5.1.0のガイドラインには、
以下の2か所ののコードで整合性が取れていないという問題が見つかったので修

[2016-07-01 05:22] ikeyat commented on #1963
Please do including english ver. because just removing the note.

[2016-07-01 08:15] btijnb commented on #1871
@ikeyat @btyoshikawaa @iwanagah

**ガイドラインを参考にSOAPクラインとWEBサービスを作成し、Pivotal tc v3.1(Apache CXFを利用)で確認した結果です。**

- 前提条件としてクライアントではWSDLを保持してないです。

1. lookupServiceOnStartupをfalseに設定するだけで接続先（WEBサービス）が未起動の状態でもSOAPクライアントのアプリケーションは起動できました。設定値がtrue又はプロパティが未設定の場合はContext initialization failedエラーが発生、SOAPクライアントのアプリケーションは起動出来ませんでした。

2. lazy-init=true の設定だけではSOAPクライアントのアプリケーションは起動出来ませんでした。（設定ファイル読み込む時には大丈夫でしたが

[2016-07-01 08:44] btyamadasun opened #1965 "the wrong information about HTTP Response Header in the SystemExceptionResolver section"
## Description
例外ハンドリング
→SystemExceptionResolverの設定項目について
 　→[HTTPレスポンスのキャッシュ制御有無](http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/ExceptionHandling.html#http)

のNOTEに ``preventResponseCaching`` を ``true`` にした時のHTTPレスポンスヘッダー一覧が記載されているが、5.2.0向けのSpringでは現行のバージョン(5.1.0)で出力される内容と一致していない。

## Possible Solutions
- 5.2.0向けのSpringのバージョンで出力される内容に修正する。(``preventResponseCaching

[2016-07-01 09:52] ikeyat opened #1966 "Add to JSR310 corresponding guidelines of MyBatis and Jackson"
## Description
Add guidance for using terasolunaorg/terasoluna-gfw#562.

Please take care for the changes https://github.com/terasolunaorg/terasoluna-gfw/issues/508.

## Possible Solutions
TBD

## Affects Version/s
N/A

## Fix Version/s
- [x] 5.2.0_ja
- [ ] 5.2.0_en

## Issue Links
* terasolunaorg/terasoluna-gfw#562

## ChangeLog
- [ ] Required

[2016-07-01 11:01] bttanakagn commented on #1965
下記が5.2.0でのレスポンスヘッダの内容。

[2016-07-01 11:08] ikeyat commented on #1965
https://github.com/spring-projects/spring-framework/commit/fc34b0c5926a40d2529b8cb4e0fd8f7b1b61a01b

あたりの変更の影響を受けているかも（ざっと見ですので関係ないかもです）

[2016-07-01 12:25] sasakitsy opened #1967 "TransactionTokenがサポートしないフローの注意喚起"
## Description
Write down alerting "Not support some special flows of TransactionToken" in the guideline.

## Possible Solutions
TBD

## Affects Version/s
* 5.1.0.RELEASE
* 5.0.0-5.0.2.RELEASE
* 1.0.0-1.0.4.RELEASE

## Fix Version/s
- [ ] 5.2.0
- [ ] 5.1.1

## Issue Links
* https://github.com/terasolunaorg/terasoluna-gfw/issues/565

## ChangeLog
(To be written later by project member)

[2016-07-01 12:49] sasakitsy opened #1968 "UPDATE OSS に関する注意喚起"
## Description
TBD

## Possible Solutions
TBD

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [ ] 5.2.0
- [ ] 5.1.1

## Issue Links
* https://github.com/terasolunaorg/terasoluna-gfw/issues/569

[2016-07-01 16:15] kazuki43zoo commented on #1965
Spring Securityの影響もあるかも！？

は、たぶんSpring Securityが付与しているものだと思う。

https://github.com/spring-projects/spring-security/blob/master/web/src/main/java/org/springframework/security/web/header/writers/CacheControlHeadersWriter.java#L76-L83

[2016-07-01 16:20] kazuki43zoo commented on #1965
> Cache-Control:no-store

は、たぶん SpringのpreventResponseCaching=trueで付与されたもの。

https://github.com/spring-projects/spring-framework/blob/master/spring-webmvc/src/main/java/org/springframework/web/servlet/handler/AbstractHandlerExceptionResolver.java#L224

[2016-07-04 01:17] NaozumiTaromaru commented on #1871
アプリを全く見ていませんが、
todoWebServiceがシングルトンのController(lazy-init="true"でない)にDIされているのではないですか？
この場合、todoWebServiceにlazy-init="true"をつけても付けなくても、ほとんど動作は変わりません。

すぐにインスタンスを作る必要のないtodoWebServiceを見つけたときにはlazy-init="true"でインスタンス生成が保留されますが、
todoWebServiceを何かにDIする必要があると、そのタイミングでtodoWebServiceのインスタンスも生成されます。
そのため、シングルトンのController(lazy-init="true"でない)にtodoWebServiceをDIすると、
todoWebServiceにlazy-init="true"をつけていてもつけてい

[2016-07-04 02:18] kazuki43zoo commented on #1871
lookupServiceOnStartup=trueだけで解決するならそちらの方がよいかと。

`lookupServiceOnStartup=false`ですかね？ｗ

lazyの話は @NaozumiTaromaru のコメントの通りだと思います！

[2016-07-04 02:19] btijnb commented on #1871
@NaozumiTaromaru @ikeyat @btyoshikawaa @iwanagah
scopeはデフォルト設定なのでシングルトンです。scopeをシングルトン以外に設定した場合、 Soapクライアントのアプリケーションはlazy-init=true設定だけで起動出来ました。上記コメントにも書いてありますが、scope意識せずにlookupServiceOnStartup=trueのプロパティを追加するだけで解決できるので、lazy-init=true設定を追加する必要はないと思われます。

[2016-07-04 05:38] btijnb commented on #1871
@NaozumiTaromaru @ikeyat @btyoshikawaa @iwanagah

**Soapクライアントで保持するWSDLを利用する場合の検証結果です。**

SoapクライアントアプリケーションはlookupServiceOnStartup、lazy-init設定値に関わらず常に起動出来ます。

ガイドライン「5.18SOAP Web Service(サーバ/クライアント)」　[エンドポイントアドレスの上書き指定](http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/SOAP.html#soaphowtousewebserviceclient
)にも書いてありますが、WSDLファイルに記述されているURLではないURLにアクセスする場合は設定が必要です。

[2016-07-04 13:11] kumagaikzk opened #1970 "Confusion of @SessionAttributes and @SessionAttribute"
## Description
There are some words "@SessionAttribute" in Session Tutorial.
But it does not exist.
It should be "@SessionAttributes"

## Possible Solutions
Correct typo.

## Affects Version/s
* 5.0.2.RELEASE
* 5.1.0RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- [x] 5.1.1_ja
- [x] 5.2.0_en
- [x] 5.1.1_en

## Issue Links
* #XXX

## ChangeLog
(To be written later by project member)

[2016-07-04 13:35] kumagaikzk opened #1971 "Need comma"
## Description
In Session Tutorial, there is the sentence as below.

[code]

Easy to understand, put comma between numbers like below.

[code]

## Possible Solutions
Put comma.

## Affects Version/s
* 5.0.2.RELEASE
* 5.1.0RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- [x] 5.1.1_ja
- [x] 5.2.0_en
- [x] 5.1.1_en

## Issue Links
* #XXX

## ChangeLog
(To be written later by project member)

[2016-07-04 16:00] ikeyat commented on #1970
This mistaken should be resolved earlier because Spring 4.3 will introduce ``@SessionAttribute`` that is quite different from ``@SessionAttributes``. It will become much confusing.

[2016-07-05 09:42] ikeyat opened #1973 "Add warnings for new vulnerabilities in commons-fileupload"
## Description
Apache Commons Fileuploadで発見された脆弱性 [CVE-2016-3092](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-3092)
について、
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/FileUpload.html
へ警告文を追記する必要がある。

Apache Commons FileuploadはTERASOLUNA Server Framework ver5.xのスタックには含まれていないが、以下の観点から本対応をガイドラインに対して行う。
* ガイドライン上で、commons fileuploadを特定環境向けワークアラウンドとして紹介している

[2016-07-05 15:38] #1954 closed

[2016-07-07 01:17] kazuki43zoo commented on #1973
@ikeyat

これって、Servlet 3のファイルアップロード機能をOFFしていれば（＝つまりファイルアップロードを使わなければ）対処は不要？それともOFFにしていてもダメ？

[2016-07-07 01:23] kazuki43zoo commented on #1973
すでに検証済みで情報をもっていたら、展開していただけるとうれしい。

[2016-07-07 01:24] kazuki43zoo commented on #1973
ちなみにTomcat7です。

[2016-07-07 09:29] btyoshikawaa commented on #1874
@sasakitsy
Please create issue to translate, and then close this.

[2016-07-07 11:26] #1928 closed

[2016-07-08 04:21] iwanagah commented on #1940
I have merged and  closed  [original issue](https://github.com/terasolunaorg/guideline/issues/1928#issuecomment-228398371) again.

@attarudes Please translate.

[2016-07-10 02:02] kazuki43zoo opened #1976 "Write workaround for CVE-2016-5007(Path Matching Inconsistency)"
## Description
Spring Framework 4.2.x and Spring Security 4.0.x has security vulnerability about path matching. For details refer to [here](http://pivotal.io/security/cve-2016-5007).

## Possible Solutions
Write workaround for CVE-2016-5007 in guideline and apply workaround into blank projects, or Update to latest version(Spring Framework 4.3.1 and Spring Security 4.1.1) of these artifact.

## Aff

[2016-07-11 03:00] btyoshikawaa commented on #1354
@btkukinom
Please backport to 5.1.x .

[2016-07-12 04:37] sasakitsy opened #1980 "Translate #1914 (Add a description for the customization of JISX 0208 Codepoints)"
## Description
Please translate a modification #1914

Modifications refer to https://github.com/terasolunaorg/guideline/pull/1941/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x
- 5.3.0_en
    - [x] master

## ChangeLog
- [ ]  5.2.0_en
- [ ]  5.1.1_en

[2016-07-12 04:42] sasakitsy commented on #1914
I will close this issue , Because I've created issue translate #1980

[2016-07-12 04:43] #1914 closed

[2016-07-12 04:51] sasakitsy opened #1981 "Translate #1874 (Enable to validate string size in consideration of the surrogate pair)"
## Description
Please translate a modification #1874

## Possible Solutions
Modification refer to https://github.com/terasolunaorg/guideline/pull/1953/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

[2016-07-12 04:53] sasakitsy commented on #1874
I will close this issue , Because I've created issue for translate #1981

[2016-07-12 04:53] #1874 closed

[2016-07-12 05:12] bttanakagn opened #1982 "Reflect the separation of pom.xml dependencies for app and common lib"
## Description
Refer to Issue Link

## Possible Solutions
Refer to Issue Link

## Affects Version/s
N/A

## Fix Version/s
 - [x] 5.2.0_ja
 - [ ] 5.2.0_en

## Issue Links
* https://github.com/terasolunaorg/terasoluna-gfw/issues/508

[2016-07-12 06:40] btkawakamitor commented on #1965
@ikeyat @kazuki43zoo
コメント頂いている通り、

はガイドラインに記載のpreventResponseCaching=trueにより付与されたもので、Springのバージョンアップで5.1.0向けのガイドラインに記載のヘッダからCache-Control:no-storeのみに変更されています。
https://github.com/spring-projects/spring-framework/commit/38f32e38169f7779b9fe20d46b69024039f190ce#diff-4386c732a724a039db2007b1bac7d3d5L222

Spring Securityが付与するヘッダ

についてはpreventResponseCachingの設定によるものとは直接関連するものではなく、かつSpring Security 4.1系か

[2016-07-12 09:53] btijnb commented on #1901
@btyoshikawaa
[6a2c4447401f25d99a50206ea5abe9533c679472]
記述内容を追記しました。

[2016-07-13 03:07] #1970 closed

[2016-07-14 10:50] btyoshikawaa commented on #1948
@kazuki43zoo @ikeyat
If I display the error message near the input field, I not use `${validatedValue}`.
But if I display in the distant and when I want to found wrong input value quickly, I want to often use `${validatedValue}`.
Really Do we not need to introduce?

[2016-07-14 11:58] sasakitsy commented on #1292
5.1.1、5.2.0ともにMyBatis-Spring1.2.5とするため、ガイドラインの[暫定的な回避方法](http://terasolunaorg.github.io/guideline/5.0.1.RELEASE/ja/ArchitectureInDetail/DataAccessMyBatis3.html#dataaccessmybatis3howtoextendexecutortypebatchindividualsetting)を削除する。

[2016-07-14 16:32] ikeyat opened #1990 "No defaultTargetUrl property in SimpleUrlAuthenticationFailureHandler"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Security/Authentication.html#springsecurityauthenticationscreenflowonfailure

とあるが、当該クラスには``defaultTargetUrl`` は存在しない。

http://docs.spring.io/autorepo/docs/spring-security/4.0.3.RELEASE/apidocs/org/springframework/security/web/authentication/SimpleUrlAuthenticationFailureHandler.html

``defaultFailureUrl`` が正しい。

## Possible

[2016-07-15 06:28] #1694 closed

[2016-07-15 06:34] #1354 closed

[2016-07-15 07:25] ikeyat commented on #1948
@btyoshikawaa
たしかに必要になる場合はあるので、``${validatedValue}`` の紹介をしてもよいですが、紹介するのであればEL式を紹介しているTips部分

http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Validation.html#application-messages-properties
の直上のTips

の説明の中ですべき。
Tipsの中のHibernate Validatorへのリンクから、``${validatedValue}`` にたどり着けるので、ガイドライン上には書かなくてもよい気がしている。

[2016-07-15 08:50] ikeyat opened #1991 "@DateTimeFormat is not strict with JSR310"
## Description

http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ImplementationAtEachLayer/ApplicationLayer.html#applicationlayer-datetimeformat

`@DateTimeFormat` で`pattern`でフォーマットを指定した場合、`java.util.Date` や`org.joda.time.LocalDate` に対してはSTRICTにフォーマットチェックが行われる（"2015/2/29"は間違った日付と判定される）が、JSR310の`java.time.LocalDate` ではSTRICTにチェックがされない。（"2015/2/29"は2015/3/1"を示す`java.time.LocalDate`` インスタンスへ

[2016-07-15 12:11] sasakitsy commented on #1694
Checked English translation.

[2016-07-15 12:19] sasakitsy commented on #1292
ガイドラインの[暫定的な回避方法](http://terasolunaorg.github.io/guideline/5.0.1.RELEASE/ja/ArchitectureInDetail/DataAccessMyBatis3.html#dataaccessmybatis3howtoextendexecutortypebatchindividualsetting)の削除によるテストケースの変更等、影響がないか確認する。

[2016-07-16 01:18] kazuki43zoo commented on #1948
@btyoshikawaa

明示的にガイドライン中で「`${validatedValue}`」にふれるなら、パスワードやクレジット番号などの機密情報に対する扱いに関して注意喚起を記載してほしいです。何も考えないと、機密情報がメッセージに表示されてしまう可能性があるので・・・。

[2016-07-19 02:12] kashimakz opened #1992 "Add spring-jms and its dependent libs to OSS Stack"
## Description
FrameworkStack.rstの"利用するOSSのバージョン"に、spring-jmsを追加する。
通常、OSSスタックはterasoluna-gfwのpomの依存関係から自動的に抽出していたが、spring-jmsはそれに現状含まれていないので別途考慮する必要がある。

## Possible Solutions
* spring-jmsおよびその依存ライブラリを手動でOSSスタックに追加する

dependency tree
[code]
もしくは

* terasoluna-gfw-dependenciesにjms用のdependenciesモジュールを追加する

[code]

## Affects Version/s
N/A

## Fix Version/s
 - [x] 5.2.0.RELEASE

## Issue Links
* #14

[2016-07-19 02:55] btyoshikawaa commented on #1948
@ikeyat @kazuki43zoo
Hibernate Validatorへのリンクに飛べば分かるとしても、必要なら一文でも触れておくほうが良い気がします。
Tipsに`${validatedValue}`を使用する例を追加して、入力値が機密情報を含む場合にはそのまま表示しないよう注意する旨を記載する方向で行こうと思います。

[2016-07-19 05:31] btkawakamitor opened #1993 "Correspond change Cache-Control header configuration specification of Spring Security 4.1.x"
## Description

Spring Security 4.1.0より、キャッシュ制御用ヘッダーの付与に関する仕様が変更されるため、フレームワークスタックにSpring Security 4.1.xが含まれるタイミングで当該機能に関する説明を付与する。

https://github.com/spring-projects/spring-security/issues/2953
https://github.com/spring-projects/spring-security/commit/242b831f20c11171975c1e2bdd50c9ae1cdbf445#diff-27921ebdc686738a3b090182472f63b5
## Possible Solutions
- Cache-Controlヘッダに関する説明を付与する。
  http://teraso

[2016-07-20 03:09] iwanagah commented on #1856
I was confirmed that there is no effect on the test code. So remove label 5.2.0.RC3.

[2016-07-20 08:44] sasakitsy commented on #1968
It issued this(#1968) to close terasolunaorg/terasoluna-gfw#569, but it was a mistake to close that(terasolunaorg/terasoluna-gfw#569).
Therefor this(#1968) will be closed.

[2016-07-20 08:44] #1968 closed

[2016-07-21 03:18] ikeyat commented on #1948
RC3にテストまで間に合わない可能性が高いので、いったん5.2.0向けには``${validatedValue}`` には触れないように修正しておく。
Issueは今後のために残しておく。

[2016-07-21 03:27] ikeyat commented on #994
Create a translation issue and close this. @sasakitsy

[2016-07-21 04:05] sasakitsy opened #1994 "Translate#994([Validation] MessageSourceと連携したBean Validationのメッセージの読み込み方法)"
## Description
Please translate a modification #994

Modification refer to https://github.com/terasolunaorg/guideline/pull/1949/files

## Fix Version/s

- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## ChangeLog
- none

[2016-07-21 04:06] sasakitsy commented on #994
I will close this issue, Because I've created issue for translate #1994

[2016-07-21 04:06] #994 closed

[2016-07-21 05:35] btkobayashirun opened #1995 "createToken() of TransactionTokenContextImpl does not work properly"
## Description
TransactionToken are not created when you run TransactionTokenContextImpl createToken method of an implementation of the TransactionTokenContext

## Possible Solutions
createToken and removeToken of TransactionTokenContext to deprecated.

## Affects Version/s
* 5.1.0.RELEASE
* ~5.0.2.RELEASE
* ~1.0.4.RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- [ ] 5.2.0_en
- [x] 5.1.1_ja
- [ ] 5.1.1_

[2016-07-21 08:12] btijnb commented on #1292
@sasakitsy

影響確認結果です。（”SqlSessionTemplate”でGrepした結果です。）

* **SqlSessionTemplateをBean定義しているソースはありましたが、destroy-method属性は設定してないので影響はないと思います。**

 * **source path :** spring-functionaltest\spring-functionaltest-domain\src\main\resources\META-INF\spring\spring-functionaltest-infra.xml

* **影響はないと思われますが、DataSourceのBean定義しているソースファイルでdestroy-method="close"の属性を設定しています。**
 * spring-functionaltest\spring-func

[2016-07-21 10:56] kashimakz opened #1998 "Add guidance for solution of message when using Method Validation."
## Description
Method Validationを利用した入力チェックのエラー時、try-catchでConstraintViolationExceptionを補足して、エラー内容をログ出力するケースが存在する。(JMS利用時など)

この場合、エラーメッセージはConstraintViolationから取得できるが、Place Holderの解決は別途必要になるため、その方法をアナウンスする必要がある。

## Possible Solutions
Place Holderの解決する方法の調査が必要。

## Affects Version/s
* 5.1.0.RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- [ ] 5.2.0_en
- [x] 5.1.1_ja
- [ ] 5.1.1_en

## Issue Links

## C

[2016-07-21 12:15] ikeyat commented on #1998
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Validation.html#methodvalidationonspringframeworkhowtouseexceptionhandling
ここの情報が不親切、というレベルに受け取りました。以下の対応で考えたいです。

* Hibernate Validator外のメッセージ補間（Springによる``{0}``などの補間） が適用できないという制約がある旨をWarningで記載する。
* ``ConstraintViolation`` の詳細については、Hibernate Validatorのリファレンスを参照するよう促す。
   http://docs.jboss.org/hibernate/stable/validat

[2016-07-22 02:05] btnoguchimnm commented on #1948
@ikeyat @btyoshikawaa @kazuki43zoo
テストまでは間に合わないため、いったんは${validatedValue}には触れないように修正します。

[2016-07-22 02:49] btyoshikawaa commented on #1948
@btnoguchimnm
Please backport #1986 to 5.1.x.

[2016-07-22 05:40] btyoshikawaa commented on #1948
@sasakitsy
Please assign to translate #1986 and #1999(backport).

[2016-07-25 01:39] ikeyat commented on #1957
@sasakitsy
To be translated.

[2016-07-25 02:32] ikeyat commented on #1948
@sasakitsy
Please separate an issue (Add description of ``${validatedValue}``) for 5.3.0 from this issue.

[2016-07-25 03:43] sasakitsy opened #2001 "Translate #1957 (Add description of os command injection)"
## Description
Please translate a modification #1957

Modification refer to https://github.com/terasolunaorg/guideline/pull/1958/files

## Fix Version/s
- 5.2.0.RELEASE_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## ChangeLog
- [ ] 5.2.0_en

[2016-07-25 03:47] sasakitsy commented on #1957
I will close this issue, Because I've created issue for translate #2001

[2016-07-25 04:03] sasakitsy opened #2002 "Wrong description in description for ValidationMessages.properties (add description)"
## Description

See https://github.com/terasolunaorg/guideline/issues/1948
## Possible Solutions

Add description of ${validatedValue}
## Affects Version/s
- 5.X.X.RELEASE
- 1.X.X.RELEASE
## Fix Version/s
- [x] 5.3.0_ja
- [ ] 5.3.0_en
- [x] 5.2.1_ja
- [ ] 5.2.1_en
## Issue Links
- #1948
## ChangeLog
- [x]  required

[2016-07-25 05:48] sasakitsy opened #2003 "Translate #1948 (Wrong description in description for ValidationMessages.properties)"
## Description
Translate #1948

Modifications refer to https://github.com/terasolunaorg/guideline/pull/1999/files

## Fix Version/s
- [ ] 5.2.0_en
- [ ] 5.1.1_en

## ChangeLog
(To be written later by project member)

[2016-07-25 06:00] sasakitsy commented on #1948
I will close this issue, the issues of the below will be corresponded by others.
* "Add description of ${validatedValue}"
 -> corresponded by #2002.
* "English translation"
 -> corresponded by #2003

[2016-07-25 06:00] #1948 closed

[2016-07-25 08:52] btyoshikawaa commented on #1777
@btnoguchimnm
Please backport to 5.1.x .
@sasakitsy
Please create new issue about https://github.com/terasolunaorg/guideline/issues/1777#issuecomment-214363443 .

[2016-07-25 10:14] btyoshikawaa commented on #1777
@sasakitsy
Please assign to translate #1979 and #2005(backport) .

[2016-07-25 11:32] btijnb opened #2007 "Webサービス例外発生時のステータスコード取得方法について"
## Description
[http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/SOAP.html#soaphowtousewebserviceclient](http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/SOAP.html#soaphowtousewebserviceclient)

javax.xml.ws.BindingProviderクラスにキャストすることで取得できる。

    この機能の利用は最小限に抑えることを推奨する。

Webサービス例外発生時に上記のステータスコード取得方法では取得出来ないAPサーバがある。
APサーバの環境依存による問題だと考えられ

[2016-07-25 12:33] sasakitsy opened #2008 "MyBatis 3.4使用時の@Transactinal(timeout=xxx)対応"
## Description

See #1777
## Possible Solutions

MyBatis 3.4 + MyBatis-Spring 1.3にバージョンアップすることで、@Transactionalのtimeout属性に指定した値は、SpringのJdbcTemplate使用時と同様の動きになるように改善される。
そのため、MyBatisのバージョンアップかつ、#1777の対応にて5.2.0以前で補足説明を追加した場合、補足説明の個所を削除する必要がある。

## Affects Version/s
- 5.X.X.RELEASE
- 1.X.X.RELEASE

## Fix Version/s
- [x] 5.4.0_ja (master)
- [x] 5.3.1_ja (5.3.x)
- [x] 5.4.0_en (master)
- [x] 5.3.1_en

[2016-07-25 12:39] sasakitsy opened #2009 "Translate #1777 (@Transactinal(timeout=xxx) does not work in MyBatis 3.3)"
## Description
Please translate a modification #1777

Modifications refer to https://github.com/terasolunaorg/guideline/pull/1979/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## ChangeLog
(To be written later by project member)

[2016-07-25 12:50] sasakitsy commented on #1777
I'll close this issue. The issues that remained supports as follows.
* https://github.com/terasolunaorg/guideline/issues/1777#issuecomment-214363443 -> #2008
(5.3.0._ja,5.3.0_en)
* English translation for 5.2.0,5.1.1 -> #2009
(5.2.0_en, 5.1.1_en)

[2016-07-25 12:50] #1777 closed

[2016-07-26 00:55] tiwatsuka opened #2010 "Add measures against directory traversal attack"
## Description
Add measures against directory traversal attack.

## Possible Solutions
N/A

## Affects Version/s
N/A

## Fix Version/s
- [x] 5.2.0_ja
- 5.2.0_en (at #2121)

## Issue Links
* #XXX

## ChangeLog
- [x] required

[2016-07-26 16:07] ikeyat commented on #1568
The claim was unfortunately declined...

We should introduce workaround as written in the possible solution.

[2016-07-27 01:48] btkukinom opened #2013 "複数フィールドのハイライト表示、エラーメッセージの統合を共通ライブラリに適用するかどうか検討する"
## Description
#1561 にてSpring ValidatorやBean Validatorの相関チェックにおいて、複数フィールドのハイライト表示、エラーメッセージの統合を検証した。

当該内容を共通ライブラリに適用するかどうかを検討する。
## Possible Solutions

検証段階では、メッセージ統合を空文字の設定を行い非表示とするようにしており、
共通ライブラリに採用すべきかどうかを検討する必要がある。
## Affects Version/s
- 5.X.X.RELEASE
- 1.X.X.RELEASE
## Fix Version/s

(To be written later by project member)
## Issue Links
- #1561
## ChangeLog

(To be written later by project

[2016-07-27 02:07] sasakitsy opened #2014 "Translate #1900 (Wrong version of Spring IO Platform)"
## Description
Please translate a modification #1900

Modifications refer to https://github.com/terasolunaorg/guideline/pull/1907/files

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you have)

## Fix Version/s
- [ ] 5.2.0_en
- [ ] 5.1.1_en

## ChangeLog
(To be written later by project member)

[2016-07-27 02:11] sasakitsy commented on #1900
English Translation Issue -> Coped with  #2014
And This issue will be closed.

[2016-07-27 02:11] #1900 closed

[2016-07-27 02:21] sasakitsy opened #2015 "Translate #1895 (The bad order of the Sr.No. in the description of the "3.3.3. Project Configuration")"
## Description
Please translate a modification #1895

Modifications refer to https://github.com/terasolunaorg/guideline/pull/1909

## Fix Version/s
- [ ] 5.2.0_en
- [ ] 5.1.1_en

## ChangeLog
(To be written later by project member)

[2016-07-27 02:27] sasakitsy commented on #1895
This issue will be closed, because created new English translation issue ( #2015 ).

[2016-07-27 02:27] #1895 closed

[2016-07-28 01:43] ynojima opened #2018 "log4jdbc alternatives"
## Description

O/R Mapperで出力されるログより細かいログを取得する方法としてlog4jdbc(log4jdbc-remix)が紹介されていますが、log4jdbc(log4jdbc-remix)は開発が停止しています。
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/DataAccessCommon.html#jdbcdebug
https://code.google.com/archive/p/log4jdbc-remix/
バグを踏んだこともあり、別のロギング手段を検討しているのですが、ガイドラインとして何か別のライブラリを提示頂けると幸いです。

log4jdbc is mentioned as an logging library to take

[2016-07-28 04:10] kazuki43zoo commented on #2018
@ynojima

参考までに伺いたいのですが、どういったバグでしょうか？ログ上のバグ？それとも通常のＳＱＬ実行にも影響するようなバグ？

[2016-07-28 04:14] kazuki43zoo commented on #2018
ちなみに・・・・我々も開発が停止していることは認識しており、切り替えを検討はしてますが、よさげなライブラリが見つかっていないのが現状です。

https://github.com/terasolunaorg/terasoluna-gfw/issues/146

og4jdbc-log4j2というのが出ていたのですが、このライブラリもここのところメンテナンスが行われていない模様です。

[2016-07-28 06:31] ynojima commented on #2018
NPEで落ちてしまい、通常のSQL実行にも影響するバグです。

やはりそうですか。。良いアクティブなライブラリがあると良いのですけども。開発が止まっているので、利用には注意が必要な旨だけでも、ガイドラインに記載があると読み手にとって有り難いかと思います。
terasolunaorg/terasoluna-gfw#146 で課題管理されているのであれば、こちらのIssueは閉じましょうか。

参考までに踏んだバグの発生条件についてもう少し記載しますと、
MyBatisを使用している中で、独自のTypeHandlerを作成したのですが、
log4jdbcがResultSetに対する呼び出しをトレースしているメソッドの下記の行がNullPointerExceptionで落ちました。
https://github.com/get8848/log4jdbc-remix/blob/master/src

[2016-07-28 09:05] btyoshikawaa commented on #1991
@bttanakagn
testing required.

[2016-07-28 09:16] #1916 closed

[2016-07-28 09:23] btyoshikawaa commented on #1836
@sasakitsy
Please check to need translation issue.

[2016-07-28 12:34] btyoshikawaa commented on #1292
@btijnb
Do not write the internal information to external Github. Please remove https://github.com/terasolunaorg/guideline/issues/1292#issuecomment-234186298.

[2016-07-28 16:27] sasakitsy opened #2019 "Translate #1836 (Improvements in "Reading this documents" and "Tutorial")"
## Description
Please translate a modification #1836

Modification refer to https://github.com/terasolunaorg/guideline/pull/1902/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## Issue Links
* #1836

## ChangeLog
(To be written later by project member)

[2016-07-28 16:30] sasakitsy commented on #1836
English translation issue was opened bellow.
#2019
So, this issue will be closed.

[2016-07-28 16:30] #1836 closed

[2016-07-28 16:41] sasakitsy opened #2020 "Update new OSS stacks"
## Description
OSS stacks in the Guidelines is before version.

## Possible Solutions
Modify new OSS stacks version to Guide.

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- [x] 5.2.0_en
- [x] 5.1.1_ja
- [x] 5.1.1_en
- [x] 1.0.5_ja
- [x] 1.0.5_en

## Issue Links
* https://github.com/terasolunaorg/terasoluna-gfw/issues/569
* #1992

## ChangeLog
- [x] require

[2016-07-28 17:00] kazuki43zoo commented on #2018
@ynojima

貴重な情報ありがとうございます。ORM純正のログ出力機能を利用するのをベースラインとして、より詳細な情報が欲しい場合はlog4jdbcなどのライブラリもあるよ。。。的な流れの方がよいかもしれませんね。

[2016-07-29 02:21] #1292 closed

[2016-07-29 04:43] btyoshikawaa commented on #1901
@btijnb
Please backport to 5.1.x.

[2016-07-29 06:00] #1901 closed

[2016-07-29 08:04] btyoshikawaa commented on #1871
@btijnb
Please backport to 5.1.x .

[2016-07-29 08:53] #1871 closed

[2016-08-01 04:00] btyoshikawaa commented on #1966
@sasakitsy
Please assign member to translate this.

[2016-08-01 05:00] sasakitsy opened #2024 "Translate #1966 (Add to JSR310 corresponding guidelines of MyBatis and Jackson)"
## Description
Please translate a modification #1966

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2016/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #1966

## ChangeLog
- [ ] required

[2016-08-01 05:01] #1963 closed

[2016-08-01 05:03] sasakitsy commented on #1966
I'll close this issue, because this issue will be done at #2024.

[2016-08-01 05:03] #1966 closed

[2016-08-01 05:48] sasakitsy commented on #1991
Spring 4.3以降では、仕様の改善により、本issueの問題が解決されることから、
本事象の再現確認実施と、本事象の注意喚起をガイドラインに記載する。

[2016-08-01 06:31] btyoshikawaa commented on #1561
@btkukinom
Please backport to 5.1.x .

[2016-08-01 09:20] btsatoukzn opened #2026 "[SOAP] typo in 5.18.1.2.JAX-WSとは"
## Description
It's a kind of typo in 5.18.1.2.

"実装して__し__ないため、" should be "実装して__い__ないため、".

## Possible Solutions
Correct typo.

## Affects Version/s
* 5.1.X.RELEASE

## Fix Version/s
- [x] 5.2.0
- [x] 5.1.1

## Issue Links
* #XXX

## ChangeLog
not required.

[2016-08-02 05:43] btyoshikawaa opened #2029 "Line feed code is not LF but CRLF."
## Description
In 5.1.x branch, a part of rst files Line feed code is not LF but CRLF.
We cannot cherry-pick from master.

## Possible Solutions
modify the line feed code to LF.

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.2.0
- [x] 5.1.x
- [x] 5.0.x
- [x] 1.0.x

## Issue Links
* #XXX

## ChangeLog
(unnecessary to write.)

[2016-08-02 10:49] btyoshikawaa commented on #1561
@sasakitsy
Please create translate issue, after that close this.

[2016-08-02 10:50] btyoshikawaa commented on #2013
@sasakitsy
Please move this issue to `terasoluna-gfw`. This is not issue about guideline.

[2016-08-02 10:54] btyoshikawaa commented on #2029
@btkukinom
Thanks.

[2016-08-03 03:08] btyoshikawaa commented on #2026
@btsatoukzn
Sorry, I couldn't understood difference between your description and possible solutions.
Could you revise it enough for me to understand?

[2016-08-03 04:17] btsatoukzn commented on #2026
@btyoshikawaa
Modify contents of Description and Possible Solutions.

[2016-08-03 04:22] btyoshikawaa commented on #2026
@btsatoukzn
し -> い！
I understood and modified description... Thanks.

[2016-08-03 09:53] btyoshikawaa commented on #1971
@btkukinom
Please backport to 5.1.x.

[2016-08-04 02:39] sasakitsy opened #2038 "Add change logs for 5.2.0"
## Description
Add changes log for 5.2.0 on ChangeLog.rst

## Fix Version/s
- [x] 5.2.0_ja
- 5.2.0_en (at #2128)

## Issue Links
N/A

## ChangeLog
(To be written later by project member)

[2016-08-04 02:41] sasakitsy opened #2039 "Add change logs for 5.1.1"
## Description
Add changes log for 5.1.1 on ChangeLog.rst

## Fix Version/s
- [x] 5.1.1_ja
- 5.1.1_en (at #2129)

## Issue Links
N/A

## ChangeLog
(To be written later by project member)

[2016-08-04 04:06] sasakitsy commented on #1917
本件につきましては、引き続き検討を実施させていただきます。

[2016-08-04 04:24] btyoshikawaa commented on #1995
@btkobayashirun
Please backport to 5.1.x.

[2016-08-04 04:27] btyoshikawaa commented on #1971
Leave a comment

[2016-08-04 04:27] #1971 closed

[2016-08-04 04:31] btyoshikawaa commented on #1965
@sasakitsy
Please create translate issue, after that close this.

[2016-08-04 04:33] btyoshikawaa commented on #1856
@sasakitsy
Please re-assign.

[2016-08-04 04:56] sasakitsy opened #2040 "Translate #1965 (the wrong information about HTTP Response Header in the SystemExceptionResolver section)"
## Description
Please translate a modification #1965
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1988/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #1965

## ChangeLog
- [ ] required

[2016-08-04 04:59] sasakitsy commented on #1965
I create new English translate issue and close this issue.

[2016-08-04 04:59] #1965 closed

[2016-08-04 05:04] sasakitsy opened #2041 "Translate #1561 (How to highlight 2+ input form when cross-field validation fails)"
## Description
Please translate a modification #1561
Modifications refer to https://github.com/terasolunaorg/guideline/pull/1962/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [ ] 5.2.x
- 5.1.1_en
    - [ ] translation/5.1.1
    - [ ] 5.1.x_en
- 5.3.0_en
    - [ ] master

## Issue Links
* #1561

## ChangeLog

[2016-08-04 05:05] sasakitsy commented on #1561
I created English translate issue, and close this issue.

[2016-08-04 05:05] #1561 closed

[2016-08-04 06:03] btyoshikawaa commented on #1995
@sasakitsy
Please assign to translate.

[2016-08-04 08:35] kazuki43zoo opened #2043 "Add 「Spring徹底入門」 at reference books"
## Description

Add 「Spring徹底入門」 at [reference books](http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Appendix/ReferenceBooks.html).

## Possible Solutions

Add link to [official site](http://www.shoeisha.co.jp/book/detail/9784798142470).

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.2.0
- [x] 5.1.1

## Issue Links
* http://www.shoeisha.co.jp/book/detail

[2016-08-04 10:46] #2029 closed

[2016-08-04 11:20] btyoshikawaa commented on #1998
@btnoguchimnm
Please backport to 5.1.x .

[2016-08-04 11:34] #1990 closed

[2016-08-04 12:01] btyoshikawaa commented on #1998
@sasakitsy
Please assign to translate.

[2016-08-05 00:55] kashimakz opened #2047 "modify inconsistent use of expressions in pom description"
## Description

「親プロジェクトで依存ライブラリのversionを管理するため、pom内に追加する依存ライブラリにversion指定をしないでよい。」という旨を説明する文章が揺れているため、統一する。

記載のあるRSTファイルの一覧：
\Appendix\Lombok.rst:     そのため、\ `<version>`\ 要素は指定していない。
\ArchitectureInDetail\MessagingDetail\Email.rst:     そのため、\ `<version>`\ 要素は指定していない。
\ArchitectureInDetail\WebApplicationDetail\FileDownload.rst:         poi-ooxmlのバージョンはSpring IO Platformにて定義されているものを利用するため、設定例では <v

[2016-08-08 01:17] sasakitsy opened #2048 "Translate #1998 (Add guidance for solution of message when using Method Validation.)"
## Description
Please translate a modification #1998
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2017/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## Issue Links
* #1998

## ChangeLog
(To be written later by project member)

[2016-08-08 01:18] sasakitsy commented on #1998
I created new English translate issue(#2048), and I'll close this issue.

[2016-08-08 01:18] #1998 closed

[2016-08-08 01:18] btyoshikawaa commented on #1991
@btmaedahrs
Please backport #2028 to 5.1.x .

[2016-08-08 02:56] sasakitsy opened #2052 "ガイドライン記載のリンクが無効（リンク切れ等）になっていないか確認、修正する"
## Description
ガイドラインのバージョンアップに伴い、リンクが有効になっている（リンク切れ等ないか）か確認し、切れている場合、修正する。

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you have)

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.2.0_ja
- [x] 5.2.0_en
- [x] 5.1.1_ja
- [x] 5.1.1_en
- [x] 1.0.5_ja
- [x] 1.0.5_en

## Issue Links
* #XXX

## ChangeLog
Not required.

[2016-08-08 08:17] btyoshikawaa commented on #1991
@sasakitsy
Remaining task is for 5.3.0 or later.

[2016-08-08 09:00] ikeyat opened #2055 "Add explanation about bean conversions in Spring MVC"
## Description
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ImplementationAtEachLayer/ApplicationLayer.html#formobject-new-label
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ImplementationAtEachLayer/ApplicationLayer.html#id43
http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/ArchitectureInDetail/Validation.html#null

などで、Springの型変換``PropertyEditor`` や ``Conveter`

[2016-08-08 09:22] btyoshikawaa commented on #1973
@btkawakamitor
Please backport to 5.1.x .

[2016-08-08 11:06] btyoshikawaa commented on #1973
@sasakitsy
Please assign to translate.

[2016-08-09 05:24] btyoshikawaa commented on #2026
@btryuushou
Please backport to 5.1.x .

[2016-08-09 05:45] sasakitsy commented on #1991
5.2.0,5.1.1での対応が完了
Spring Framework 4.3以降では本事象は解消されるため、5.3.0以降でSpring のバージョンの確認を行い、必要に応じて、今回付与した注意喚起を削除する。

[2016-08-09 06:17] #2026 closed

[2016-08-09 09:17] btyoshikawaa commented on #1976
@btmaedahrs
Please backport to 5.1.x .

[2016-08-09 09:18] btyoshikawaa commented on #1976
@sasakitsy
Please make sure there is no need to apply to the 5.0.x and 1.0.x .

[2016-08-09 10:36] btyoshikawaa commented on #1982
@sasakitsy
Please assign to translate #2027 .

[2016-08-09 12:08] #1976 closed

[2016-08-09 12:09] btyoshikawaa commented on #1976
@sasakitsy
Please create translation issue.

[2016-08-09 12:19] btyoshikawaa commented on #2007
@sasakitsy
Please create translation issue, after that close this.

[2016-08-10 03:11] sasakitsy opened #2065 "Translate #2007 (Webサービス例外発生時のステータスコード取得方法について)"
## Description
Please translate a modification #2007

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2012/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## Issue Links
* #2007

## ChangeLog
(To be written later by project member)

[2016-08-10 03:12] sasakitsy commented on #2007
A translate issue(#2065) was created, and  this issue will be closed.

[2016-08-10 03:12] #2007 closed

[2016-08-10 14:13] sasakitsy opened #2067 "Translate #1982 (Reflect the separation of pom.xml dependencies for app and common lib)"
## Description
Please translate a modification #1982

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2027/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #1982
* https://github.com/terasolunaorg/terasoluna-gfw/issues/508

## ChangeLog
(To be written later by project member)

[2016-08-10 14:16] sasakitsy commented on #1982
English translate issue(#2067) was created, and this issue will be closed.

[2016-08-10 14:16] #1982 closed

[2016-08-12 22:10] kazuki43zoo commented on #1976
@ikeyat @btyoshikawaa

この対応って動作検証できてますか？ ガイドラインにはMVC側の設定を「`trimToken=false`」にすればOKな感じで記載されているけど、CVE-2016-5007を再度読んでみると、Spring Security 4.1.1で追加された`MvcRequestMatcher`を使うことが大前提になっているような気もする・・・。Spring 4.3はデフォで「`trimToken=false`」になってるから＋αで何かする必要はなくて、Spring 4.2以下の場合は明示的に「`trimToken=false`」にする必要がある？

私は英語弱いので、@ikeyat @btyoshikawaa の解釈聞かせてください。

[2016-08-12 22:30] kazuki43zoo commented on #1976
失礼しました・・`MvcRequestMatcher`はSpring 4.3.1+が必要ですね。

でも、「`trimToken=false`」 にしただけでは、この脆弱性は防げない気がしてます・・。こちらの方は意見聞かせてください。CVE-2016-5007にも、そう記載してあるように見える。

[2016-08-13 03:51] ikeyat commented on #1976
@kazuki43zoo
サイトのMitigationには4つの箇条書きがあり、最初の3つのいずれかの対応(Spring verによって異なる)＋最後の1つを選択することでMitigationできる、と読み取れます。

[2016-08-13 04:20] kazuki43zoo commented on #1976
@ikeyat

`trimToken=false`にすることでSpring Securityとのパス解釈のミスマッチの一部は解決できるけど、[SEC-2534](https://jira.spring.io/browse/SEC-2534)は防げないという認識。

この解釈の違いは、バージョンアップしない（`MvcRequestMatcher`を使わない）場合は・・・

* Spring Security側の`AntPathRequestMatcher`に指定するパスパターンの書き方で解決！？
* Spring MVCの[パス解釈をカスタマイズ方法](http://docs.spring.io/spring/docs/current/spring-framework-reference/htmlsingle/#mvc-config-path-matching)で解決！？

する感じなのか

[2016-08-13 08:54] ikeyat commented on #1976
別物と解釈してます。SEC-2534は脆弱性ではなく仕様の改善。

[2016-08-15 03:48] ikeyat commented on #1214
#1214
で同要件を満たすことになり、本件が重複実装となるため、強い要望や改善が必要にならない限り対応を保留。

[2016-08-16 07:03] btyoshikawaa commented on #2020
@sasakitsy @btmikamihdt
We need update OSS stacks of 5.1.1 and 1.0.5.
* 5.1.1 -> mybatis and mybatis-spring version raised.
* 1.0.5 -> spring framework version raised.

[2016-08-16 07:57] iwanagah opened #2068 "Add framework stack for Support jsr310"
## Description
以下で追加したJSR310サポートに伴い追加したライブラリをframework stack(https://github.com/terasolunaorg/guideline/blob/master/source/Overview/FrameworkStack.rst) に追加すべきか検討する必要がある
https://github.com/terasolunaorg/terasoluna-gfw/issues/562
https://github.com/terasolunaorg/terasoluna-gfw/pull/574

## Possible Solutions
* 上記の通り、追加が必要か確認
* 追加不要であればクローズ、追加が必要であればFrameworkStack.rstに追記する

## Affects Version/s
* 5.2

[2016-08-16 07:59] iwanagah commented on #2068
@sasakitsy Please assign member for this issue.

[2016-08-16 08:03] btyoshikawaa commented on #2068
@iwanagah @sasakitsy
すいません、#2036 で既に追加しちゃってます。

https://github.com/terasolunaorg/guideline/blob/master/source/Overview/FrameworkStack.rst#利用するossのバージョン
* mybatis-typehandlers-jsr310
* jackson-datatype-jsr310

これで問題なければ、当Issueはクローズしていただければ。

[2016-08-16 08:53] iwanagah commented on #2068
@btyoshikawaa 失礼しました。修正は上記で問題ないと思います。一応 @sasakitsy に確認してもらってからクローズにします。

[2016-08-17 03:51] sasakitsy opened #2069 "Translate #1995 (createToken() of TransactionTokenContextImpl does not work properly)"
## Description
Please translate a modification #1995

Modifcations refer to https://github.com/terasolunaorg/guideline/pull/1996/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [ ] 5.2.x
- 5.1.1_en
    - [ ] translation/5.1.1
    - [ ] 5.1.x_en
- 5.3.0_en
    - [ ] master

## Issue Links
* #1995

## ChangeLog
- [ ] required

[2016-08-17 03:52] sasakitsy commented on #1995
I created English translate issue(#2069), and will close this issue.

[2016-08-17 03:58] sasakitsy opened #2070 "Translate #1973 (Add warnings for new vulnerabilities in commons-fileupload)"
## Description
Please translate a modification #1973

Modification refer to https://github.com/terasolunaorg/guideline/pull/1978/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## Issue Links
* #1973

## ChangeLog
- [ ] required

[2016-08-17 03:59] sasakitsy commented on #1973
I created English issue(#2070), and will close this issue.

[2016-08-17 04:53] btkobayashirun opened #2071 "TransactionToken does not support some special flows"
## Description
トランザクショントークンに追加されたTransactionTokenType.CHECKに関するガイドラインを追加する。

terasolunaorg/terasoluna-gfw#565

## Affects Version/s
* 5.1.0.RELEASE
* ~5.0.2.RELEASE
* ~1.0.4.RELEASE

## Fix Version/s
 - [x] 5.2.0_ja
 - [ ] 5.2.0_en
 - [x] 5.1.1_ja
 - [ ] 5.1.1_en

## Issue Links
* terasolunaorg/terasoluna-gfw#565
* #1967

## ChangeLog
 - [x] Required

[2016-08-17 05:29] sasakitsy commented on #2020
I added Fix version, labels for 5.1.1 and 1.0.5.

[2016-08-17 06:41] btmikamihdt commented on #2020
@sasakitsy  @btyoshikawaa

Please review #2073 and #2074 .

[2016-08-17 07:48] #2020 closed

[2016-08-17 10:11] sasakitsy commented on #2068
確認しました。差分はないため、当issueはクローズします。

[2016-08-17 10:11] #2068 closed

[2016-08-17 10:14] sasakitsy opened #2075 "Add change logs for 1.0.5"
## Description
Add changes logs for 1.0.5 on ChangeLog.rst

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you have)

## Fix Version/s
- [x] 1.0.5_ja
- [ ] 1.0.5_en

## Issue Links
N/A

## ChangeLog
N/A

[2016-08-17 12:10] sasakitsy opened #2076 "Check Version"
## Description
ガイドラインに直接記載されているバージョン情報が更新されているか確認する。

## Possible Solutions
Like bellow.
https://github.com/terasolunaorg/guideline/blob/master/source/Overview/FrameworkStack.rst#利用するoss
なお、version **5.1.0**.RELEASEで指定しているSpring IO platformのバージョンは、**2.0.1**.RELEASEである。
->
なお、version **5.2.0**.RELEASEで指定しているSpring IO platformのバージョンは、**2.0.6**.RELEASEである。

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.

[2016-08-18 02:28] btyoshikawaa commented on #1973
@btijnb
Please correspond 5.0.x and 1.0.x too.

[2016-08-18 06:41] btyoshikawaa commented on #2071
@sasakitsy
Please assign somebody to translate this.

[2016-08-18 07:48] sasakitsy opened #2078 "Translate #2071 (TransactionToken does not support some special flows)"
## Description
Please translate a modification #2071

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2072/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [ ] 5.2.x
- 5.1.1_en
    - [ ] translation/5.1.1
    - [ ] 5.1.x
- 5.3.0_en
    - [ ] master

## Issue Links
* #2071

## ChangeLog
- [ ] required

[2016-08-18 07:49] sasakitsy commented on #2071
I created new translation issue(#2071), and will close this issue.

[2016-08-18 07:49] #2071 closed

[2016-08-21 17:39] ikeyat commented on #2010
@sasakitsy
To be translated.

[2016-08-22 01:48] #1992 closed

[2016-08-22 06:19] btyoshikawaa opened #2081 "Reflect the change of blank projects to guidelines"
## Description

There is a reflect leakage of the change of blank projects.
## Possible Solutions

Reflect changes.
For example spring-mvc.xml in  http://terasolunaorg.github.io/guideline/5.1.0.RELEASE/ja/Overview/FirstApplication.html#id11
## Affects Version/s
- 5.X.X.RELEASE
- 1.X.X.RELEASE
## Fix Version/s
- ja
- [x] 5.3.0
- [x] 5.2.1
- [x] 5.1.2
- [x] 5.0.3
- [x] 1.0.6
- en
- [x] 5.3.0
- [x] 5

[2016-08-22 06:22] #1856 closed

[2016-08-22 08:45] ikeyat opened #2085 "Improvements of JMS"
## Description
TBD

## Possible Solutions
TBD

## Affects Version/s
* 5.2.0.RELEASE

## Fix Version/s
- [ ] 5.3.0.RELEASE (TBD)

## Issue Links
* #1407

## ChangeLog
- [ ] Required

[2016-08-22 10:22] #2076 closed

[2016-08-22 12:37] btyoshikawaa commented on #1696
@sasakitsy
Please assign to change issue link in [Index](https://github.com/terasolunaorg/guideline/blob/master/source/index.rst) as well as CONTRIBUTE.md.

[2016-08-22 13:31] btyoshikawaa commented on #1973
@sasakitsy
Task for japanase version is all completed.
Please continue task for english version.

[2016-08-22 13:31] #1973 closed

[2016-08-23 04:57] btijnb opened #2090 "Add reference for Global Transaction into DomainLayer.rst"
## Description

グローバルトランザクションについてのリファレンス(APサーバマニュアル)を追加したいです。
## Possible Solutions

「ドメイン層の実装」ページ内のトランザクション管理の節に追加

## Affects Version/s
- 5.2.0.RELEASE
## Fix Version/s
- [ ] 5.2.0_jp(Add DomainLayer)
- [ ] 5.2.0_jp(Add link from jms)
- [ ] 5.2.0_en(Add DomainLayer)
- [ ] 5.2.0_en(Add link from jms)
- [ ] 5.1.1_jp(Add DomainLayer)
- [ ] 5.1.1_en(Add DomainLayer)
## Issue Links
- #XXX

[2016-08-23 07:00] btyamadasun opened #2091 "add reference labels for the Migration Guides"
## Description
更新ガイドからの参照用にリファレンスラベルをguideに作成する。

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you have)

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.2.0 ja en
- [x] 5.1.1 ja en
- [ ] 1..05 ja en -> not required.

## Issue Links
* #XXX

## ChangeLog
(To be written later by project member)

[2016-08-23 07:44] itouyun opened #2092 "Add Tips for the risk that plaintext passwords are described log"
## Description

以下のようなバグを踏むことで、平文パスワードがログに出力されてしまうリスクが存在する。

パスワードの管理形式を、平文(NoOpPasswordEncoderの使用等)からStandardPasswordEncoderによるハッシュに変更する場合、登録済みの平文パスワードのハッシュ化を怠ると、正常に認証できなくなるバグが発生するだけでなく、認証時に、例外メッセージに登録済みの平文パスワードが含まれ、ログに平文パスワードが出力されてしまう。

`java.lang.IllegalArgumentException: Non-hex character in input: (DB等で管理されている、平文パスワード)`
(平文パスワードの文字数が偶数の場合に、上記のような例外メッセージとなる。)

とはいえ、以下ガイド（リンク先）にNoOpPasswordEnco

[2016-08-23 09:56] btyoshikawaa commented on #2052
@btnoguchimnm
Thx. Please correspond 5.1.x and 1.0.x .

[2016-08-23 11:44] btyoshikawaa commented on #2092
[code]
この想定重要だろうか。。。普通こんな変更するときはテストするから気付くのでは。
それより、あまり状況を限定せずに一般的な情報として書いたほうが良いのでは、と思いました。
[code]

とか。

[2016-08-23 18:06] kazuki43zoo commented on #2092
@itouyun  @btyoshikawaa

これって・・・必要ですかね？（個人的には必要性を感じないのでが・・）
そもそも平文でパスワードを管理しているシステムってあるんですか？＋仮にあったとしても、パスワードがハッシュ化できている＋ハッシュ化後に認証が正しく行えることはデータ移行時の事後チェックで行うべきものであり、ハッシュ化が正しく行われていることを確認しないでサービスインを迎えるようなプロジェクトは存在しないと思います。
また、内容的にTERASOLUNAの開発ガイドラインのNoteやTipsに記載してもあまり意味がない気がするのですが・・・。

[2016-08-24 03:12] ikeyat commented on #1991
@sasakitsy
5.3.0向け対応(Spring 4.3導入後の対応)は、Issueを分けておいたほうが良いと思います。新しいIssueの関連付けはしておき、こちらのIssueは2016 Summerリリースで対応済みとしてクローズする。

[2016-08-24 04:32] iwanagah commented on #1995
typoの修正が必要
「フレームワーク内部の挙動に影響を及ぼすような作り込ができてしまう」→「フレームワーク内部の挙動に影響を及ぼすような作り込**み**ができてしまう」

[2016-08-24 05:50] btyoshikawaa commented on #2092
@kazuki43zoo @itouyun
そうですね。私もあまり必要とは思ってません。
あえて書くなら。。。みたいのを https://github.com/terasolunaorg/guideline/issues/2092#issuecomment-241705790 で書いてみましたが、特段注意しにくいポイントでもない気はします。

[2016-08-24 07:20] #1995 closed

[2016-08-25 07:56] btkukinom opened #2106 "Add change logs for 5.0.3"
## Description
Add changes log for 5.0.3 on ChangeLog.rst

## Fix Version/s
- [ ] 5.0.3_ja
- [ ] 5.0.3_en

## Issue Links
N/A

## ChangeLog
(unnecessary to write.)

[2016-08-25 09:08] btyamadasun commented on #2091
1.0.5 へは対応不要でした。

[2016-08-25 09:14] #2091 closed

[2016-08-25 09:18] #1696 closed

[2016-08-25 12:47] #2052 closed

[2016-08-25 14:17] btyoshikawaa commented on #2038
@sasakitsy
Please assign to translate.

[2016-08-25 14:18] btyoshikawaa commented on #2039
@sasakitsy
Please assign to translate.

[2016-08-25 14:19] btyoshikawaa commented on #2075
@sasakitsy
Please assign to translate.

[2016-08-26 04:07] NaozumiTaromaru commented on #2092
安易に想定されるリスク(認証失敗)をはるかに上回るリスク(平文パスワード漏えい)が存在することは、書いておくべきだと思います。

全く別の例で説明すると…
HashMapを外部で同期化せずにマルチスレッドで使用しうるコードが持つリスクについて。
「まれに無限ループを引き起こす」ということを知っていれば、システムハングアップにつながる重大なリスクがあることが分かるため、まず見逃さないでしょう。
しかし、HashMapの実装の表層だけ確認して、「過去にputした値が次のputの戻り値(旧値)として得られないくらいなんじゃないの？(仕様通りに動かないのは。)」という、容易に想像がつきそうなリスクを前提とすると、「この使用方法なら問題なし」と誤った判定を下す可能性があります。
HashMapのputを同時に呼ぶと最悪何が起きるか書いておいてくれてもいいのに…と思ったことがあるのは私だけではないはず

[2016-08-26 07:51] btyoshikawaa commented on #2106
@sasakitsy
Please assign to translate.

[2016-08-26 08:32] iwanagah commented on #1967
@sasakitsy このissueは翻訳以外終わっているように見えますが閉じてよいか確認してもらってよいでしょうか？

[2016-08-26 09:07] kazuki43zoo commented on #2092
@NaozumiTaromaru 詳しい解説ありがとうございます。記載内容は精査した方がよさそうですが、本リスクの対するアナウンスする方向でよいかと思います。個人的にはSpring Securityのソースを直したい。

[2016-08-26 11:02] btyoshikawaa commented on #1698
@sasakitsy
Please create issue for translate, after that close this..
@ikeyat @iwanagah
I confirmed this finally.
If you have additional comments, please re-open this or create issue for improvement.

[2016-08-29 01:27] ikeyat commented on #1957
コマンド実行=「cmdやshの実行」と解釈されると、以下の文は矛盾があるように読み取れるため、改善したほうが良い。

[code]

改善例（「外部プロセスの実行」に置換）

[code]

[2016-08-29 04:25] ikeyat commented on #2001
Please reflect https://github.com/terasolunaorg/guideline/pull/2112/files

[2016-08-29 11:23] #2043 closed

[2016-08-29 11:24] kashimakz opened #2116 "Modify table layout."
## Description
Failed to create PDF file...

## Possible Solutions
TBD

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.2.0_jp
-  5.2.0_en (at #2133)
- [x] 5.1.1_jp
- 5.1.1_en (at #2133)
- [x] 5.0.3_jp
-  5.0.3_en (at #2133)
- [x] 1.0.5_jp
-  1.0.5_en (at #2133)

## Issue Links
* #XXX

## ChangeLog
(To be written later by project member)

[2016-08-29 14:15] kashimakz opened #2118 "Maintain contents for PDF. #2116"
## Description

PDF出力をしたところ、ガイドライン内へのリンク切れや、１ページに収まらないテーブルが存在しています。
## Possible Solutions
- リンク切れ
  - ディレクトリ構成の変更がリンクに影響しているようです。修正方法を考える必要があります。
    - 結論： #2131
- テーブルについて→ #2189　に別issueを作成しました。
  - 記述内容やテーブルカラムの横幅調整を行うなど対応を考える必要があります。
  - ページ下が見切れるものに対して、「次のページに続く」で改ページさせることを試しましたが、実現できませんでした。texの生成時点で、「次のページに続く」などが出力されていたため、rstファイルの記述の仕方や変換時の仕様に要因があると考えています。
    - 試した箇所：「2.1.4. 共通ライブラリの構成要素」

[2016-08-29 14:28] iwanagah commented on #2116
Please backport

[2016-08-29 16:35] kazuki43zoo commented on #1957
「1.7.1. セキュリティ対策に関するマッピング」に追加すべきでは？

[2016-08-29 16:42] kazuki43zoo commented on #1957
@sasakitsy @ikeyat

「1.7.1. セキュリティ対策に関するマッピング」はcommand injection以外も全体的にも直した方がよい気がする。

* 暗号化
* ブラウザのセキュリティ対策機能との連携

あたりは、表に追加する候補な気がします。あとA10「Unvalidated Redirects and Forwards」は前バージョンから説明がなくなっている

などなど、他にもありそう。

[2016-08-29 16:46] ikeyat commented on #1957
@kazuki43zoo
ありがとうございます。ただ、
https://github.com/terasolunaorg/guideline/issues/1893
こちらのIssueで対応すべき。転記しておきました。というか放置されてる？

[2016-08-29 16:46] #1957 closed

[2016-08-29 16:56] ikeyat commented on #1407
@kashimakz
Please fill issue templates.

@sasakitsy
To be translated

[2016-08-29 16:59] ikeyat commented on #1893
@tiwatsuka
How is this status?

[2016-08-29 17:09] ikeyat commented on #1967
@sasakitsy
確認お願いします。#2071とduplicatedなので何も対応せずクローズで問題なければ、その旨記載してクローズしてください。

[2016-08-30 00:05] kazuki43zoo commented on #2092
@itouyun @btyoshikawaa @NaozumiTaromaru @ikeyat

https://github.com/spring-projects/spring-security/issues/4043 の対応により入力値(平文やハッシュ化後のパスワードなど)が例外メッセージに含まれないように改善されます。かわりにHex文字以外を検出した文字位置がメッセージ含まれるようになります。

現時点では4.2(9/20リリース予定)はマージ済みで、4.1系にはバックポートのPR中です。
なお、TERASOLUNAが現在利用している4.0系はSpring Security的にはGAバージョンではない？ようなので、PRしていません。PRした方がいい？

[2016-08-30 00:31] kazuki43zoo commented on #2092
4.0.xにもバックポートPR出してみたけど、mergeされるかは微妙。

[2016-08-30 02:27] ikeyat opened #2121 "Translate #2010 (Add measures against directory traversal attack)"
## Description
Please translate a modification #2010

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2011/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #2010

## ChangeLog
- [ ] required

[2016-08-30 02:28] ikeyat commented on #2010
Will be translated at #2121

[2016-08-30 02:28] #2010 closed

[2016-08-30 02:32] ikeyat opened #2122 "Translate #1698 (Add health check)"
## Description
Please translate a modification #1698
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2111/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #1698

## ChangeLog
- [ ] required

[2016-08-30 02:33] ikeyat commented on #1698
Will be translated at #2122

[2016-08-30 02:33] #1698 closed

[2016-08-30 02:37] ikeyat opened #2125 "Translate #1701 (Enhance Secure Login Example)"
## Description
Please translate a modification #1701
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2101/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [ ] 5.2.x
- 5.3.0_en
    - [ ] master

## Issue Links
* #1701

## ChangeLog
- [ ] required

[2016-08-30 02:37] ikeyat commented on #1701
Will be translated at #2125

[2016-08-30 02:37] #1701 closed

[2016-08-30 03:06] ikeyat opened #2127 "Translate #1407 (Add JMS section)"
## Description
Please translate a modification #1407
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2113/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #1407

## ChangeLog
- [ ] required

[2016-08-30 03:07] ikeyat commented on #1407
I've  filled them.
Will be translated at #2127

[2016-08-30 03:07] #1407 closed

[2016-08-30 03:32] sasakitsy commented on #1967
#2071 と重複であったため、クローズします。
また、翻訳issueは#2071 中で起票しているため、不要です。

[2016-08-30 03:32] #1967 closed

[2016-08-30 03:54] ikeyat opened #2128 "Translata #2038 (Add change logs for 5.2.0)"
## Description
Please translate a modification #2038
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2100/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.3.0_en
    - [x] master

## Issue Links
* #2038

## ChangeLog
- N/A (itself)

[2016-08-30 03:55] ikeyat commented on #2038
Will be translated at #2128

[2016-08-30 03:55] #2038 closed

[2016-08-30 03:57] ikeyat opened #2129 "Translate #2039 (Add change logs for 5.1.1)"
## Description
Please translate a modification #2039
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2102/files

## Fix Version/s
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x

## Issue Links
* #2039

## ChangeLog
- N/A (itself)

[2016-08-30 03:57] ikeyat commented on #2039
Will be translated at #2129

[2016-08-30 03:57] #2039 closed

[2016-08-30 03:59] ikeyat opened #2130 "Translate #2075 (Add change logs for 1.0.5)"
## Description
Please translate a modification #2075
Modifications refer to https://github.com/terasolunaorg/guideline/pull/2104/files

## Fix Version/s
 - 1.0.5_en
    - [x] translation/1.0.5
    - [x] 1.0.x

## Issue Links
* #2075

## ChangeLog
- N/A (itself)

[2016-08-30 03:59] ikeyat commented on #2075
Will be translated at #2130

[2016-08-30 03:59] #2075 closed

[2016-08-30 04:37] iwanagah commented on #2116
Please modify for English version.

[2016-08-30 06:39] sasakitsy commented on #1893
Reflection into English ver. will be done after each sections are translated.

[2016-08-30 07:15] btryuushou commented on #2081
@btyoshikawaa  @sasakitsy
皆様が調査した対象一覧（5.2.0、5.1.1、1.0.5）を修正しました、
ご確認をお願いいたします。

[2016-08-30 09:28] btyoshikawaa commented on #2081
@btryuushou @sasakitsy
一覧確認しましたが、修正する必要がなさそうなものを多く修正してしまっているようです。
一覧を見る限りでは、下の3-Aあたりの判断プロセスが機能していなかったのでは。

1. ブランクプロジェクトを使用しているrst抽出
2. 抽出したrstから、ブランクプロジェクトと同名資材を抽出（ex. spring-mvc.xml ...）
3. 抽出した資材を修正する必要があるか判断
  - A. ブランクプロジェクトから生成したプロジェクトの設定ファイルを例示しているか否か
  - B. ↑に該当した場合、各バージョンの設定ファイルが使用されているか否か
4. 対象を修正

5.2.0リリース完了後に、修正対象の調査から仕切り直す形になると思います。
現在出ているPull Requestを再利用するかも、その後の相談になると思います。

なお、修正対象

[2016-08-30 13:13] btyoshikawaa commented on #2118
@kashimakz @iwanagah @sasakitsy
I found a solution to the problem that the `list-table` is not page break in PDF.
Cause that is not page break , class of table is not `longtable` but __default__ `tabulary`.
By setting class `longtable` as follows:, we can resolve this problem.
https://groups.google.com/forum/#!topic/sphinx-users/UOEcB7rTCx0

And I show an example of setting. Please try to set also

[2016-08-30 13:44] ikeyat opened #2132 "Reflect Eng #1893 (Fix and update mapping based on security measures)"
## Description
Please reflect a modification #1893
Modification refer to https://github.com/terasolunaorg/guideline/pull/2119/files

## Fix Version/s
- 5.2.0_en
    - [x] translation/5.2.0
    - [x] 5.2.x
- 5.1.1_en
    - [x] translation/5.1.1
    - [x] 5.1.x_en
- 5.3.0_en
    - [x] master

## Issue Links
* #1680

## ChangeLog
- none

[2016-08-30 13:45] ikeyat commented on #2132
Please assign after translation completed.

[2016-08-30 13:46] ikeyat commented on #1893
Will be reflected to English ver. at #2132

[2016-08-30 13:46] #1893 closed

[2016-08-30 13:50] ikeyat opened #2133 "Reflect Eng #2116 (Modify table layout.)"
## Description
Please reflect a modification #2116
Modification refer to ??

## Fix Version/s
- [x] 5.2.0_en
    * translation/5.2.0
    * 5.2.x
- [x] 5.1.1_en
    * translation/5.1.1
    * 5.1.x
- [x] 5.0.3_en
- [x] 1.0.5_en
    * translation/1.0.5
    * 1.0.x
- [x] 5.3.0_en
    * master

## Issue Links
* #2116

## ChangeLog
- none

[2016-08-30 13:51] ikeyat commented on #2116
Will be reflected to English ver. at #2133

[2016-08-30 13:51] #2116 closed

[2016-08-30 14:56] kazuki43zoo commented on #2092
@itouyun @btyoshikawaa @NaozumiTaromaru @ikeyat

結局4.2系(master)だけmergeされたので、2017 WinterでSpring Security を4.2にあげればTERASOLUNA 5.3のガイドラインにはNoteの追加は不要かと思います。 過去バージョンのガイドラインでの扱いについては、別途検討お願いします。

[2016-08-31 04:50] yoshidatkw opened #2134 "Update version to 5.2.1-SNAPSHOT in 5.2.x"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [x] 5.2.1

## Issue Links
Nothing

[2016-08-31 05:26] yoshidatkw opened #2136 "Update version to 5.3.0-SNAPSHOT in master"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [x] 5.3.0

## Issue Links
Nothing

[2016-08-31 05:34] yoshidatkw opened #2138 "Update version to 1.0.6-SNAPSHOT in 1.0.x"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [x] 1.0.6

## Issue Links
Nothing

[2016-09-02 10:25] btyoshikawaa opened #2139 "Is JMS ConnectionFactory setting point reasonable?"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/MessagingDetail/JMS.html#connectionfactory
`ConnectionFactoryの定義の方法には、アプリケーションサーバで定義する方法と、Bean定義ファイルで定義する方法がある。`

domainプロジェクトの`*-infra.xml`に`ConnectionFactory`を定義するようアナウンスしていますが、
テストフェイズによってJNDI接続とローカルBean定義の`ConnectionFactory`を切り替えたい場合を想定すると、
`ConnectionFactory`を定義はenvプロジェクトの`*-env.xml`に配置するほうが合理的ではないでし

[2016-09-02 21:41] kazuki43zoo opened #2140 "Settings for mybatis-typehandlers-jsr310 is not enough"
## Description

mybatis-typehandlers-jsr310から提供されているタイプハンドラの設定例に`YearTypeHandler`と`MonthTypeHandler`がないが、表内の説明文は存在している。
## Possible Solutions

設定例に`YearTypeHandler`と`MonthTypeHandler`を追加する。

[code]
## Affects Version/s
- 5.2.0.RELEASE
## Fix Version/s
- [x] 5.3.0  ? (MyBatis 3.4系にアップするなら、この説明自体不要になる)
- [x] 5.2.1
- [ ] 5.3.0_en
- [ ] 5.2.1_en
## Issue Links
- http://terasolunaorg.github.io/guidelin

[2016-09-02 21:54] kazuki43zoo opened #2141 "Update version to 5.1.2-SNAPSHOT in 5.1.x"
## Description
\-

## Possible Solutions
\-

## Affects Version/s
\-

## Fix Version/s
- [x] 5.1.2

## Issue Links
Nothing

[2016-09-05 01:42] ikeyat commented on #1308
https://github.com/terasolunaorg/guideline/issues/1240
と重複Issueのためクローズ。

[2016-09-05 01:42] #1308 closed

[2016-09-05 06:26] ikeyat opened #2145 "Add standardized authentication and authorization"
## Description

Add sections that introduce  standardized authentication and authorization for integrated apps.
## Possible Solutions

Here are candidates
- [x] OAuth2.0 for resource access authorization ([spring-security-oauth2](http://projects.spring.io/spring-security-oauth/))
- [ ] OpenId Connect for external authentication delegation with OAuth2.0 ([mitreid](https://github.com/mitreid-connect

[2016-09-07 01:29] btmikamihdt commented on #1361
@ikeyat
Please review #2149

[2016-09-07 02:06] ikeyat commented on #1361
@btmikamihdt
PDFビルド時のerror/warningの検知も追加できないか調査お願いできますでしょうか。latexなどをtravisのコンテナインストールしてあげるようtravis.ymlに定義すれば実行できそうな気がします。
参考：http://qiita.com/yyu/items/e3451caa86779b94abe1

[2016-09-07 03:11] kazuki43zoo commented on #1361
@ikeyat

できると思うけど、時間かかりそうなｗ
もし時間がかかるようなら、PDFのビルドの実行契機は考慮した方がよい気がする。

[2016-09-07 05:35] btmikamihdt commented on #1361
@ikeyat  @kazuki43zoo
承知致しました。確認致します。

[2016-09-07 10:41] ikeyat commented on #1240
@btmaedahrs
プルダウンリストの項目は、
http://terasolunaorg.github.io/guideline/5.0.0.RELEASE/ja/ArchitectureInDetail/Pagination.html#id24
のソート順の前提で対応お願いします。

[2016-09-08 01:05] kashimakz opened #2153 "Typo in JMS section."
## Description

以下のTypoを発見しました。

608, 617, 624行目
この設定を使用する場合、後述する\ `explicitQosEnabled`\ を\ `true`\ を設定する必要があるので注意すること。

1432行目
ヘッダ属性の編集については、\ :ref`JMSHowToUseSettingForSendWithHeader`\ を参照されたい。
## Possible Solutions

「\ `explicitQosEnabled`\ を\ `true`\ を」　→　「\ `explicitQosEnabled`\ に\ `true`\ を」

「\ :ref`JMSHowToUseSettingForSendWithHeader`\ 」→ 「\ :ref:`JMSHowToUseSettingForSendWithHeader`\ 」
##

[2016-09-08 08:50] #2136 closed

[2016-09-08 08:51] #2134 closed

[2016-09-08 08:52] #2141 closed

[2016-09-08 08:53] #2138 closed

[2016-09-08 09:56] ikeyat commented on #1961
@btmaedahrs
Please reflect to English version.
http://terasolunaorg.github.io/guideline/5.0.2.RELEASE/en/Security/Authentication.html#setting-sec-concurrency-control

[2016-09-08 10:29] ikeyat opened #2156 "Add new feature of Lombok 1.16.x"
## Description
Since Spring IO Platform Athens, Lombok will be updated to 1.16.x.
At lombok 1.16.x, an experimental feature was graduated.

* ``@Builder``

## Possible Solutions
Add guide for it.

## Affects Version/s
N/A

## Fix Version/s
- [ ] 5.3.0_ja
- [ ] 5.3.0_en

## Issue Links

## ChangeLog
- [ ] required

[2016-09-08 17:08] #1690 closed

[2016-09-12 01:51] ikeyat commented on #2015
@sasakitsy
This does not contain any translation.

[2016-09-12 01:54] ikeyat commented on #2014
@sasakitsy
Is this really needed?
The original PR #1907 lokks to contain reflections to English ver.

[2016-09-12 07:50] ikeyat commented on #2153
@sasakitsy
Please close this issue after checking  #2127 has no similar errors.

[2016-09-12 10:32] #1994 closed

[2016-09-12 10:41] ikeyat commented on #1361
@btmikamihdt
PDFのビルドチェックは時間短縮や条件絞って実行する手段がなければ、travis ci対応せずクローズする。

[2016-09-13 01:55] ikeyat commented on #2118
@btmikamihdt
To avoid conflicts, reflection to English ver. should be deferred.

[2016-09-13 02:29] ikeyat opened #2177 "Improve the description of secure random workaround"
## Description

http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/Authentication.html#bcryptpasswordencoder

[code]

JDK 7b20以降はバグが解消され、本ワークアラウンドが不要なようにも読み取れてしまうが、
[バグissueの内容](http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=6521844)を見る限り、

`-Djava.security.egd=file:/dev/./urandom`
の`/./` のトリックが不要になっただけで、
乱数生成の遅延問題自体の対処としては依然、
`-Djava.security.egd=file:/dev/urandom`
が必要だと思われる。前

[2016-09-13 02:33] kazuki43zoo commented on #2140
We need to apply this change to the English version.

[2016-09-13 02:36] ikeyat commented on #2140
Oh, sorry.

[2016-09-13 02:39] btmikamihdt commented on #2009
@ikeyat
I backported to other lines. #2175 #2176 #2178 #2179
Please review.

[2016-09-13 02:56] ikeyat commented on #2140
@sasakitsy
Please assign reflection task after ``translation/xxx`` branches are merged to main stream branch.
Avoid the conflicts.

[2016-09-13 02:59] ikeyat commented on #2118
@btmikamihdt
Please create a new separated issue for 5.3.0 and 5.2.1.
This issue should manage for only 5.2.0_ja and 5.2.0_en.

[2016-09-13 03:02] ikeyat commented on #1911
@btmikamihdt
Please backport to 5.1.1

[2016-09-13 03:06] ikeyat commented on #1927
@btmikamihdt
Please backport to 5.1.1

[2016-09-13 03:12] ikeyat commented on #1940
@neetapimpalnerkar
This issue needs translation but not assigned to you on GitHub.
Please consider this into your tasks.

[2016-09-13 03:24] ikeyat commented on #2048
Why fix versions cheched? It looks not yet done
 I remove checks.

[2016-09-13 05:17] btmikamihdt commented on #2019
@ikeyat
I backported to other lines. #2180  #2181 #2183 #2184
Please review.

[2016-09-13 05:42] btmikamihdt commented on #1927
@ikeyat
I backported to 5.1.1. #2185 #2186
Please review.

[2016-09-13 05:56] btmikamihdt commented on #1911
@ikeyat
I backported to 5.1.1. #2187 #2188
Please review.

[2016-09-13 06:57] btmikamihdt opened #2189 "The table which is not delivered to one page for PDF build.#2118"
## Description

PDF出力をしたところ、１ページに収まらないテーブルが存在しています。
## Possible Solutions
- 記述内容やテーブルカラムの横幅調整を行うなど対応を考える必要があります。
- ページ下が見切れるものに対して、「次のページに続く」で改ページさせることを試しましたが、実現できませんでした。texの生成時点で、「次のページに続く」などが出力されていたため、rstファイルの記述の仕方や変換時の仕様に要因があると考えています。
  - 試した箇所：「2.1.4. 共通ライブラリの構成要素」
  - 試した方法：「2.1.3. 利用するOSSのバージョン」をベースにテーブル定義などを変更
    - `stub-columns`の追加
    - `widths`の調整　利用するOSSのバージョンは合計を100→95へ変更
    - カラム内の`

[2016-09-13 07:38] kazuki43zoo opened #2190 "[Sending E-mail (SMTP)]Sometimes termination character is garbled"
## Description

メール本文がマルチバイトで終わっていると、終端に余計な文字（「?」や「w)」など）が出力されることがある。
## Possible Solutions

本質的な対応ではないかもしれないが、この事象を解消するための回避策として以下が知られているので、注意事項としてガイドラインに記載しておいてもよいと思いました。
- メール本文の終端文字を半角文字にする
- メール本文の終端を改行コード（CRLF）にする
## Affects Version/s
- ~5.2..RELEASE
- ~5.1.1.RELEASE
## Fix Version/s
- [x] 5.3.0_ja
- [ ] 5.3.0_en
- [x] 5.2.1_ja
- [ ] 5.2.1_en
## Issue Links
- https://tools.ietf.org/html/rfc8

[2016-09-13 07:51] kazuki43zoo commented on #1950
ストリームを１回FlushしてしまうとChunkレスポンスになるため、Flush後にサーバー側でエラーになっても「500 Internal Server Error」ではなく「200 OK」になってしまう。クライアントがオペレータであれば大きな問題になることはないと思うが、システム間連携などレスポンスをプログラムが解釈する場合は問題になりうるので、何かしらの対策が必要になる。

[2016-09-13 10:00] #2009 closed

[2016-09-13 10:12] #1927 closed

[2016-09-13 10:16] #1911 closed

[2016-09-13 11:18] #2019 closed

[2016-09-13 18:11] ikeyat commented on #1950
https://en.wikipedia.org/wiki/Chunked_transfer_encoding
だと、Transfer-Encodingヘッダのセミコロン以降の拡張領域にmessage digestを入れるなどの記述が見られますね。Servletコンテナが勝手につけるヘッダなので、どのようにアプリから指定できるのかは不明。
ただ、動的にダウンロードファイルを作成している場合は、ヘッダ挿入時点でmessage digestを知ることができないと思いますので、実際に考えられる方法は、
* ファイル末尾にmessage digestや終端シグナルを固定長で付けるとか、
* DL後にAPIでファイルの妥当性チェックをする
* zip展開をテストし、失敗しないか（zipにデータ誤り検知が備わっている前提で）

などでしょうか。

[2016-09-14 01:52] btijnb commented on #1881
方針変更
* 5.2.x
  - 例外型での識別方法を追加するのは現行に大きい影響を与える。そのため、ユーザに混乱させる内容を削除し、整合性を保つように修正。（WebFaultExceptionの子クラス実装方法は紹介されてあるが、識別方法については紹介されてない。 ）
* 5.3.0
  - 例外ハンドリングの実装を例外型での識別方法で全体的に見直す。

[2016-09-14 04:19] btmikamihdt commented on #1361
@ikeyat @kazuki43zoo
latexインストールを毎回行うことにより、ci実行に時間がかかるため、
latexインストールのキャッシュ化の方法について検討していた件について報告いたします。

申し訳ありませんが、latexのインストールをキャッシュすることができませんでした。

・ruby gem をインストールするbundleインストールする方法
・ディレクトリをキャッシュする方法

等の情報はネット上で見つかりましたが、gemのインストール資材はなく、

http://qiita.com/yyu/items/e3451caa86779b94abe1　の「キャッシュの設定」を参考に、
インストール先のディレクトリをキャッシュに設定する等、試しましたが上手く実行されませんでした。

以下travis-ciを試行した際のPRになります。
#2150

申し訳ありませんが、クロ

[2016-09-14 04:56] ikeyat commented on #1361
@btmikamihdt
サイズの小さいBasicTeXでの実現は難しそうですか？
https://travis-ci.org/y-yu/travis-tex
では8分ほどで走り切っています。

[2016-09-14 05:27] btyoshikawaa commented on #1881
@btijnb
「例外ハンドリングの実装を例外型での識別方法で全体的に見直す。」については、この方式を採用するかも含め、最適な方式を検討していただきたいです。

[2016-09-14 10:12] ikeyat commented on #1361
basictexはosxのため、
https://github.com/travis-ci/travis-ci/issues/2312
の制約を受ける(phythonのインストールができない)。

そのため、basictex相当のtexl iveをインストールするため、
https://texwiki.texjp.org/?TeX%20Live#p06f63c2
の``-scheme``オプションを試してみる。
scheme-smallがbasictexに相当し、scheme-basicはさらにそれよりも小さい構成らしい。
https://texwiki.texjp.org/?TeX%20Live#p06f63c2

[2016-09-14 11:35] kazuki43zoo commented on #407
このIssueとは直接関係ないですが、Bean Validation 2.0 (Hibernate 6)で TYPE_USEがサポートされる模様？

* http://beanvalidation.org/news/2016/07/15/bean-validation-2-0-is-coming/
* https://hibernate.atlassian.net/projects/BVAL/issues/BVAL-508?filter=allopenissues

Bean Validation 2.0自体は2017 1QにFinal Release予定っぽい。Hibernate Validatorはその後か同時だろうから・・完全サポートは2018 Winter(5.4.0)かな？

Bean Validation 2.0で対応してほしいものがあれば、Issueあげましょう。（手遅れかも

[2016-09-15 05:59] yoshidatkw opened #2191 "Reflect Eng #2134 （Update short X.Y version)"
## Description

Please reflect a modification #2134
Modification refer to https://github.com/terasolunaorg/guideline/pull/2135
- 5.1.0 -> 5.2.0 for release/5.2.0 branch
- 5.1.0 -> 5.1.1 for release/5.1.1 branch
- 1.0.4 -> 1.0.5 for release/1.0.5 branch
## Affects Version/s
- 5.2.0.RELEASE
- 5.1.1.RELEASE
- 1.0.5.RELEASE
## Fix Version/s

Reflect to following branches
- release/5.2.0 (done at #2307

[2016-09-15 09:42] ikeyat commented on #1869
@btmikamiysy
https://raw.githubusercontent.com/terasolunaorg/guideline/master/README.md

[2016-09-15 10:10] kazuki43zoo opened #2192 "Consider to use cURL command in REST tutorial"
## Description
REST向けのチュートリアルではGoogle Chromeの拡張ツールである「DHC」を使っているが、以下のような点を踏まえてcURLコマンドへの置き換えを検討したい。

* Chromeが使えない環境への配慮（=特定環境の依存性の排除）
* Commandの方がコピー＆ペーストしやすいので、チュートリアルが進めやすいのでは？
* ドキュメントの保守性(DHCのバージョンアップへの追随コストの軽減)

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you have)

## Affects Version/s
* 5.0.0.RELEASE +
* 1.0.1.RELEASE +

## Fix Version/s
(To be w

[2016-09-15 10:57] kazuki43zoo commented on #2192
bash環境([GitBash](https://git-for-windows.github.io/)とか)をセットアップして、

[code]

とすればよい。

また、[jq](https://stedolan.github.io/jq/)コマンドを併用すると、いい感じになる（JSONがフォーマットされる）。

[code]

なお、jqコマンドは単なるexeファイルなので、ダウンロードしたファイルを`jq.exe`にリネームし、コマンドを実行するディレクトリ（カレントディレクトリ）の直下に格納する or PATHが通っている場所に格納すればよい。

[2016-09-15 11:00] kazuki43zoo commented on #2192
あ・・GitBashだと、`C:\Program Files\Git\usr\bin` とかに格納しないとダメかも！？

[2016-09-16 10:10] btkatoutmj opened #2199 "fix travis-ci badge in README.md on 5.2.x and 5.1.x"
## Description
fix travis-ci badge in README.md on 5.2.x and 5.1.x

## Possible Solutions
on 5.2.x
branch=master -> branch=5.2.x
on 5.1.x
branch=master -> branch=5.1.x

## Affects Version/s
 -

## Fix Version/s
- [x] 5.2.x
- [x] 5.1.x

## Issue Links
Nothing

## ChangeLog

[2016-09-20 06:32] kazuki43zoo opened #2201 "Can use default method on mapper interface since the MyBatis 3.4.2"
## Description
まだ正式リリースされていないが、MyBatis 3.4.2より、Java SE 8でサポートされたdefaultメソッドをMapperインタフェースで利用できるようになる。
defaultメソッドを利用することで、今までＳｅｒｖｉｃｅ層で実装していた一部のデータアクセス関連の処理をRepository(Mapper)インタフェース側に実装することができる。

たとえば、

* ページ検索関連の制御処理
* 主エンティティと関連エンティティの登録や更新の制御処理
* etc ...

などの処理である。
これらの処理をRepository側に実装することで、Ｓｅｒｖｉｃｅ層で実装するロジック（＝いわゆるビジネスロジック）をシンプルに保ちやすくなる。

## Possible Solutions
(Please write ideas or candidates

[2016-09-21 07:45] btyoshikawaa commented on #2190
@btkobayashirun
Sorry, please write change log to master, and backport to 5.2.x .

[2016-09-21 08:09] #1869 closed

[2016-09-26 04:26] btkobayashirun opened #2215 "warning on travis-ci of English guidline's Pull Request"
## Description
investigation of Travis -CI warning

## Possible Solutions
TBD

## Affects Version/s
N/A

## Fix Version/s
N/A

## Issue Links
* #1899
* #1940
* #2040
* #2024
* #2065
* #2078

[2016-09-27 02:34] ikeyat opened #2219 "AbstractBLogic structure prevents a creation of proxy class that may lead AOP disabled or mis-injection"
## Description

http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ImplementationAtEachLayer/DomainLayer.html#id19
3.2.5.2.3. メソッドのシグネチャを限定するようなインタフェースや基底クラスについて

で紹介されている `AbstractBLogic` を継承するServiceの作成方法について、使用条件によってはSpringが正しくProxyクラスを生成できないため、適用したはずのAOP（宣言的なトランザクション制御含む）が適用されない可能性がある。
理由は以下と考えられる。
- Bean内のメソッドにAOP適用した場合、SpringはJDK Proxyにより「Bean対象クラスが実装しているインターフェイス」を実装したProxyクラスのインスタンスを

[2016-09-28 06:58] btmikamihdt commented on #1361
@ikeyat  @kazuki43zoo
9874301febbba8d96bdb74f9b3c3d35ac6a45db7
上記のコミットでビルドするとdviファイルからpdfファイルへの変換時、（dvipdfmx実行時）に下記エラーが出力されます。

** WARNING ** Failed to load ToUnicode mapping: UTF8-UCS2
** WARNING ** Interpreting special command tounicode (pdf:) failed.
** WARNING ** >> at page="1" position="(72, 769.89)" (in PDF)
** WARNING ** >> xxx "pdf:tounicode UTF8-UCS2"
** ERROR ** Unable to find TFM file "

[2016-09-29 09:48] btarakists opened #2260 "URL constraint description is misleading"
## Description

http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebApplicationDetail/Validation.html#validation-validator-list
4.1.4.1.2. Hibernate Validatorのチェックルール
@URLの説明について

「RFC2396に準拠しているかどうか検証する。」とあるが、正確な説明ではありません。
RFC2396のスキーマの章をみると、`alpha *( alpha | digit | "+" | "-" | "." )` が許容される値になっています。
https://www.ietf.org/rfc/rfc2396.txt

Hibernate Validator の`@URL`の

[2016-09-30 09:45] #2199 closed

[2016-10-02 01:20] kazuki43zoo commented on #1991
@sasakitsy Issueわけましょう！

[2016-10-02 01:25] kazuki43zoo commented on #1695
「MyBatis設定ファイルを作りたくないな〜」という話はちらほら聞くので、個人的にはMyBatis設定ファイルを使わずに設定する方法に切り替えるのがよいと思っています。

[2016-10-02 01:34] kazuki43zoo commented on #1293
ちなみに・・・「`@SessionAttributesで管理している`」と表現していますが、正確には「`Modelとして管理している`」ですね。
たとえば・・・、`@ModelAttribute`メソッド使って`Model`に格納した読み取り専用のオブジェクトをHandlerメソッドの引数として受け取りたい場合も同じことが言えるので。

[2016-10-02 01:36] kazuki43zoo commented on #1141
@sasakitsy いったん担当かえました。

[2016-10-02 01:41] kazuki43zoo commented on #815
@sasakitsy これクローズしちゃってよい気がします。

[2016-10-02 01:44] kazuki43zoo commented on #750
@sasakitsy これは  #1325  で対応済みなのでクローズでよいと想います。

[2016-10-02 02:03] kazuki43zoo opened #2271 "Add explanation for AsyncRequestTimeoutException"
## Description

Spring 4.2.8より、非同期リクエストのタイムアウト検知を通知する例外として`AsyncRequestTimeoutException`が追加され、`DefaultHandlerExceptionResolver`でハンドリングされる。
## Possible Solutions

例外ハンドリングのガイドに`DefaultHandlerExceptionResolver`によってハンドリングされた時のレスポンスコードの一覧があるので、そこに`AsyncRequestTimeoutException`の説明を追加する。
## Affects Version/s
- 5.1 +
## Fix Version/s
- [x] 5.3
## Issue Links
- https://jira.spring.io/browse/SPR-14669
## C

[2016-10-02 02:35] kazuki43zoo opened #2272 "Add explanation for character encoding"
## Description
現在のガイドラインでは文字エンコーディングの話題にあまりふれてないが、アプリケーションを構築する上で文字エンコーディングは重要な要素の１つなので、ガイドを追加した方がよいと思われる。

## Possible Solutions
リクエストとレスポンスのエンコーディングの話、ファイルIO時（ログ出力時）のエンコーディングの話、Javaのエンコーディングの話、DBなどストレージ層のエンコーディングなどなど。
また、ブランクプロジェクトはUTF-8前提であることもどこかで明示しておいた方がよいと思う。
※他のエンコーディングにする場合の変更方法もあった方が親切だと思うが、どこまで説明するかは要検討。

## Affects Version/s
* all versions

## Fix Version/s
(To be written later by proj

[2016-10-03 01:38] ikeyat commented on #2260
@btarakists
レポートありがとうございます。Hibernate Validatorの作法に準拠していると思いますので、Possible Solutionsに書いていただいた通りの対応を取りたいと思います。

これは``@URL``のjavadocのミスリードな記述が修正された、と理解しました。

[2016-10-03 04:52] btarakists commented on #2260
@ikeyat

[HV-886](https://hibernate.atlassian.net/browse/HV-886) はご認識の通りJavaDocの修正のみです。
わかりづらい記載で申し訳ありません。

[2016-10-03 08:12] btyoshikawaa commented on #2002
@btnoguchimnm
Please backport to 5.2.x.

[2016-10-04 02:34] btyoshikawaa commented on #2002
@sasakitsy
Please create translation issue. And after that, please close this.

[2016-10-04 08:00] btkobayashirun commented on #2177
@ikeyat
バグの事実確認を行う上で質問があります。

①spring-functionaltestについて
　ガイドラインに変更がありますがspring-functionaltestにテストの追加は必要でしょうか？
　Linux環境限定でハードウェア依存のバグなため必要ないような気がしていますが確認させてください。

②使用するLinuxの環境について
　Linux環境を用意する必要があるので、vagrantでtomcat8のVMを立ち上げてそこで作業を行おうと思ってます。
　この方法で問題ないでしょうか？

③証跡について
　バグの事実確認について証跡を載せる必要があると思うのですが、コマンドログやコンソールログを
　PRに載せる形で問題ないでしょうか？

[2016-10-04 08:05] btyoshikawaa commented on #2177
@btkobayashirun
内部情報はGithubに書かないでください。

[2016-10-05 06:53] #1899 closed

[2016-10-05 07:44] #1940 closed

[2016-10-05 08:00] #1980 closed

[2016-10-05 08:09] #2001 closed

[2016-10-05 08:37] #2048 closed

[2016-10-05 09:13] #2065 closed

[2016-10-05 09:17] #2067 closed

[2016-10-05 09:23] #2121 closed

[2016-10-06 08:14] btkatagiriyu opened #2281 "@ControllerAdvice(annotations = RestController.class) is not listed on TutorialREST"
## Description

チュートリアル(Todoアプリケーション REST編)の
10.2.3.7.4. REST APIのエラーハンドリングを行うクラスの作成 において、
@ControllerAdviceに(annotations = RestController.class)属性を付与することが推奨されているが、
その後のサンプルにはannotations属性なしとなっている。
サンプルに追加した方が良いと思われる。

ただし、annotations属性を付与して、動作確認を行うと、下記結果となる。
　①10.2.3.7.6. HTTPレスポンスBODYにエラー情報を出力するための実装（405 Method Not Allowedのエラー）
　　　　⇒ Handlerが機能せず、レスポンスがHTML形式で返却される
　②10.2.3.7.8. 業務例外のエラーハンドリングの実

[2016-10-06 16:24] kazuki43zoo commented on #2281
@btkatagiriyu

ガイドラインを見直してみましたが、API用のサーブレットを用意する前提になっているので、適用対象を絞る属性「`(annotations = RestController.class)`」の指定は不要ですね。

なので・・・コードを正として説明文を修正してほしいです。
（`@ControllerAdvice`に属性を何も指定しなかった場合に、ガイドラインに記載されている動作になる事は確認してほしいです）

アサインしちゃいます。

[2016-10-07 09:48] sasakitsy commented on #2125
@btkobayashirun
Please backport to other branches.

[2016-10-11 01:27] btyoshikawaa commented on #2190
@sasakitsy
Please assign to translation issue.

[2016-10-12 01:48] ikeyat opened #2292 "Add notes for use of Lombok"
## Description
Appendixで紹介しているLombokについて、メリットと対比する形で利用時の注意事項や制約や、それらへの代替手段などを冒頭に追加したほうが良い。
* 自動生成されたメソッドに対し、STSやEclipseなどで、メソッド右クリックからのCall Hierarchyが使えなくなる
    * 代替手段として、自動生成メソッドはOutline Viewに表示されるため、そこから右クリックでCall Hierarchyが実行できる
* 生成されたコード内で例外が発生した場合のトレーサビリティ性が落ちる可能性がある
* IDEやIDE Pluginとの相性、対象クラスの量によっては、コーディング時に性能劣化がある？（真偽は要調査）
 * etc...

## Possible Solutions
* Lombok公式サイトやLombokのIssue、Stackov

[2016-10-12 05:47] #2024 closed

[2016-10-12 05:52] #2040 closed

[2016-10-12 08:58] #2215 closed

[2016-10-12 10:01] #2069 closed

[2016-10-12 10:16] #2070 closed

[2016-10-12 10:39] sasakitsy commented on #1981
@btkobayashirun
Please backport to other branches.

[2016-10-12 10:39] sasakitsy commented on #2041
@btkobayashirun
Please backport to other branches.

[2016-10-12 12:24] sasakitsy opened #2307 "Reflect Eng (Change the reference path to a release version)"
## Description
Change the reference path to a release version.
Now, some references are "master".

For examples;
now:
`terasoluna-gfw-common <https://github.com/terasolunaorg/terasoluna-gfw/tree/master/terasoluna-gfw-common-libraries/terasoluna-gfw-common>`

change for 5.2.0:
`terasoluna-gfw-common <https://github.com/terasolunaorg/terasoluna-gfw/tree/5.2.0.RELEASE/terasoluna-gfw-common-libraries/

[2016-10-13 04:45] #1981 closed

[2016-10-13 04:51] sasakitsy commented on #2127
@btkobayashirun
Please backport to other branches.

[2016-10-13 09:54] #2041 closed

[2016-10-13 10:20] #2078 closed

[2016-10-13 10:31] #2122 closed

[2016-10-13 10:53] #2125 closed

[2016-10-13 11:07] sasakitsy commented on #2014
This issue is already translated (#1907).
Therefor this issue will be closed.

[2016-10-13 11:07] #2014 closed

[2016-10-13 11:13] sasakitsy commented on #2015
This issue is no need for translation.
Therefor this will be closed.

[2016-10-13 11:13] #2015 closed

[2016-10-13 11:15] #2127 closed

[2016-10-13 13:23] sasakitsy commented on #2133
@btkobayashirun
Please backport to master.

[2016-10-13 18:06] ikeyat opened #2325 "Improve Introduction section"
## Description
「はじめに」章は初回リリースからあまり変更がなされていないが、現在の本ガイドラインの位置づけや状況にキャッチアップさせるべく、全体的に見直した方が良い。

## Possible Solutions
以下は盛り込んだ方が望ましいと思われる内容を思いつくままに列挙。過不足や表現の仕方などブレークダウンしていく必要あり。
そもそもトップページ(http://terasolunaorg.github.io/)に追記するべき？も検討すること。

- 本ガイドラインの使い方
    - 商用開発時の指針提示として
        - フレームワーク構築者向け観点での場合
        - 業務処理開発者向け観点での場合
    - 技術習得
    - 辞書、根拠づけ
    - 実際の利用ケース例
- 本ガイドラインを使用しての商用開発時に注意すべきこと
    -

[2016-10-14 05:11] btkobayashirun commented on #2307
No subject to 1.0.x

[2016-10-14 06:08] #2130 closed

[2016-10-14 06:34] #2133 closed

[2016-10-14 06:46] #2128 closed

[2016-10-14 06:53] #2129 closed

[2016-10-14 07:51] #2307 closed

[2016-10-14 08:47] ikeyat commented on #2132
Sorry. I wrote incorrect issue content. I modified it.

[2016-10-14 09:28] #2132 closed

[2016-10-17 06:56] btkigamim opened #2344 "Add explanation about display of the PageLink"
## Description
ページネーションのページリンクの表示範囲はterasoluna FW 内で実装されているが、
表示範囲についての説明がガイドライン、javadoc に記載されていない。

## Possible Solutions
ページネーションのページリンクは、現在表示されているページを起点とした範囲で
前後の「指定したページに移動するためのリンク」が表示されることを
補足説明としてガイドラインに追加した方がよいと思われる。

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
(To be written later by project member)

## ChangeLog
(To be written later by project member)

[2016-10-24 02:45] btkigamim opened #2345 "Add explanation about DispatcherServlet forward to the default Servlet"
## Description
REST APIへのリクエストとしてREST API用の DispatcherServlet へマッピングしたURLパターンに
JSPのパスをリクエストすると、JSPとして処理されずにJSPファイル(ソース)としてレスポンスされる。
blank プロジェクトのデフォルトの設定で上記現象が起こるため、ガイドラインにPossible Solutionsで示す内容の説明を追加した方が良いと思われる。

## Possible Solutions
REST API用の org.springframework.web.servlet.DispatcherServlet が
APサーバのデフォルトサーブレットにフォワードされ、
デフォルトサーブレットがJSPファイル(ソース)を返却している。
  ※実際にフォワード処理が実装されているのは、
      org.sprin

[2016-10-24 09:37] sasakitsy opened #2346 "Typo in FrameworkStack"
## Description

http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Overview/FrameworkStack.html#o-r-mapper
## Possible Solutions

"テーブルがほとんど正規化されいない" -> "テーブルがほとんど正規化されていない"
## Affects Version/s
- 5.2.0.RELEASE
- 5.1.1.RELEASE
- 5.0.3.RELEASE
- 1.0.5.RELEASE
## Fix Version/s
- [x] 5.3.0.RELEASE_ja
- [x] 5.2.1.RELEASE_ja
## Issue Links
- None
## ChangeLog
- Not Required

[2016-10-31 05:30] ikeyat opened #2347 "Reconsider Form class separation policy"
## Description
現在、以下の節で、似たような項目を持つFormは１つのフォームクラスに集約し、グループ化したほうが修正コストが小さくなるような記述がある。
しかし、フォームクラスがJSPの``<form:form>`` に1対1にバインドされることを考えると、JSPの変更に対して同期をするためには、JSPファイルの分割ポリシーとフォームクラスの分割ポリシーは合わせておいたほうがリーズナブルなように思われる。記述内容を見直したほうが良い。

http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Tutorial/TutorialTodo.html#id29
Note

## Possible Solutions
TBD

## Affects Version/s
* ~5.2.0.RELEASE
* ~5.1.1.R

[2016-11-01 01:09] btkigamim opened #2348 "How to not run the RequestMapping for handing the business processing When request get the static resources"
## Description
静的ファイルを取得するためのリクエストを処理する際、静的ファイルに辿り着く前に業務処理を実行するためのリクエストマッピングを走査するような動作となっていることを確認しました。
設定内容が妥当ではない可能性もありますが、ガイドラインにて関連する記載が見当たらなかったのでフィードバックします。

## Possible Solutions
今回のケースの解決に当たっては、静的ファイルに対するリクエストマッピングを先行して終わらせるよう
以下のように spring-mvc.xml の設定をすることで対応しました。
[code]

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
(To be written later by project member)

## Chang

[2016-11-01 15:07] ikeyat commented on #2348
``<mvc:resources>`` で静的ファイルのパスが指定されている前提でも、そのようなことが起きる、という事象で合っていますでしょうか？
http://docs.spring.io/spring/docs/4.2.x/spring-framework-reference/htmlsingle/

もし、``<mvc:resources>`` を指定しているにもかかわらず、Possible Solutionのような回避方法をとらないとすれば、Springへ報告した方が良いと思われます。

単なる``<mvc:resources>`` の利用漏れだったという場合は、Springの作法に習い``<mvc:resources>`` を使用するようにすべきだと思います。
たしかにブランクプロジェクトに記述されており、TERASOLUNA FWとしては暗黙的に利用することを前提にしていますが

[2016-11-01 15:35] ikeyat commented on #2348
推測ですが
http://qiita.com/kazuki43zoo/items/e12a72d4ac4de418ee37
の、
1. 「DispatcherServletとデフォルトサーブレットの併用」が元Issueの状態、
1. 「DispatcherServletとデフォルトサーブレットの併用」の仕組みの一部を、無理やり実行順序を変えることで、目的を達成しようとしたのが、Possible Solution
1. 「Spring MVCの独自機能を利用した静的リソースへのアクセス」が``<mvc:resources>``を使用する方法

1. と3. は目的がそもそも違う（1.はパスがいずれにもマッチしなかった場合のフォールバック、3. は静的ファイルの取得が目的であることが自明である場合）。本Issueの内容からは、静的ファイルであることが自明のように伺える、すなわち3.の目的を実現

[2016-11-02 07:43] ikeyat commented on #2348
XML Schemaのnamespaceのbean組立はまだ確認できていませんが、同等機能のJava Configでの仕組みである``ResourceHandlerRegistry`` では、``HandlerMapping``の``order``がIntegerのmax値で登録されますね。XML Schema側も同様の設計だとすると、Issueの通り最後に``ResourceHttpRequestHandler``が呼び出されるため、性能劣化が生じる可能性がありますね。
Springにこの``order`` のデフォルト値を``-1``にしてもらうか、XML Schemaのnamespace際も``order``を上書きできるようにしてもらう要望を上げてみるのがよさそう。

https://github.com/spring-projects/spring-framework/blob/

[2016-11-02 09:53] kazuki43zoo commented on #2348
@ikeyat @btkigamim

たぶん、`order`属性あると思われます。

[2016-11-02 09:56] kazuki43zoo commented on #2348
ikeyat @btkigamim

やっぱあった。バグがなければ優先順位かえられます。

[2016-11-02 10:05] kazuki43zoo commented on #2348
ちなみに・・直前の @ikeyat のコメントのみに反応してます。

[2016-11-02 10:10] kazuki43zoo commented on #2348
`/resources/**`に対するハンドラーを`DefaultServletHttpRequestHandler`にしているのもちょっと意味がわからないな～。

[2016-11-02 10:16] ikeyat commented on #2348
@kazuki43zoo ありがとうございます。これですね、``order``。

https://github.com/spring-projects/spring-framework/blob/v4.2.7.RELEASE/spring-webmvc/src/main/resources/org/springframework/web/servlet/config/spring-mvc-4.2.xsd#L635

とも書いてある。今回のような問題を避けるために、

``<mvc:resources ... order="-1" />`` を推奨する旨＋ブランクプロジェクトに``-1`` の追加（やりすぎ？）

は反映したほうが良いかなと思います。 @sasakitsy

[2016-11-02 10:55] ikeyat commented on #2348
https://jira.spring.io/browse/SPR-14871

デフォルトの``order``を-1にするか、ドキュメントで注意喚起するかしてくれ、とSpringに要望してみました。-1にするだけなら瞬殺なのでネガティブな反応きたらPRしてみます。

[2016-11-02 15:57] kazuki43zoo commented on #2348
👍

[2016-11-03 15:44] ikeyat commented on #2345
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebServiceDetail/REST.html

を見る限り、``spring-mvc-rest.xml``に``<mvc:default-servlet-handler />``を記述するようなことは書いていない。元々記述がないので除外するような対応は不要だと思われる。

そもそも、REST APIに特化された書き方になっているが、REST APIでなく一般的なJSPベースの画面アプリケーションの場合には、以下のように``<mvc:default-servlet-handler />`` が存在してもJSPレンダリングは可能なはず。

https://github.com/terasolunaorg/terasoluna-gf

[2016-11-05 16:22] KunimitsuMasuda opened #2349 "[RESTful Web Service] 脱字"
## Description
「5.1.2.7. 関連のあるリソースへのリンク」にて、「疎結合性を高めることが出来る理由」の項番(2)に脱字がある。

## Possible Solutions
誤）クライアントアプリケーショ
正）クライアントアプリケーショ**ン**

## Affects Version/s
* All versions

## Fix Version/s
- [x] 5.3.0
- [x] 5.2.1

## Issue Links
*　http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebServiceDetail/REST.html#restoverviewaboutrestfulwebservice

## ChangeLog
N/A

[2016-11-05 16:27] kazuki43zoo commented on #2349
@KunimitsuMasuda 報告ありがとうございます！

次回からIssueテンプレートにそって報告頂けると助かります。

[2016-11-07 02:57] NaozumiTaromaru commented on #2348
本件、私が性能改善対応しました。
私としては、
 ```<mvc:resources>``` のorderのデフォルト値も変更したほうがいいと思いますが、
真っ先に思ったのは、
```<mvc:default-servlet-handler />``` にも ```<mvc:resources>``` と同様、
mappingとorderが欲しいなというものでした。
[code]
性能改善用に追加したbean定義は、
```<mvc:default-servlet-handler mapping="/resources/**" order="-1"/>``` をイメージしたものです。
( ```<mvc:default-servlet-handler/>``` の展開後のbean定義を元に作っています。)

まず、プロジェクトの最初の状態(CPUネックで性能出ない問題発生時)は、ブランクプ

[2016-11-07 05:29] #2191 closed

[2016-11-08 09:38] #2346 closed

[2016-11-08 10:01] E-Kanegae opened #2354 "配列パラメータの上限値を外す際の注意点について"
## Description
リストや配列をリクエストパラメータとしてフォームオブジェクトにバインドする際に、
デフォルトでは上限値が256で規定されていると思います。

それを解除するには、
 _org.springframework.web.bind.WebDataBinder_ の _setAutoGrowCollectionLimit_ を
呼び出す必要がありますが、呼び出す順序を間違えると設定を解除することができないため
 ガイドラインにて説明を追加していただきたいです。

## Possible Solutions
 _@ControllerAdvice_ を付与したクラスを作成し、 _initBinder_ メソッドにて _setAutoGrowCollectionLimit_  を呼び出す。

なお、その際の注意点は以下の通り。
- _registerCustomEdito

[2016-11-08 16:23] kazuki43zoo commented on #2354
@E-Kanegae

フィードバックありがとうございます。ガイドラインへの反映を検討させて頂きます。
なお、今回のように無効な設定を行った際に、無効な設定であることを通知する例外を発生させる改善要望をSpring JIRA([SPR-14888](https://jira.spring.io/browse/SPR-14888))に発行しました。

ざっと確認した範囲では、`setAutoGrowCollectionLimit`以外は設定した内容が反映されるように見えましたが、`setAutoGrowCollectionLimit`以外で無効になるパラメータありましたか？

[2016-11-08 16:32] kazuki43zoo commented on #2354
@E-Kanegae

[SPR-14888](https://jira.spring.io/browse/SPR-14888)へのPRがマージされたため、Spring 4.3.5+で無効な設定を行うとエラーになります。類似の対応が必要な場所があるようであれば、フィードバック頂けると助かります。

[2016-11-09 01:59] #2349 closed

[2016-11-09 07:41] btyoshikawaa commented on #2081
@btryuushou
Thanks you for your long work.

[2016-11-09 08:33] btkigamim opened #2357 "[ファイルアップロード]4.9.2.6.1 文章中の脱字について"
## Description
以下の項目の文章中にて、脱字と思われる個所を確認。

■4.9.2.6.1. Controllerの実装
　-　Warning
 　　- 「 データベースに保存す処理を」
 　　　⇒保存する処理 の「る」が抜けています。

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.4.0
- [x] 5.3.1

## ChangeLog
(To be written later by project member)

[2016-11-10 04:11] btyoshikawaa commented on #2047
@sasakitsy
Plesae create issue for english translation, after that close this.

[2016-11-11 07:50] iwanagah opened #2358 "Spring Securityチュートリアルにあるソース例のハイライトがずれている"
## Description
Spring Securityチュートリアルにあるソース例のハイライトがずれている。

「アプリケーション層の実装/Spring Securityの設定」のspring-security.xmlのソース例において、
番号とは関係ない部分にハイライトがされている

## Possible Solutions
要方針検討だが、(1)などのハイライトをしているソースとしていないソースがあるので、
外してしまっていいと思っています。
もしくは、他にあわせてハイライトの行数を調整する。

ガイドライン全体としてどうするか？という話は別途必要だが、とりあえず、上記の部分は
見当違いの場所のハイライトなので直しておきたい。

## Affects Version/s
* 5.2.0.RELEASE以下。他は未確認

## Fix Version/s
- [ ] 5.3.0

[2016-11-12 16:40] kazuki43zoo commented on #2348
@NaozumiTaromaru

詳細な解説ありがとうございます。いろいろ納得しました。
自前でBean定義するのではなく、`<mvc:default-servlet-handler>`で対応できるのが理想ですね。

まじっすか？自分も試してみましたが、

* 初回はサーバ問い合わせして200
* ２回目以降（キャッシュ期間内）はサーバ問い合わせなしでブラウザキャッシュから取得して200
* F5で強制的にサーバ問い合わせ時は304

になりました。
なんか設定が違うのかな〜。

[2016-11-14 02:10] btyoshikawaa commented on #2358
@iwanagah
#2081 Reflect the change of blank projects to guidelines の対応で、既に併せて修正しています。

[2016-11-15 02:24] btyanagawamg commented on #2081
Description

There is a reflect leakage of the change of blank projects.

Possible Solutions

Reflect changes.
 For example spring-mvc.xml in https://github.com/terasolunaorg/guideline/blame/master/source/ImplementationAtEachLayer/CreateWebApplicationProject.rst#L766 .

Affects Version/s
•5.X.X.RELEASE
•1.X.X.RELEASE

Fix Version/s
•ja

 5.3.0

 5.2.1

 5.1.2

 5.0.3

 1.0.6
•en

 5.3.0

 5.2.1

[2016-11-16 06:41] #815 closed

[2016-11-21 10:02] btnoguchimnm opened #2360 "Spring Security チュートリアルのfirst-springsecurity-env.xmlの設定の手順が不要"
## Description
ブランクプロジェクトにjdbcのスキーマ定義および<jdbc:initialize-database>タグが追加されているため、
[10.4.4.1.5. データベースの初期化スクリプトの設定](http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Tutorial/TutorialSecurity.html#id12)
で行っていた「first-springsecurity-env.xmlに設定を追加する」手順は不要。

該当箇所の必要性について検討し、説明として残す場合には、
first-springsecurity-env.xmlのソースコード例の「REMOVE THIS LINE IF YOU USE MyBatis3」のコメント行を削除する必要がある。
（mybatis3のブランクから作成

[2016-11-21 10:51] kimullamen opened #2361 "UserDetails は固定データのみを保持することが望ましい"
## Description
UserDetailsクラスに、ログイン後に決定する値を持たせると、クラスタ環境においてセッションがレプリケーションされない場合があります。そのため、TERASOLUNAガイドラインに明示的に「UserDetailsクラスには固定データのみを保持することが望ましい」ことを記載していただきたいです。

以下、レプリケーションされないパターンのコードです。
UserDetailsの変更がセッションレプリケーション先のAPサーバに伝搬しません。

[code]

以下、理由の詳細です。

TomcatではHttpSession#setAttributeが呼ばれないとセッションレプリケーションが実行されません。

Spring SecurityでAuthenticationクラスがセッションに永続化されるタイミングは、SecurityContextRepository

[2016-11-21 11:17] kazuki43zoo commented on #2361
@kimullamen

連携ありがとうございます。提示して頂いた解決方法も含めて改善案を検討させて頂きます。

[2016-11-21 12:10] ikeyat commented on #2361
詳細なご報告ありがとうございます。

セッションレプリケーション機能を使わず、LBでSession Stickyなロードバランシングをとる開発ケースも多いため、「UserDetailsクラスには固定データのみを保持することが望ましい」を書く場合はその前提条件（例：セッションレプリケーションを使用する場合などは、・・・）を明確化しておいた方が良いでしょう。

[2016-11-22 02:10] btyoshikawaa opened #2362 "No description about forward in Application layer implementation"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ImplementationAtEachLayer/ApplicationLayer.html
「アプリケーション層の実装」の章に、`forward:`を利用して画面遷移する例がない。
遷移元コントローラで`Model`に追加したパラメータを、遷移先コントローラの`Model`や`@ModelAttribute`で受け取ることができず、リクエストから直接取得しなければならないが、ここでハマってしまう方もいるので、ガイドラインで言及してあげたほうが良い。
なお、Spring 4.3からは`@RequestAttribute`を利用することで、リクエストを直接扱う必要がなくなるので、この点にも言及すると良い。

## Possible Solutio

[2016-11-22 03:01] yoshikawaa opened #2363 "Descriptions about Spring Validator supports method are insufficient"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebApplicationDetail/Validation.html#spring-validator
「Spring Validatorによる相関項目チェック実装」の節で、`org.springframework.validation.Validator#supports`メソッドの役割を「このValidatorのチェック対象であるかどうかを判別する。」と紹介しているが、チェック対象でない場合に以下のような例外が発生することについて言及していない。
[code]
Noteに「一つのControllerで複数のフォームを扱う場合は、Validatorの対象を限定するために、@InitBinder("x

[2016-11-22 04:01] btyoshikawaa commented on #785
@sasakitsy
Please create translation issue, and close this.

[2016-11-25 11:38] kazuki43zoo opened #2364 "'aggressiveLazyLoading' change to false since the MyBatis 3.4.2"
## Description
まだ正式リリースされていないが、MyBatis 3.4.2より、`aggressiveLazyLoading`のデフォルト値がガイドラインで推奨している`false`に変更される。

## Possible Solutions
[ガイドライン](http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/DataAccessDetail/DataAccessMyBatis3.html#lazy-load
)ではaggressiveLazyLoadingを`false`にすることを推奨する旨の説明があるため、ガイドラインの記載を見直す。

今書いている内容は削除し、代わり・・・

* 動作を変更するパラメータがあるという事実
* そのデフォルト値がガイドライン上の推

[2016-11-25 12:19] kazuki43zoo opened #2365 "Can detect type handlers for JSR-310 automatically since MyBatis 3.4"
## Description

MyBatis 3.4以降では、JSR-310用のType Hanlderを自動検出するようになっている。

## Possible Solutions

ガイドラインは3.3系ベースでマニュアルで追加する方法になっているため、この部分の記載を見直す。

## Affects Version/s
* 5.2.0.RELEASE

## Fix Version/s
- [x] 5.3.0_ja
- [ ] 5.3.0_en

## Issue Links
* https://github.com/mybatis/mybatis-3/pull/597

## ChangeLog
- [x] Yes

[2016-11-25 12:31] kazuki43zoo opened #2366 "Can omit the @Param when use JDK 8's -parameters option since MyBatis 3.4.1"
## Description

MyBatis 3.4.1以降では、JDK 8から追加された `-parameters`オプションを付けてコンパイルすると`@Param`を省略できる。

## Possible Solutions

省略することを推奨する必要はないと思うが、`-parameters`付きでコンパイルすることで省略できる旨はNoteで記載しておきたい。

## Affects Version/s
\-

## Fix Version/s
- [x] 5.4.0
- [x] 5.3.1
- [ ] write issue for translation

## Issue Links
* https://github.com/mybatis/mybatis-3/issues/549

## ChangeLog
not required(improvement)
- [x] c

[2016-11-25 12:46] kazuki43zoo opened #2367 "Support Cursor implementation since MyBatis 3.4"
## Description
MyBatis 3.4以降では、MyBatis独自の仕組みとしてCursor実装がサポートされる。
この対応により、大量データを扱う場合でも自然な形で１件ずつフェッチ(Java Beanへの変換)することができる。（補足：ただし、JDBCレベルのフェッチはフェッチサイズに依存します）

MyBatis 3.3までは、`ResultHandler`を実装してコールバックしてもらうスタイルだった使う必要があったため、やや煩雑な実装

## Possible Solutions

`ResultHandler`と`Cursor`の特徴を整理した上で、必要に応じてガイドラインを修正する。

## Affects Version/s
\-

## Fix Version/s
- [] 5.3.0

## Issue Links
* https://github.com/

[2016-11-27 10:15] ikeyat commented on #2362
forwardを行う必要がないのであれば、下記の事例のようにmethod callで実装した方が良いでしょう。
``BindingResult``も同様に引き継げないので、``@RequestAttribute``の使用は苦肉の策かと。
http://www.slideshare.net/HasegawaDanna1/application-rearchitecture-technology-strutsspring-mvc
P.35

[2016-11-28 05:30] btkukinom commented on #1917
本件はblankプロジェクトに差異が存在し、どちらをベースにして記述しているかでガイドラインにも差異が引き継がれていたのが原因になります。

terasoluna-gfw-web-blank        : HomeController.java
terasoluna-gfw-web-multi-blank  : HelloController.java

別issueにて上記の差異の修正が行われ、ガイドラインについても修正を実施しているため本issueでの対応は不要とさせてください。

## 対応Issue
* blankプロジェクト修正（ https://github.com/terasolunaorg/terasoluna-gfw-web-blank/issues/237 ）
* ガイドライン修正（#2081）

[2016-11-28 05:34] btyoshikawaa commented on #1917
@btkukinom
Thanks for your comment!

[2016-11-28 05:34] #1917 closed

[2016-11-28 09:43] E-Kanegae commented on #2354
@kazuki43zoo

ご返事遅れてすみません、ご対応ありがとうございます。
内容も確認させていただきました。

こちらは可能性を記載しただけで同様のパラメータを見つけたわけではありません、
紛らわしい書き方をしてすみません。

[2016-12-01 05:23] bthayashidi opened #2368 "@ExceptionHandler is able to process Error thrown from handler method since Spring MVC 4.3"
# Description
@ExceptionHandlerでErrorやThrowableもハンドリングできるようになった。

## Possible Solutions
以下の内容をガイドラインの「4.2.例外ハンドリング」へ反映する。
java.lang.Exceptionやjavax.servlet.ServletExceptionをハンドリングするようにしていると、意図せずjava.lang.Throwableやjava.lang.Errorを継承したクラスもハンドリングされてしまうため注意が必要。

## Affects Version/s
 * 5.3.0.RELEASE

## Fix Version/s
 - [x] 5.3.0.RELEASE

#### reflect changes
* https://github.com/terasolunaorg/teraso

[2016-12-01 05:42] bthayashidi opened #2369 "Added AsyncRestTemplate interceptors since Spring MVC 4.3"
## Description
AsyncRestTemplateにインタセプター(RestTemplateでいうところのClientHttpRequestInterceptor相当)の仕組みが追加された。

## Possible Solutions
現状、明確に「できない」旨が記載されているため、当該記述を削除する。
また、必要に応じて使用例等追記する。

## Affects Version/s
\-

## Fix Version/s
 - [x] 5.3.0.RELEASE

## Issue Links
* http://qiita.com/kazuki43zoo/items/53d2ca25c174ff618331#asyncresttemplate%E3%81%AB%E3%82%A4%E3%83%B3%E3%82%BF%E3%82%BB%E3%83%97%E3%82%BF%E

[2016-12-01 07:42] bthayashidi opened #2370 "java.io.IOException occurs in WAS-LP version 16.0.0.2"
## Description
WAS-LP version 16.0.0.2にてRESTでアクセスした際にjava.io.IOExceptionが発生する。
詳細は[SPR-14784](https://jira.spring.io/browse/SPR-14784)参照。

## Possible Solutions
上記の件に関して調査の上、必要であれば対処を行う。

## Affects Version/s
 - [ ] 5.3.0.RELEASE

## Fix Version/s
 - [ ] 5.3.0.RELEASE

## Issue Links
* https://jira.spring.io/browse/SPR-14784

## ChangeLog
- [ ] Yes

[2016-12-01 08:37] bthayashidi opened #2371 "HttpRequestMethodNotSupportedException occurs when accessing Path set by <mvc: view-controller> with POST method"
## Description
<mvc:view-controller>で設定したPathにPOSTメソッドでアクセスするとHttpRequestMethodNotSupportedExceptionが発生するようになった。

## Possible Solutions
上記内容についてガイドラインへ反映する。
可能なら回避方法や代替案を挙げる。

## Affects Version/s
 - 5.3.0

## Fix Version/s
 - [x] 5.3.0.RELEASE

## Issue Links
* https://jira.spring.io/browse/SPR-13130
* https://github.com/spring-projects/spring-framework/commit/135738f9bfb5b9dacf164d6561144589dc98

[2016-12-01 09:12] bthayashidi opened #2372 ""select for update nowait" can not be used in Hibernate 5.0(PostgreSQL)"
## Description
Hibernate 5.0でPostgreSQLを使用している際にnowaitを使うように指定しても使用されない。
Hibernate 5.2.1でFixされている。

## Possible Solutions
ガイドラインで上記問題があることを明記する。

## Affects Version/s
 -  5.3.0.RELEASE

## Fix Version/s
 - [x] 5.3.0.RELEASE

## Issue Links
* https://hibernate.atlassian.net/browse/HHH-10797

## ChangeLog
- [x] Yes

[2016-12-02 01:02] bthayashidi opened #2373 "support MvcRequestMatcher"
## Description
Webリソースへの認可にて、Spring MVCのリクエストマッピングのルールと連動したRequestMatcher(MvcRequestMatcher)が追加された。

## Possible Solutions
MvcRequestMatcherを使用するようにガイドラインおよびブランクプロジェクト等の修正を行う。

## Affects Version/s
 - [ ] 5.3.0.RELEASE

## Fix Version/s
 - [ ] 5.3.0.RELEASE

## Issue Links
* https://github.com/spring-projects/spring-security/issues/3964
* http://qiita.com/kazuki43zoo/items/e925f134e65d7595aa3c#spr

[2016-12-05 06:49] bthayashidi opened #2374 "Issue Summary on library update in Version 5.3.0 (Spring IO Platform Athens & MyBatis etc...)"
# Description
Version 5.3.0におけるライブラリアップデートに関連するIssueのまとめ。

## Possible Solutions
__優先度<高\>__

* __Spring Framework 4.3.5.RELEASE__
    * @ExceptionHandler is able to process Error thrown from handler method since Spring MVC 4.3 ([#2368](https://github.com/terasolunaorg/guideline/issues/2368))
    * Added AsyncRestTemplate interceptors since Spring MVC 4.3([#2369](https://github.com/terasolunaorg/g

[2016-12-05 07:06] btyoshikawaa commented on #2189
Please see https://github.com/terasolunaorg/guideline/issues/2118#issuecomment-243433946 .

[2016-12-09 15:16] kazuki43zoo opened #2375 "Should be enable the rollbackOnCommitFailure option"
## Description
RDBMSとしてOracleを使用する場合、commitフェーズでエラーが起きると暗黙コミットされる可能性がある。

Note : 他のRDBMS上での動作は検証していないので、別途検証する必要あり。

## Possible Solutions
`DataSourceTransactionManager#setRollbackOnCommitFailure=true`にすることで、commitフェーズでエラーが発生した場合にrollbackメソッドを呼び出すことができる。
rollbackでエラーが発生した場合にどうなるのかは不定であるが、rollbackを試みるように設定しておくことで、意図しない状態にデータ更新されてしまうリスクを下げることができる。

現時点で問題になることはわかっているのはOracleだけだが、他のRDBMSも含めて一律設定するように

[2016-12-09 15:49] kazuki43zoo commented on #2375
とりあえず、PostgreSQLとMySQLは暗黙コミットされませんでした。

[2016-12-09 17:18] kazuki43zoo commented on #2375
DB2も試しました。そして、PostgreSQLとMySQLの結果が微妙に正しくなかった。

結果としては、

* defaultAutoCommitがtrueの場合は、Oracleを含めてすべての全てのRDBMSでコミットされた。
* defaultAutoCommitがfalseの場合は、Oracleのみコミットされた。

というのが正確な結果でした。

ちなみに・・・コネプの実装によっては↑の結果もかわる可能性があると思います。
上記の結果になったのは、Spring Boot上でTomcat JDBCのコネプを使った時の結果です。

[2016-12-10 00:21] kazuki43zoo commented on #2375
再度訂正・・・

コネクションプールを使っていると、defaultAutoCommitをfalseにしていても、Oracle以外でもコミットされちゃう可能性がありました。
エラーが発生した直後にコミットされることはないのですが、コネプに戻された後に同じコネクションを使った処理が正常成功したタイミングで一緒にコミットされてしまいます。

[2016-12-10 02:05] kazuki43zoo commented on #2375
http://qiita.com/kazuki43zoo/items/73225b41a2c36a720a4b にまとめました。

[2016-12-11 21:29] yggd commented on #2375
コネクションclose()による暗黙commitもあかんけど、

プールとしては想定内の動きですが、これは原因究明を困難にさせる事象であり非常にイヤですね。

[2016-12-13 17:28] kazuki43zoo commented on #2354
`<mvc:annotation-driven>`要素の`message-codes-resolver`属性を使って`MessageCodesResolver`をカスタマイズすると、`@InitBinder`メソッドで`setAutoGrowCollectionLimit`しても適用されない事象がでる模様です。理由は`DataBinder#setMessageCodesResolver`メソッドを呼び出すと、`DataBinder`の内部で保持している`BindingResult`が初期化されてしまい、それ以降に`DataBinder#setAutoGrowCollectionLimit`しても無視されるためです。

こちらも改善要望をSpring JIRA([SPR-15009](https://jira.spring.io/browse/SPR-15009))に発行し対応済みです。Sp

[2016-12-14 06:17] tabatakz opened #2377 "additional namespace description may be needed in "codelist.xml" of blank-project"
## Description
開発ガイドライン（PDF版） P676 のとおり<util:map>タグを利用してコードリストを記述する場合、ネームスペースに以下を追記する必要があります。
- http://www.springframework.org/schema/util
- http://www.springframework.org/schema/util/spring-util.xsd

現状ガイドラインにはその示唆がないためコンパイラに怒られたときに原因調査に多少時間を費やしたと苦情（改善要望）をいただきました。

## Possible Solutions
以下のいずれかでよいと考えています。
- 開発ガイドライン P676 最上段 "codelist.xml" の枠に上記ネームスペースの記載を追加する。
- （あまりきれいではないですが）開発ガイドラインで"codelist

[2016-12-15 06:33] ikeyat opened #2378 "[Sending E-mail (SMTP)] Misleading of using Java Mail RI"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/MessagingDetail/Email.html#id3
では、Tomcatの場合、Java MailのRIを使うようガイドされているように見えるが、
商用でRIを使うことは一般的にはないと思われる。
誤解を受けないよう、現在の記述例は簡単のための例であり、
商用開発では必要に応じてJava Mail実装を利用者側で用意するよう注意書きをしておいた方が良い。

## Possible Solutions
上記のとおり

## Affects Version/s
* 5.2.0.RELEASE
* ~5.1.1.RELEASE

## Fix Version/s
(To be written later

[2016-12-15 13:49] kazuki43zoo commented on #2378
Tomcatに限定した話ではない気がします。
Tomcatであっても、Tomcat側で管理するメールセッション使う場合は、tomcatのlib側にjavamailのjarが必要になるので。(ガイドラインもそういう前提で書いてある)

ちなみに・・Tomcatのリファレンスは、Java MailのRIをダウンロードしてlibに追加する手順になってます。

* http://tomcat.apache.org/tomcat-8.0-doc/jndi-resources-howto.html#JavaMail_Sessions
* http://tomcat.apache.org/tomcat-8.5-doc/jndi-resources-howto.html#JavaMail_Sessions

Tomcat使う時のJava Mailの実装のベストプラクティスって何なんだろう・・。
Apach

[2016-12-15 14:58] ikeyat commented on #2378
すこし不勉強でIssueあげてしまいましたが、JavaMailのRIは元々OracleのJava SEのオプショナルな位置づけだったらしく、2013年からjava.netに移行したみたいですね。
http://www.oracle.com/technetwork/java/javamail/index.html

そしてRIにしてはメンテナンスはきちんとされている模様。
https://java.net/projects/javamail/sources/mercurial/show

あと、しいて言えばSpring IO Platformに含まれている。
他にOSSで著名なJava Mail実装はGNU JavaMailぐらいでしょうか。

ただいずれにしても、あたりまえのようにTERASOLUNA FWに含まれていないライブラリを使用する書き方は混乱を招くので、以下のような書き方に改善

[2016-12-15 15:13] kazuki43zoo commented on #2378
そうですね。

[2016-12-21 06:54] btyoshikawaa commented on #2370
再現性も含めて調査が必要。我々のテストで再現できなければ、クローズで良いと思う。

[2016-12-21 07:17] btyoshikawaa commented on #1991
@sasakitsy
Spring IO Platform Athenes (Spring 4.3.4) applied for 5.3.0 .

[2016-12-21 07:17] #1991 closed

[2016-12-22 01:44] bthayashidi commented on #2372
本Issueの対応内容としてはPostgreSQL使用時にNOWAITが使用できない旨のWarningを記載するのみとする。
Hibernate5.2系からDialect実装をバックポートして本格対処を行う件に関しては優先順位を下げて本Issueの範囲外とする。

[2016-12-22 05:05] btyoshikawaa commented on #2081
@btyanagawamg
I assigned you for task of https://github.com/terasolunaorg/terasoluna-gfw-web-multi-blank/issues/273#issuecomment-260525449 . Please correspond.

[2016-12-22 07:52] kazuki43zoo commented on #2219
@ikeyat

Possible Solutionsに記載されている内容の妥当性（裏付け）ってあります？ ` AbstractBLogicIF`を作るところとか・・怪しさ満点（このインタフェースが必要な合理的な理由が見つからない）な気がしています。

[2016-12-22 08:54] bturamatuyu commented on #2365
対応方法としては、下記の通りでよいでしょうか？
・対応
"6.2.2.3.5. TypeHandlerの設定"の"JSR-310 Date and Time APIを使う場合の設定"の記述(設定方法とTip)削除。
・理由
TERA 5.3.0では、mybatis 3.4.Xを採用しており、JSR-310のtypehandlerは自動検出されるため、
その設定方法及びTipは不要となる。

[2016-12-26 07:53] kazuki43zoo commented on #2219
@ikeyat @bthayashidi @btyoshikawaa

現在のガイドラインの記載には、２つの不備と一つの改善点があると思っています。

## Controllerへのインジェクションに関する説明が間違っている （→不備）

Controllerにインジェクションする型をインタフェース(`BLogic`)ではなくクラス(`XxxBLogic<XxxInput, XxxOutput>`)にしているため、インジェクションできる/できない以前にコンパイルエラーになる。

問題のコード）

[code]

これは、以下のように`BLogic`インタフェース型で受けるようにする必要がある。

[code]

## `@Transactional`を定義する場所の説明がない（→不備）

ガイドラインではトランザクション境界を`@Transactional`を使って指定する方法を推奨してい

[2016-12-26 15:12] ikeyat commented on #2219
記憶が定かではないですが、
* ``AbstractBLogicIF``がないと、``XxxxBLogicIF``の定義が冗長になる（``preExecution()``, ``doExecution()``を``XxxBLogic()``毎に定義しないと行けない）

のため、``AbstractBLogicIF``を用意したと思います。``XxxBLogicIF``はtype解決によるInjectionのためのマーカとして割り切っている想定。
``@Named``を使うなら、``XxxBLogic``は不要になり、``AbstractBLogicIF``だけを定義しておけば十分かと思います。

[2016-12-26 15:28] kazuki43zoo commented on #2219
preExecution とdoExecutionはprotectedなabstract メソッドなので、インタフェースにメソッドを定義する必要はないという認識です。クラス設計として・・・Abustractクラスに対応するインタフェースを用意することにかなり違和感があります。

[2016-12-26 15:48] ikeyat commented on #2219
そうなのですが、そうしない限りタイプセーフなインジェクションの目的を達成できないのでは？と考えていました。

の方法で解決できれば、そちらの構造の方が良いと思います。（``AbstractBLogic``は``BLogic``をimplementsしてる？）

[2016-12-26 15:55] kazuki43zoo commented on #2219
yes.

[2016-12-27 02:05] shimahata opened #2380 "ValidationMessages.propertiesの国際化対応について手順記載のお願い"
## Description
開発ガイドラインに`ValidationMessages.properties`の国際化対応について、詳細手順を記載して頂けませんか。

現状は「4.7. 国際化」で `application-messages.properties` の国際化対応手順は述べられていますが、`ValidationMessages.properties`の国際化対応手順は記載されていないので、初心者には分かりづらいという改善要望をいただきました。

## Possible Solutions
以下のいずれかの対応で如何でしょうか。

・「4.7. 国際化」で`ValidationMessages.properties`の国際化対応手順について追記する。
・「4.1.2.4. エラーメッセージの定義」で`ValidationMessages.properties`の国際化対応手順に

[2016-12-27 03:36] kazuki43zoo commented on #2380
連携ありがとうございます。

今のガイドラインの構成上では、こちらの方が適切でしょうね。
その上で、「4.1. 入力チェック」と「4.6. メッセージ管理」の節から「国際化」へのリンクがあると親切な気がしています。

[2016-12-27 03:52] shimahata commented on #2380
その上で、「4.1. 入力チェック」と「4.6. メッセージ管理」の節から「国際化」へのリンクがあると親切な気がしています。

お示しの通りだと思います。その方向でガイドラインへ反映して頂けると助かります。

[2016-12-28 09:27] bthayashidi opened #2383 "Allow binding=false on @ModelAttribute"
## Description
Spring 4.3で@ModelAttributeにbindingオプションが用意された。

## Possible Solutions
@ModelAttribute(binding=false)についてガイドラインへ解説を追加する。

## Affects Version/s
- [ ] 5.3.0.RELEASE

## Fix Version/s
- [ ] 5.3.0.RELEASE

## Issue Links
* http://qiita.com/kazuki43zoo/items/53d2ca25c174ff618331#%E3%83%AA%E3%82%AF%E3%82%A8%E3%82%B9%E3%83%88%E3%83%91%E3%83%A9%E3%83%A1%E3%83%BC%E3%82%BF%E3%81%AE%E3%83%90%E3

[2017-01-04 01:21] #2383 closed

[2017-01-04 04:42] sasakitsy commented on #2092
過去のバージョンについては、ガイドラインに注意喚起を記載する。

[2017-01-04 07:20] kazuki43zoo commented on #2092
IO Platform AthensはSpring Security 4.1系なので、最新バージョン(5.3系)でも注意喚起の記載が必要だと思います。

[2017-01-04 09:34] ikeyat opened #2384 "Empty values may be rendered when reloaded in PRG pattern"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebApplicationDetail/DoubleSubmitProtection.html#id12
で紹介されているようなPRGのGET部分のコード（POST時の結果をFlash Scopeでモデルを持ち回り、JSPにリダイレクトするだけの処理）だと、GETをブラウザリロードした場合、JSPでモデルにアクセスしている場合に値が空になってしまう。
ガイドラインに書かれている例では、``${f:h(output)}`` が空になってしまう。

[code]

[code]

## Possible Solutions
以下のいずれかが考えられる。
- （要件に応じて）Flash Scopeでの持ち回り

[2017-01-06 04:36] btishimats commented on #2189
ページ横が見切れるものに対しても対処が必要です。
PDFのページ横の見切れが発生しないようにtabularcolumnsを調整して対処します。

[2017-01-06 05:00] btyanagawamg commented on #2081
ガイドラインの1.0.x系には　https://github.com/terasolunaorg/terasoluna-gfw-web-multi-blank/issues/273#issuecomment-260525449　に該当する修正箇所が存在しなかったため、修正対象外でした

[2017-01-06 05:02] #2081 closed

[2017-01-06 11:00] btyoshikawaa commented on #2189
@sasakitsy
このIssueは5.3.0および5.2.1向けで良いですが、他バージョンもリリースする場合に備えて、全バージョン対応しておいたほうが良いと思います。

[2017-01-06 11:13] ikeyat opened #2395 "Incorrect Serializable form class in upload section"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebApplicationDetail/FileUpload.html#id7
4.9.2.2.1. フォームの実装

のクラスはSerializableマーカーがついているが、非Serializableな``MultipartFile`` をフィールドに持っているので、Serializableではない。

## Possible Solutions
- ``impelemnts Serializable`` を取る
- ``MultipartFile``のフィールドを``transient``にする
    - 失われてしまっては業務的に成り立たないような値に``transient``を付けるのは間違

[2017-01-06 11:38] ikeyat opened #2396 "Inconsistent rule regarding I/O object types of Service"
## Description
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ImplementationAtEachLayer/DomainLayer.html#service-class-method-args-return-label
3.2.5.4.3. Serviceクラスのメソッド引数と返り値について

という規約があるが、

 http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/DataAccessDetail/DataAccessMyBatis3.html#entity-sql
や
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Arc

[2017-01-07 09:42] bthondasui commented on #2368
致命的エラーのハンドリングの考え方について検討中。

案１．SystemExceptionとする。
    ・HandlerExceptionResolverの仕組みを使い、例外ハンドリングを行う。

案２．ServletExceptionとする。（Terasoluna5.2と同じ動作）
　・@ExceptionHandlerアノテーションを使い、アプリケーションコードで例外ハンドリングし、サーブレットコンテナにthrowする。
　・SystemExceptionResolverのexcludedExceptionsプロパティにNestedServletExceptionを指定する。

[2017-01-08 14:19] KunimitsuMasuda opened #2397 "「4.1.2.3.1. Spring Validatorによる相関項目チェック実装」の誤記"
## Description
「4.1.2.3.1. Spring **Validatorによる相関項目チェック実装」のフィールド名の記載に誤記がある。
（誤）「confirmPasswordと同じ値であること」というルールはpasswordフィールドと**passwordConfirm**フィールドの～
（正）「confirmPasswordと同じ値であること」というルールはpasswordフィールドと**confirmPassword**フィールドの～

## Affects Version/s
* 5.3.0.RELEASE
* 5.2.1.RELEASE

## Fix Version/s
 - [x] 5.3.0_ja
 - [x] 5.3.0_en
 - [x] 5.2.x_ja
 - [x] 5.2.x_en

[2017-01-10 02:48] NaozumiTaromaru commented on #2395
MultipartFile自体はSerializableのサブインタフェースではないですが、
MultipartFileを実装したStandardMultipartFileとCommonsMultipartFileはSerializableなので、
「大体はシリアライズできるオブジェクト」という微妙なオブジェクトですね。

[2017-01-10 04:21] kazuki43zoo commented on #2395
実際の利用シーンを考えると`MultipartFile`をシリアライズするような使い方はしない気はしますけどね。実際に使うのはリクエストスコープの範囲内で、仮にフォームがセッションスコープであってもシリアライズ対象から除外する(`transient`を付ける)のが正しい気もする。

[2017-01-10 07:33] bthayashidi opened #2399 "Add warning about access restriction to specific URL"
## Description
特定URLに対するアクセス制限に関してWarningを追記する
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/Authorization.html#access-policy-designate-web-resource

## Possible Solutions

## Affects Version/s
- [ ] 5.2.0.RELEASE

## Fix Version/s
- [ ] 5.2.1.RELEASE
- [ ] 5.3.0.RELEASE

## Issue Links

## ChangeLog
 - [ ] Yes

[2017-01-10 09:57] bthayashidi opened #2400 "Support "Content Security Policy (CSP)""
## Description
Spring Security 4.1から"Content Security Policy (CSP)"のHTTPレスポンスヘッダが出力できるようになった。
http://docs.spring.io/spring-security/site/docs/4.1.4.RELEASE/reference/htmlsingle/#headers-csp

## Possible Solutions
"Content Security Policy (CSP)"の使用方法等一式を追記する。
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/LinkageWithBrowser.html

## Affects Version/s
- [ ] 5.3.0.RELEASE

## Fix

[2017-01-10 09:59] bthayashidi opened #2401 "Support for "HTTP Public Key Pinning (HPKP)""
## Description
Spring Security 4.1から"HTTP Public Key Pinning (HPKP)"のHTTPレスポンスヘッダが出力できるようになった。
http://docs.spring.io/spring-security/site/docs/4.1.4.RELEASE/reference/htmlsingle/#headers-hpkp

## Possible Solutions
"HTTP Public Key Pinning (HPKP)"の使用方法等一式を追記する。
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/LinkageWithBrowser.html

## Affects Version/s
- 5.3.0.RELEASE

## Fix V

[2017-01-10 17:46] ikeyat commented on #2395
@NaozumiTaromaru
#2396 の``Page`` と同じケースですね。事実上使われる実装クラスは``Serializable``なんだけど問題。
ただ、``StandardMultipartFile``は内部に``Serializable``でない``Part``がフィールドに居る。。。``Part``の実装クラス次第で``Serializable``になるのかもですが、SonarQubeなどで警告されそうなコードですね。
https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/multipart/support/StandardMultipartHttpServletRequest.java#L252

[2017-01-11 06:43] kazuki43zoo opened #2403 "Support JBoss 7"
## Description
JBoss 7をサポートするにあたり、ガイドラインへの影響を調べて必要に応じて反映する。

## Possible Solutions
See https://github.com/terasolunaorg/guideline/issues/2403#issuecomment-279654223

## Affects Version/s
\-

## Fix Version/s
- [x] 5.3.0

## Issue Links
* #XXX

## ChangeLog
No

[2017-01-11 13:21] bthondasui commented on #2368
**案１　サーブレット単位のハンドリングを推奨**
    ・・・ HandlerExceptionResolverの仕組みを使い、例外ハンドリングを行う。

**＜メリット＞**

- Springの考え方（致命的エラーをMVCでハンドリング可能になった）に合う。

**＜デメリット＞**
- 既存プロジェクトへの改修量が多い。
- ログ出力のされ方や、エラー画面遷移の動きが既存プロジェクト(Terasoluna5.2まで)から変わる。
- @ExceptionHandlerを使用したNestedServletExceptionのハンドリングについて、十分な検証が出来ていない。
- ガイドライン、ブランクプロジェクトに関する修正量が多い。

**案２　Webアプリケーション単位のハンドリングを推奨**
    ・・・ SystemExceptionResolverのexcludedExc

[2017-01-12 09:24] btfurukawatkr opened #2405 "Update JDBC Jar version for postgresql"
## Description
The version described in guideline for postgresql jdbc jar is old now( postgresql-9.3-1102-jdbc41.jar )

## Possible Solutions
Change the version to the latest one.

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
- [x] 5.3.0
- [x] 5.2.1
- [x] 5.1.2
- [x] 5.0.3
- [x] 1.0.6 description not found.

## Issue Links
* #XXX

## ChangeLog
not required.

[2017-01-13 04:17] bthayashidi opened #2406 "Support for "path variables in web security expressions""
## Description
Spring Security 4.1からWebリソースへの認可でパス変数値が参照可能となった。
http://docs.spring.io/spring-security/site/docs/4.1.3.RELEASE/reference/htmlsingle/#el-access-web-path-variables

## Possible Solutions
使用方法に関して追記する

## Affects Version/s
* 5.3.0.RELEASE

## Fix Version/s
 - [x] 5.3.0.RELEASE

## Issue Links
*

## ChangeLog
 - [x] Yes

[2017-01-13 06:06] kazuki43zoo commented on #1775
@sasakitsy, please create issue for translation.

[2017-01-13 10:12] btyoshikawaa commented on #2260
@btfurukawatkr
Please backport to 5.2.x !

[2017-01-16 05:17] kazuki43zoo commented on #2403
あと、JBoss EAP 7向けの[Wiki](https://github.com/terasolunaorg/terasoluna-gfw/wiki/JBoss_ja)に載せる情報も併せて整理してほしいです。

[2017-01-16 07:19] btyoshikawaa commented on #2260
@sasakitsy
Please create translation issue and close this.

[2017-01-17 00:07] kazuki43zoo opened #2410 "Typo in sample of spring-mvc.xml"
## Description
There is a typo in sample of `spring-mvc.xml`

same with https://github.com/terasolunaorg/terasoluna-gfw-web-multi-blank/blob/master/projectName-web/src/main/resources/META-INF/spring/spring-mvc.xml#L25.

## Possible Solutions

`workarround` > `workaround`

## Affects Version/s
* 5.2.0.RELEASE

## Fix Version/s
- [x] 5.3.0
- [x] 5.2.1

## Issue Links
\-

[2017-01-17 15:04] ikeyat opened #2412 "Inconsistent expression regarding handling exception in Service"
## Description
Serviceが解決するメッセージの種類のところで、「警告メッセージ、業務エラーメッセージの２つ」という記載がある。
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ImplementationAtEachLayer/DomainLayer.html#service-return-message-label

一方、同じ節の中に、システムエラーを解決している箇所があります。http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ImplementationAtEachLayer/DomainLayer.html#id85

記述内容が矛盾している。

## Possible Solutions
後者は特殊なケースは例外的なケースを紹介

[2017-01-17 16:23] kazuki43zoo commented on #2412
@ikeyat

誤解を招かないように直すのはagreeですが・・・

システムエラー時の（画面）メッセージをServiceレイヤで解決する想定はなく、SystemExceptionに設定するのは障害解析用のログメッセージのつもりで記載してます。システムエラーの画面メッセージは基本的には固定にするのが一般的だと思っているので、そういった内容が伝わるように修正するべきだと考えています。

[2017-01-17 23:56] ikeyat commented on #2412
もともと第三者からのフィードバックで、私もわかりづらいと思ったのですが、
たしかに「画面」メッセージ、という一言を入れるだけでスッキリしますね。

[2017-01-18 06:03] btratodos opened #2413 "Japanese text in an Image"
## Description
There exists Japanese text 「リソースのアクセスポリシーの連携」 in 9.3.1.1. Authorization process architecture of English documentation.
Same in case of 9.3.1.1. 認可処理のアーキテクチャ of Japanese documentation.
Refer link: http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/en/Security/Authorization.html#authorization-process-architecture

## Possible Solutions
Ideally there should not be any Japanese text

[2017-01-18 07:37] btideues opened #2414 "Expand "Specifying options of security header""
## Description
「ブラウザのセキュリティ対策機能との連携」の「セキュリティヘッダのオプション指定」のspring-security.xmlの定義例にframe-optionsしか記載されていない。

## Possible Solutions
frame-options以外のセキュリティヘッダについても例に記載する。

## Affects Version/s
\-

## Fix Version/s
(To be written later by project member)

## Issue Links
* #2411
* http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/LinkageWithBrowser.html#id7

## ChangeLog
(To be written

[2017-01-18 16:58] kazuki43zoo commented on #2413
Oh ... @btratodos , thanks for your reporting.
I agree with your suggestion !!

[2017-01-19 05:51] btyoshikawaa commented on #1293
see https://github.com/terasolunaorg/guideline/pull/2404#issuecomment-273679849

[2017-01-19 10:51] #2400 closed

[2017-01-20 05:03] btyoshikawaa commented on #2405
@btfurukawatkr
Please backport!

[2017-01-20 06:02] btfurukawatkr commented on #2405
@btyoshikawaa
I've created backport PR's except for 1.0.x since there wasn't any jdbc driver versions mentioned in that version

[2017-01-20 06:11] btyoshikawaa commented on #2405
@btfurukawatkr
OK, I had excluded 1.0.6 from target.

[2017-01-20 06:14] #2405 closed

[2017-01-20 07:03] kazuki43zoo commented on #2219
@btfurukawatkr Please backport to 1.0.x.

[2017-01-20 09:29] kazuki43zoo commented on #2219
必須バージョン（5.3.0, 5.2.1, 1.0.6）での対応は完了

[2017-01-20 16:19] kazuki43zoo commented on #2219
日本語版は対応完了。

[2017-01-24 08:49] btyoshikawaa opened #2427 "Writing clearly when internationalization is not applicable"
## Description
国際化のOverviewに、以下の記述があるが、どのような例を指しているのかが分かりづらく、
ガイドラインの他章では、国際化を意識していないコード例もあるため、実装者がハマりやすい。
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebApplicationDetail/Internationalization.html#overview
[code]
例えば以下のコード例では、`errorPage`で直接JSPを指定すると、Spring MVCを介さずに遷移するため、`LocaleChangeInterceptor`等が作用せず、意図した国際化が適用されない。
http://terasolunaorg.github.io/guideline/5.2

[2017-01-25 09:53] bthayashidi opened #2428 "In Spring Security 4.1, AntPathRequestMatcher is case sensitive"
## Description
Spring Security 4.1からAntPathRequestMatcherのデフォルトがcase sensitiveになった。
https://github.com/spring-projects/spring-security/issues/3831

Spring Securityの<sec:intercept-url pattern>で設定するパスと、Spring MVCの@RequestMappingで設定するパスが大文字小文字まで合っていないと、認可をすり抜けるなどの問題を引き起こす可能性がある。
特に5.3.0より前のバージョンから5.3.0へバージョンアップした場合に問題が起きやすいと思われる。
※Spring MVCは以前からcase sensitive

## Possible Solutions
パス設定に関する注意喚起をガイドラ

[2017-01-25 10:41] btyoshikawaa commented on #407
@kazuki43zoo @btfurukawatkr
（@kazuki43zoo とお話したことのログです）

#### Java Beanを使ったStringのラッパークラスによる実装 について
今回のシナリオは、画面のチェックボックスを`List<String>`にバインドしてチェックする場合を想定して書いているので`Formatter`を利用した実装で良いと思うのですが、メソッドバリデーションとか、画面（文字列）との変換に縛られずに、ピュアにコレクションの値をラップしてチェックする方法を考えた場合、`Formatter`より`Converter`実装のほうが適切なんじゃない？みたいな話もあるかと思います。

##### #2055 Add explanation about bean conversions in Spring MVC
本来は、こちらのIssueにあるとおりSpri

[2017-01-25 10:42] btyoshikawaa commented on #2055
Please see https://github.com/terasolunaorg/guideline/issues/407#issuecomment-275075410 .

[2017-01-25 11:47] sasakitsy opened #2429 "Translate #1775 (MyBatis 3.4よりJDBC4.0実装のBLOB/CLOB用のTypeHandlerが追加される)"
## Description
Please translate a modification #1775

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2386/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-01-25 11:50] sasakitsy commented on #1775
I will close this issues, Because I've created issue for translate #2429

[2017-01-25 11:50] #1775 closed

[2017-01-25 12:34] sasakitsy opened #2432 "Translate #2219 (AbstractBLogic structure prevents a creation of proxy class that may lead AOP disabled or mis-injection)"
## Description
Please translate a modification #2219

Modification refer to https://github.com/terasolunaorg/guideline/pull/2387/files

## Fix Version/s
- [ ]  5.3.0_en
- [ ]  5.2.1_en
- [ ]  5.1.2_en
- [ ]  5.0.3_en
- [ ]  1.0.6_en

## ChangeLog
- [ ]  5.3.0_en
- [ ]  5.2.1_en
- [ ]  5.1.2_en
- [ ]  5.0.3_en
- [ ]  1.0.6_en

[2017-01-25 12:35] sasakitsy commented on #2219
I will close this issue, Because I've created issue for translate #2432

[2017-01-25 12:35] #2219 closed

[2017-01-25 12:40] sasakitsy opened #2433 "Translate #2260 (URL constraint description is misleading)"
## Description
Please translate a modification #2260

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2376/files

## Fix Version/s
- [x]  5.3.0_en
- [x]  5.2.1_en

## ChangeLog
- [x]  5.3.0_en
- [x]  5.2.1_en

[2017-01-25 12:43] sasakitsy commented on #2260
I will close this issue, because I've created an issue for translate #2433

[2017-01-25 12:43] #2260 closed

[2017-01-25 12:59] #2410 closed

[2017-01-25 13:00] btyoshikawaa commented on #2410
Both Japanese and English version are completed.

[2017-01-25 13:29] kazuki43zoo commented on #2401
@sasakitsy

please create a new issue to translate this.

[2017-01-25 13:36] sasakitsy opened #2435 "Translate #2401 (Support for "HTTP Public Key Pinning (HPKP)")"
## Description
Please translate a modification #2401

Modifications refer to

* https://github.com/terasolunaorg/guideline/pull/2419/files
* https://github.com/terasolunaorg/guideline/pull/2493/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-01-25 13:39] sasakitsy commented on #2401
I will close this issue because I've created an issue for translate for #2435

[2017-01-25 13:45] kazuki43zoo commented on #2271
2017 Winterでの5.2.xのフレームワークスタックバージョンアップは更新しないため、対象は5.3のみ。

[2017-01-25 14:23] #2271 closed

[2017-01-26 04:59] kazuki43zoo commented on #2369
@sasakitsy Please create a new issue for English translation.

[2017-01-26 06:30] btfurukawatkr commented on #2189
以下のSphinxのドキュメントでtables節の末尾のWarningに
`Tables with more than 30 rows are rendered using longtable, not tabulary, in order to allow pagebreaks.`
という記述がありました。

http://www.sphinx-doc.org/en/1.5.2/markup/misc.html#tables

縦が見切れるのは、30行以下だけどテーブル内の改行や折り返しによって1ページに収まらなくなったため、と思われます。

tableに`:class: longtable`を追加することで30行以内のテーブルでもlongtableとして改ページできるようになります。

[2017-01-26 07:00] sasakitsy commented on #2371
@sasakitsy
Translate it.

[2017-01-26 08:10] kmiya opened #2437 "Minor typos in SpringSecurity.rst"
## Description
There are some typos in `SpringSecurity.rst`.
<http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/SpringSecurity.html>

## Possible Solutions
### 1
<http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/SpringSecurity.html#id8>

should be

and the following suggestion would be more natural:

### 2
<http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/j

[2017-01-26 10:01] kmiya opened #2438 "Some more minor typos"
## Description
Some more minor typos in the Japanese Development Guideline.

## Possible Solutions
### 1
<http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/DataAccessDetail/DataAccessMyBatis3.html#entity-mybatis3>

sould be

### 2
<http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/Security/Authentication.html#springsecurityauthenticationlogout>

should be

###

[2017-01-27 03:28] bthayashidi opened #2439 "Describe the content and measures on some CVE"
## Description
Spring Frameworkに関連するいくつかのCVEに対して、その内容と対策等をガイドラインへ記載する

## Possible Solutions
CVEに対応したバージョンのライブラリを使用していないものについて記載する

| CVE# | 5.2.1 | 5.1.2 | 5.0.3 | 1.0.6 |
| --- | --- | --- | --- | --- |
| CVE-2016-9878 | ○ | ○ | ○ | |
| CVE-2016-9879 | ○ | ○ | ○ | ○ |
| CVE-2016-6652 | ○ | ○ | ○ | ○ |

* CVE-2016-5007関連は#2399で実施

## Affects Version/s
* 5.2.1.RELEASE
* 5.1.2.RELEASE
* 5.0.3.RELEA

[2017-01-27 04:48] bthayashidi opened #2441 "Update new OSS stacks for 5.3.0 and 1.0.6"
## Description
OSS stacks in the Guidelines is before version.

## Possible Solutions
Modify new OSS stacks version to Guide.

## Affects Version/s
- 5.3.0.RELEASE
- 1.0.6.RELEASE

## Fix Version/s
- [x] 5.3.0_ja
- [ ] 5.3.0_en
- [x] 1.0.6_ja
- ~~1.0.6_en~~

## Issue Links
* https://github.com/terasolunaorg/terasoluna-gfw/issues/643
* https://github.com/terasolunaorg/terasoluna-gfw/issues/645
* ht

[2017-01-27 10:55] bthayashidi opened #2444 "remove -DarchetypeCatalog"
## Description
Maven centralへの移行に伴い、archetypeからの生成時に指定している「-DarchetypeCatalog」が不要になる

## Possible Solutions
「-DarchetypeCatalog」に関する記述を除去する

## Affects Version/s
* 5.3.0.RELEASE
## Fix Version/s
- [x] 5.3.0_ja
- [x] 5.3.0_en

## Issue Links

## ChangeLog
 - [x] required

[2017-01-27 15:46] kazuki43zoo commented on #2399
@bturamatuyu

- [ ] `:emphasize-lines: 2,3` は削除してください。ハイライトする意味がないし、GitHub上でレンダリングできないなどデメリットの方が多いので。

[2017-01-27 16:10] kazuki43zoo commented on #2365
@sasakitsy Please create a new issue for translation.

[2017-01-31 01:53] bturamatuyu commented on #2399
@kazuki43zoo san
下記コメントの対応が完了し、1.0.xと5.2.xと5.3.xのPRを提出しました。

[2017-01-31 07:00] btyoshikawaa commented on #1704
@sasakitsy
Please create issue for translation, and close this.

[2017-01-31 09:20] bthayashidi opened #2453 "Check broken or old link and update for 2017 Winter"
## Description
リンク切れや古い情報を参照しているリンクがないか調査して、必要であれば更新を行う。

## Possible Solutions

## Affects Version/s
* 5.3.0.RELEASE
* 5.2.1.RELEASE
* 1.0.6.RELEASE

## Fix Version/s
 - [x] 5.3.0_ja
 - [x] 5.3.0_en
 - [x] 5.2.1_ja
 - [x] 5.2.1_en
 - [x] 1.0.6_ja
 - [x] 1.0.6_en

## Issue Links
* #2052

## ChangeLog
 Not required.

[2017-01-31 11:03] kuramotoki opened #2454 "Add `@AssertTrue` of BeanValidation to correlation item check."
## Description
Bean Validationの`@AssertTrue`はメソッドに付与することで相関チェックを実現することができる。
実現手段として手軽だと思うため、妥当な手法ならば記載してほしい。
反して、何かしらの理由で使わないほうが良いならばその理由を記載して欲しい。

## Possible Solutions
`4.1.3. How to extend`のBeanValidationの相関チェックにおいて、`@AssertTrue`を使用した場合について解説を追記する。

## Affects Version/s
* 5.2.0.RELEASE

## Fix Version/s
(To be written later by project member)

## Issue Links
* #XXX

## ChangeLog
(To be written

[2017-01-31 11:31] kuramotoki opened #2455 "add detail way of Processing and data flow without Repository"
## Description
`2.4.2.2. Repositoryを使用しない時の処理の流れ`において、
`データアクセスの抽象化が必要ないのであれば、Repositoryは作成せず、以下の図のように、Serviceから直接O/R Mapperを呼び出すようにすればよい`という記述があるが、
その後具体的な手段であるMyBatisやJPAの解説において、直接O/R Mapperを呼び出す方法は語っていないように見える。
直接呼び出すとなると、MyBatisであればSqlSession、JPAであればHibernateのメソッドを直接呼び出すようにも思えるが、それは意図から外れていると推測する。
当該記述は削除する、もしくは、実装手段で追記したうえでリンクを貼る、といった対応をしたほうが良いと考える。

## Possible Solutions
`2.4.2.2. Repository

[2017-02-01 09:44] #2397 closed

[2017-02-02 04:21] sasakitsy opened #2461 "Translate #2368 (@ExceptionHandler is able to process Error thrown from handler method since Spring MVC 4.3)"
## Description
Please translate a modification #2368

Modifications refer to

* https://github.com/terasolunaorg/guideline/pull/2409/files
* https://github.com/terasolunaorg/guideline/pull/2475/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-02 04:23] sasakitsy commented on #2368
I will close this issue because I've created an issue for translate for #2461

[2017-02-02 04:31] sasakitsy opened #2462 "Translate #2369 (Added AsyncRestTemplate interceptors since Spring MVC 4.3)"
## Description
Please translate a modification #2369

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2381/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-02 04:32] sasakitsy commented on #2369
I will close this issue , Because I've created issue for translate #2462

[2017-02-02 04:32] #2369 closed

[2017-02-02 04:35] sasakitsy opened #2463 "Translate #2365 (Can detect type handlers for JSR-310 automatically since MyBatis 3.4)"
## Description
Please translate a modification #2365

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2379/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-02 04:36] sasakitsy commented on #2365
I will close this issue because I've created an issue for translate for #2463

[2017-02-02 04:36] #2365 closed

[2017-02-03 02:28] kazuki43zoo commented on #2406
@sasakitsy please create a new issue for translate.

[2017-02-03 09:32] bturamatuyu opened #2470 "Fixing incorrect description that default value of "aggressiveLazyLoading" is false"
## Description
aggressiveLazyLoadingのデフォルト値は**true**だが、aggressiveLazyLoadingのデフォルト値は**false**だと記載されてしまっている。

該当箇所：
「6.2.4.5.2.3. Lazy Loadの実行タイミングを制御するための設定」の章のwarning内の下記記述

## Possible Solutions
下記文の「デフォルト」を削除する。

↓

## Affects Version/s
以下のバージョン以前が該当。
* 5.2.X.RELEASE

## Fix Version/s
- [x] 5.2.1

## Issue Links
* #2364

## ChangeLog
No

[2017-02-04 11:59] sasakitsy opened #2471 "Translate #2406 (Support for "path variables in web security expressions")"
## Description
Please translate a modification #2406

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2465/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-04 12:01] sasakitsy commented on #2406
translate for #2471
and close this issue.

[2017-02-04 12:01] #2406 closed

[2017-02-04 12:05] sasakitsy opened #2472 "Translate #2371 (HttpRequestMethodNotSupportedException occurs when accessing Path set by <mvc: view-controller> with POST method)"
## Description
Please translate a modification #2371

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2388/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-04 12:07] sasakitsy commented on #2371
translating for #2472
so, close this issue.

[2017-02-04 12:07] #2371 closed

[2017-02-06 03:27] btyoshikawaa commented on #1293
@bturamatuyu
Please write for 5.2.1 .

[2017-02-06 04:44] kuramotoki opened #2473 "add way of how to custom error message for spring security exceptions"
## Description
`9.2.2.1.3. ログインフォームの作成`や`4.6.4.2. ResultMessagesを使用しない結果メッセージの表示`で、
`SPRING_SECURITY_LAST_EXCEPTION`によりSpringSecurityのメッセージを画面表示する方法が説明されている。
いずれにおいても、メッセージをカスタマイズするための方法が書かれていない。
以下のURLの内容をガイドしてほしい。
http://stackoverflow.com/questions/1373407/how-to-display-custom-error-message-in-jsp-for-spring-security-auth-exception

## Possible Solutions
`4.6. メッセージ管理`に`SPRING_SECURITY_LAST_EXC

[2017-02-06 08:44] bthondasui commented on #2368
再検証したところ、@ExceptionHandler(NestedServletException.class)でハンドリングしリスローするだけではサーブレットコンテナに通知されないことが分かった。そのため、リスローしている場合でもSystemExceptionResolverの除外設定が必要になる。ガイドラインに反映が必要なため、再オープンする。

[2017-02-07 04:33] btnoguchimnm opened #2476 "Correct mapping between field and column name (Todo tutorial using Spring Data JPA)"
## Description
Spring Data JPAを利用したTodoチュートリアルにおいて、エンティティのフィールド名とDBカラム名を明示的に対応させる必要がある。
（HibernateのVersion upにより仕様が変わったため)

## Possible Solutions
`@Column`アノテーションで対応する。

## Affects Version/s
* 5.3.0.RELEASE

## Fix Version/s
- [x] 5.3.0_ja
- [x] 5.3.0_en

## ChangeLog
- [x] required

[2017-02-07 05:10] btnoguchimnm opened #2477 "Investigation of changes due to version upgrade to Hibernate 5.0 and reflection on guidelines"
## Description
Hibernate 5.0へのバージョンアップによる変更点を調査し、必要があればガイドラインに反映する。

## Possible Solutions
(Please write ideas or candidates of solutions for the problem if you have)

## Affects Version/s
* 5.X.X.RELEASE
* 1.X.X.RELEASE

## Fix Version/s
(To be written later by project member)

## Issue Links
* #XXX

## ChangeLog
(To be written later by project member)

[2017-02-07 07:07] bttamuratsh commented on #2403
- jboss-deployment-structure.xmlの作成と設定
何も設定しなくてもデプロイは出来ますが、最低限"org.slf4j"を除外しないと正しくログ出力されずgfwのテストに失敗します。またwarのライブラリとバージョンが同じでたまたま問題が起こっていないモジュールがいくつかあるので、それらについても除外リストに追加したほうが無難です。

- URIエンコーディングの設定
JBoss6ではstandalone.xmlにエンコーディングの設定を追加する必要がありますが、JBoss7では不要です。

- ファイルアップロード（Commons FileUpload）の設定
Servlet3のファイルアップロード機能を使えますが、そのままではマルチバイト文字のファイル名が文字化けしてしまいます。standalone.xmlのservlet-containerタグにパラメータd

[2017-02-08 01:30] kazuki43zoo commented on #2473
あれ・・Spring徹底入門には記載したのになんでガイドから漏れているのだろう・・・。

[2017-02-08 02:37] sasakitsy opened #2479 "Translate #2140 (Settings for mybatis-typehandlers-jsr310 is not enough)"
## Description
Please translate a modification #2140

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2142/files

## Fix Version/s
- [x]  5.3.0_en
- [x]  5.2.1_en

## ChangeLog
- [x]  5.3.0_en
- [x]  5.2.1_en

[2017-02-08 02:38] sasakitsy commented on #2140
Close this issue.
This issue will be translated for #2479

[2017-02-08 02:38] #2140 closed

[2017-02-08 03:04] yoshikawaa opened #2480 "Misdescription in chapter of downloading Excel file"
## Description
4.10.2.2. Excelファイルのダウンロード - 4.10.2.2.1. カスタムViewの実装
http://terasolunaorg.github.io/guideline/5.2.0.RELEASE/ja/ArchitectureInDetail/WebApplicationDetail/FileDownload.html#id4
記述誤り、および不明な点がある

* **AbstractXlsxViewを継承したクラスの実装例**
`SampleExcelView#getCell`メソッドや`setText`メソッドを使っているが、実装（またはそれを省略）している記述がないため、実装例をコピーして使おうとすると動かない。
[code]

* **Mavenのpom.xmlに POIの定義を追加する**
`exclusions`タグのある位置が

[2017-02-08 03:05] btyoshikawaa commented on #2480
@sasakitsy
記述が誤っているので、できれば5.3.0&5.2.1で対応できると良いです。

[2017-02-08 07:58] kazuki43zoo commented on #2372
@sasakitsy

Please create a new issue for translation.

[2017-02-08 10:12] btyoshikawaa commented on #407
@sasakitsy
Please create translate issue, and close this.

[2017-02-08 11:28] kazuki43zoo commented on #2375
@sasakitsy
Please create a issue for translation.

[2017-02-08 12:35] sasakitsy opened #2482 "Translate #2375 (Should be enable the rollbackOnCommitFailure option)"
## Description
Please translate a modification #2375

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2440/files

## Fix Version/s
- [x]  5.3.0_en
- [x]  5.2.1_en

## ChangeLog
- [x]  5.3.0_en
- [x]  5.2.1_en

[2017-02-08 12:38] sasakitsy commented on #2375
Translate here (#2482).
And close this issue.

[2017-02-08 12:38] #2375 closed

[2017-02-08 12:42] sasakitsy opened #2483 "Translate #2372 ("select for update nowait" can not be used in Hibernate 5.0(PostgreSQL))"
## Description
Please translate a modification #2372

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2385/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-08 12:43] sasakitsy commented on #2372
Translate in #2483
And close this issue.

[2017-02-08 12:43] #2372 closed

[2017-02-08 12:49] sasakitsy opened #2484 "Translate #407 (Support validation for String object in collection)"
## Description
Please translate a modification #407

Modifications refer to https://github.com/terasolunaorg/guideline/pull/2452/files

Modifications refer to https://github.com/terasolunaorg/guideline/pull/1939/files

## Fix Version/s
- [x]  5.3.0_en

## ChangeLog
- [x]  5.3.0_en

[2017-02-08 12:49] sasakitsy commented on #407
Translate in #2484
And close this issue.

[2017-02-08 12:49] #407 closed

[2017-02-08 13:03] sasakitsy commented on #2153
"1432行目 ヘッダ属性の編集については、\ :refJMSHowToUseSettingForSendWithHeader\ を参照されたい。"
should be fixed same errors in English version.

[2017-02-09 04:18] #2476 closed

[2017-02-09 05:46] kazuki43zoo commented on #2461
I've added #2475 as translation target pull-request.

[2017-02-09 08:00] shimahata opened #2489 "about how to set the selected value in a Spring MVC <form:select> tag"
## Description
開発ガイドラインに`<form:select>`タグを用いたセレクトボックスのoptionリストの任意のoption要素を選択状態`selected="true"`にする方法を記載して頂けませんか。

現状は「4.8.2.1.2. JSPでのコードリスト使用」でコードリストを`<form:select>`タグを用いてセレクトボックスに表示する方法は述べられていますが、セレクトボックスのoptionリストの任意のoprion要素
を選択状態`selected="true"`にする方法について言及されていないので、分かりづらいという改善要望をいただきました。

## Possible Solutions
任意のoption要素を選択状態`selected="true"`にするには、Formの`<form:select>`タグ値用のプロパティにselectedにした

[2017-02-09 08:20] bttamuratsh opened #2490 "Fix wrong word in SOAP Web Service page in English guideline"
## Description
In SOAP Web Service page, section 5.3.1.5. URL to be published as Web service, context "route" is written as コンテキストルート in English.  I think context "root" is correct.

## Affects Version/s
* 5.X.X.RELEASE

## Fix Version/s
- [x] 5.3.0
- [x] 5.2.1

## Issue Links
N/A

## ChangeLog
No

[2017-02-09 08:48] #2153 closed

[2017-02-09 09:07] bttakehirah commented on #2368
Change excludedExceptions to the following.
<set> to <array>

[2017-02-10 01:53] btyoshikawaa commented on #2427
@sasakitsy
Please write translate issue, and close this.

[2017-02-10 02:06] kazuki43zoo commented on #2368
@bthayashidi @btyoshikawaa

これブランクPJに反映する必要があると思っています。

[2017-02-10 02:11] kazuki43zoo commented on #2368
@bthayashidi @btyoshikawaa

あと、サンプルアプリ（tour reservation）も。